Repository FreeTubeApp/FreeTube: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, prettier --check

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "eslint --cache",
  "{src,_scripts}/**/*.{js,ts,vue}": "prettier --check"
}

Translated using Weblate (Samoan)
  static/locales/sm.yaml
Due: none

Translated using Weblate (Belarusian)
  static/locales/be.yaml
Due: none

Translated using Weblate (Serbian)
  static/locales/sr.yaml
Due: none

Handle IP blocks better on the watch page
  src/renderer/views/Watch/Watch.js
  static/locales/en-US.yaml
Due: eslint --cache, prettier --check

Correct the error message
  src/renderer/views/Watch/Watch.js
Due: eslint --cache, prettier --check

remove .gray class
  src/renderer/themes.css
Due: none

fix: check for present video duration in history (with small refactoring)
  src/renderer/helpers/playlists.js
  src/renderer/views/Playlist/Playlist.js
Due: eslint --cache, prettier --check

fix: if fallback value gotten from history, still mark as missing duration
  src/renderer/views/Playlist/Playlist.js
Due: eslint --cache, prettier --check

Handle IP blocks better on the watch page (#5757)
  src/renderer/views/Watch/Watch.js
  static/locales/en-US.yaml
Due: eslint --cache, prettier --check

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Clarify how to add subscriptions (#5778)
  static/locales/en-US.yaml
Due: none

Fix subscriptions CSV import shortening channel names
  src/renderer/components/data-settings/data-settings.js
Due: eslint --cache, prettier --check

^ Upgrade electron-builder 24 > 25 (#5782)
  package.json
  yarn.lock
Due: none

Update subscription details from search results
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Search/Search.js
Due: eslint --cache, prettier --check

fix hashtag page not using invidious api
  src/renderer/helpers/api/invidious.js
  src/renderer/views/Hashtag/Hashtag.js
Due: eslint --cache, prettier --check

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Danish)
  static/locales/da.yaml
Due: none

Make adding themes easier (#5071)
  src/main/index.js
  src/renderer/components/ft-share-button/ft-share-button.css
  src/renderer/components/ft-share-button/ft-share-button.scss
  src/renderer/components/ft-share-button/ft-share-button.vue
  src/renderer/themes.css
Due: eslint --cache, prettier --check

^ Upgrade eslint 8 > 9 & config
  .eslintignore
  .eslintrc.js
  eslint.config.mjs
  eslint.json.config.mjs
  eslint.yaml.config.mjs
  package.json
  yarn.lock
Due: eslint --cache

* Update config for json to use flat config too
  eslint.json.config.mjs
Due: none

! Fix config for vue 2
  eslint.config.mjs
  src/main/index.js
Due: eslint --cache, prettier --check

* Import list of locales from another file
  eslint.config.mjs
Due: none

* Use flat config when possible, remove unused stuff
  eslint.json.config.mjs
  eslint.yaml.config.mjs
Due: none

* Merge config files
  eslint.config.mjs
  eslint.json.config.mjs
  eslint.yaml.config.mjs
  package.json
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

* Remove vue 3 rules, improve imports
  eslint.config.mjs
  package.json
Due: none

Add authorId to internal post URL when it is missing
  src/renderer/views/Post/Post.js
Due: eslint --cache, prettier --check

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none
