Repository FreeTubeApp/FreeTube: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, prettier --check

Creating a computed property to de-couple filteredVideoList from the store getters (SRP)
  src/renderer/components/SubscriptionsTabUi/SubscriptionsTabUi.vue
Due: eslint --cache, prettier --check

Transferred filtering logic to SubscriptionsTabUi component
  src/renderer/helpers/subscriptions.js
Due: eslint --cache, prettier --check

Show more information on long playlists. (#7804)
  src/renderer/components/PlaylistInfo/PlaylistInfo.vue
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Playlist/Playlist.vue
Due: eslint --cache, prettier --check

Translated using Weblate (Chinese (Traditional Han script))
  static/locales/zh-TW.yaml
Due: none

* Make clicking on progress bar scroll the view instead of playing the video
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
Due: eslint --cache, prettier --check

* Update thumbnail size to be slightly bigger w/ aspect ratio 4/3 like small width one
  src/renderer/components/watch-video-playlist/watch-video-playlist.css
Due: none

add isHearted span to child comment
  src/renderer/components/CommentSection/CommentSection.vue
Due: eslint --cache, prettier --check

Translated using Weblate (Swedish)
  static/locales/sv.yaml
Due: none

Translated using Weblate (Croatian)
  static/locales/hr.yaml
Due: none

Translated using Weblate (Breton)
  static/locales/br.yaml
Due: none

feat: add catppuccin latte theme
  _icons/iconCatppuccinLatteDarkSmall.svg
  _icons/iconCatppuccinLatteLightSmall.svg
  _icons/textCatppuccinLatteDarkSmall.svg
  _icons/textCatppuccinLatteLightSmall.svg
  src/renderer/components/ThemeSettings.vue
  src/renderer/composables/colors.js
  src/renderer/helpers/colors.js
  src/renderer/themes.css
  static/locales/en-US.yaml
Due: eslint --cache, prettier --check

add case to index.js
  src/main/index.js
Due: eslint --cache, prettier --check

Translated using Weblate (Basque)
  static/locales/eu.yaml
Due: none

Translated using Weblate (Welsh)
  static/locales/cy.yaml
Due: none

add toggle to hide channels based on text
  src/renderer/components/DistractionSettings/DistractionSettings.css
  src/renderer/components/DistractionSettings/DistractionSettings.vue
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/components/FtListVideoLazy.vue
  src/renderer/store/modules/settings.js
  src/renderer/views/Watch/Watch.js
  static/locales/en-US.yaml
Due: eslint --cache, prettier --check

Fix mouse wheel actions
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint --cache, prettier --check

Make appimage updateable if project sets up `latest` tag [UNTESTED]
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

add isHearted span to child comment (#7926)
  src/renderer/components/CommentSection/CommentSection.vue
Due: eslint --cache, prettier --check

remove metadata from svg
  _icons/iconCatppuccinLatteDarkSmall.svg
  _icons/iconCatppuccinLatteLightSmall.svg
  _icons/textCatppuccinLatteDarkSmall.svg
  _icons/textCatppuccinLatteLightSmall.svg
Due: none

fix alphabet order
  src/renderer/components/ThemeSettings.vue
  src/renderer/composables/colors.js
  src/renderer/helpers/colors.js
  static/locales/en-US.yaml
Due: eslint --cache, prettier --check

Update shaka-player to 4.16.x
  _scripts/patchShaka.mjs
  package.json
  src/constants.js
  src/renderer/components/ft-shaka-video-player/player-components/AudioTrackSelection.js
  src/renderer/components/ft-shaka-video-player/player-components/AutoplayToggle.js
  src/renderer/components/ft-shaka-video-player/player-components/FullWindowButton.js
  src/renderer/components/ft-shaka-video-player/player-components/LegacyQualitySelection.js
  src/renderer/components/ft-shaka-video-player/player-components/ScreenshotButton.js
  src/renderer/components/ft-shaka-video-player/player-components/StatsButton.js
  src/renderer/components/ft-shaka-video-player/player-components/TheatreModeButton.js
  yarn.lock
Due: eslint --cache, prettier --check

Fix FtSelect validation warning in the player settings
  src/renderer/components/PlayerSettings/PlayerSettings.vue
Due: eslint --cache, prettier --check

Fix FtSelect validation warning in the player settings (#7955)
  src/renderer/components/PlayerSettings/PlayerSettings.vue
Due: eslint --cache, prettier --check

Skip unnecessary shorts subscription cache writes
  src/datastores/handlers/base.js
Due: eslint --cache, prettier --check

Hide more Invidious specific functionality when backend fallback is disabled
  src/datastores/handlers/base.js
  src/main/index.js
  src/renderer/components/DistractionSettings/DistractionSettings.vue
  src/renderer/components/FtShareButton/FtShareButton.vue
  src/renderer/components/ft-list-video/ft-list-video.js
Due: eslint --cache, prettier --check

add "remember its state in the watch session"
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/player-components/SkipSilenceButton.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
Due: eslint --cache, prettier --check

add "a toggle in the Player settings called Enable [name of the feature] by Default"
  src/renderer/components/PlayerSettings/PlayerSettings.vue
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint --cache, prettier --check

Compressed Images
  _icons/iconColor.png
  src/renderer/assets/img/defaultBanner.png
  src/renderer/assets/img/yt_logo_mono_dark.png
Due: none

Re-order entries in the overflow menu on mobile
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint --cache, prettier --check

Transform in-app URLs into YouTube URLs when dragging them
  src/renderer/App.js
  src/renderer/components/SideNav/SideNav.css
Due: eslint --cache, prettier --check

Reduce nesting in the code
  src/datastores/handlers/base.js
Due: eslint --cache, prettier --check

* Use smaller iamges for preview
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
Due: eslint --cache, prettier --check

* Use template ref instead of querySelector
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
Due: eslint --cache, prettier --check

$ Refactor style & remove outdated comment
  src/renderer/components/watch-video-playlist/watch-video-playlist.css
Due: none

* Remove usage of template ref array as ordered array
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
Due: eslint --cache, prettier --check

! Workaround preview covered by other elements when previewing earlier items
  src/renderer/components/watch-video-playlist/watch-video-playlist.css
Due: none

feat: Add random sort option to search filters
  src/renderer/components/FtSearchFilters/FtSearchFilters.vue
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/api/local.js
  static/locales/en-US.yaml
Due: eslint --cache, prettier --check

feat: Implement comprehensive random search with multi-page fetching
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/api/local.js
Due: eslint --cache, prettier --check

test: Add comprehensive testing infrastructure for random search
  MANUAL_TESTING_CHECKLIST.md
  stress-test-random-search.js
  test-random-search.js
Due: eslint --cache

Path conditions:
  eslint --cache: any of: *.{js,ts,vue}
  prettier --check: any of: {src,_scripts}/**/*.{js,ts,vue}
