Repository FreeTubeApp/FreeTube: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, prettier --check

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "eslint --cache",
  "{src,_scripts}/**/*.{js,ts,vue}": "prettier --check"
}

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

Play next/prev video after removing current video from the playlist (#5158)
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
Due: eslint --cache, prettier --check

Translated using Weblate (Chinese (Simplified))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Chinese (Traditional))
  static/locales/zh-TW.yaml
Due: none

Translated using Weblate (Dutch)
  static/locales/nl.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Translated using Weblate (Serbian)
  static/locales/sr.yaml
Due: none

Update menu font size for mobile devices
  src/renderer/components/ft-settings-menu/ft-settings-menu.css
Due: none

* Only show blank playlist name message when spaces input
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.js
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.vue
Due: eslint --cache, prettier --check

adding ft-logo-full component and using it on about page
  src/renderer/components/ft-logo-full/ft-logo-full.scss
  src/renderer/components/ft-logo-full/ft-logo-full.vue
  src/renderer/themes.css
  src/renderer/views/About/About.js
  src/renderer/views/About/About.vue
Due: eslint --cache, prettier --check

running lint-fix
  src/renderer/components/ft-logo-full/ft-logo-full.vue
Due: eslint --cache, prettier --check

clear filter after each search
  src/renderer/components/top-nav/top-nav.js
  src/renderer/views/Search/Search.js
Due: eslint --cache, prettier --check

Use auto scrollbar size for all scrollbars except the side nav (#5172)
  src/renderer/components/side-nav/side-nav.css
  src/renderer/themes.css
Due: none

Local API: Extract releases on auto-generated artist topic channels
  src/renderer/helpers/api/local.js
  src/renderer/views/Channel/Channel.js
Due: eslint --cache, prettier --check

Translated using Weblate (Croatian)
  static/locales/hr.yaml
Due: none

Fix mouse backward and forward buttons not updating the in-app buttons
  src/constants.js
  src/main/index.js
  src/renderer/App.js
  src/renderer/components/top-nav/top-nav.js
Due: eslint --cache, prettier --check

Fix arrow keys not working in the Create New Playlist prompt
  src/renderer/components/ft-prompt/ft-prompt.js
  src/renderer/components/ft-prompt/ft-prompt.vue
Due: eslint --cache, prettier --check

Disable @intlify/vue-i18n/no-deprecated-tc eslint rule as it does not apply to Vue 2
  .eslintrc.js
Due: eslint --cache

Disable undesired `enable_session_cache` setting
  src/renderer/helpers/api/local.js
Due: eslint --cache, prettier --check

convert unnecessary scss file to css
  src/renderer/components/ft-logo-full/ft-logo-full.css
  src/renderer/components/ft-logo-full/ft-logo-full.vue
Due: eslint --cache, prettier --check

updating class names to be more descriptive
  src/renderer/components/ft-logo-full/ft-logo-full.css
  src/renderer/components/ft-logo-full/ft-logo-full.vue
  src/renderer/views/About/About.css
Due: eslint --cache, prettier --check

Translated using Weblate (Romanian)
  static/locales/ro.yaml
Due: none

Disable @intlify/vue-i18n/no-deprecated-tc eslint rule as it does not apply to Vue 2 (#5249)
  .eslintrc.js
Due: eslint --cache

Allow multiple prompts to be open at the same time
  src/renderer/App.vue
Due: eslint --cache, prettier --check

Local API: Extract playlists on the auto-generated "Music" channel
  src/renderer/helpers/api/local.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Playlist/Playlist.js
Due: eslint --cache, prettier --check

Fix mouse backward and forward buttons not updating the in-app buttons (#5242)
  src/constants.js
  src/main/index.js
  src/renderer/App.js
  src/renderer/components/top-nav/top-nav.js
Due: eslint --cache, prettier --check

! Fix create button not disabled when input name blank (not empty)
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.vue
Due: eslint --cache, prettier --check

!* Fix message shown in edit mode, update edit mode to show error message for empty/blank/duplicate input playlist name
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/playlist-info/playlist-info.vue
Due: eslint --cache, prettier --check

* Show no. of items to be deleted on prompts
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/playlist-info/playlist-info.vue
  static/locales/en-US.yaml
Due: eslint --cache, prettier --check

$ Fix indentation warning from lint
  src/renderer/components/playlist-info/playlist-info.vue
Due: eslint --cache, prettier --check

Add confirmation popup before unsubscribing (#4896)
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.js
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.vue
  src/renderer/components/subscription-settings/subscription-settings.js
  src/renderer/components/subscription-settings/subscription-settings.vue
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint --cache, prettier --check

Local API: Extract playlists on the auto-generated "Music" channel (#5250)
  src/renderer/helpers/api/local.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Playlist/Playlist.js
Due: eslint --cache, prettier --check
