Repository FreeTubeApp/FreeTube: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, prettier --check

^ Update electron 20.x (#2681)
  package.json
  yarn.lock
Due: none

Making `pack:web` work by adding polyfill (#2678)
  _scripts/webpack.web.config.js
  package.json
  yarn.lock
Due: eslint --cache, prettier --check

Remove the now unused jquery dependency (#2682)
  package.json
  yarn.lock
Due: none

Create stale.yml (#2680)
  .github/workflows/no-response.yml
  .github/workflows/stale.yml
Due: none

add new lint rules
  .eslintrc.js
Due: eslint --cache

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Adding an import for setImmediate
  src/renderer/components/ft-toast/ft-toast.js
Due: eslint --cache, prettier --check

Translated using Weblate (Japanese)
  static/locales/ja.yaml
Due: none

Replacing node specific call to `setImmediate`
  src/renderer/components/ft-toast/ft-toast.js
Due: eslint --cache, prettier --check

Translated using Weblate (Finnish)
  static/locales/fi.yaml
Due: none

update proxy feature
  README.md
Due: none

Replacing `setImmediate` with `setTimeout` (#2683)
  src/renderer/components/ft-toast/ft-toast.js
Due: eslint --cache, prettier --check

Move fetching of the sponsorblock segments out of the store
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/helpers/sponsorblock.js
  src/renderer/store/modules/sponsorblock.js
Due: eslint --cache, prettier --check

Remove unused property from the invidious store
  src/renderer/store/modules/invidious.js
Due: eslint --cache, prettier --check

clarify extension builds
  README.md
Due: none

Hiding two vjs controls when the screen is narrow
  src/renderer/videoJS.css
Due: none

Fixing the logic for `isExternalLink`
  src/renderer/App.js
Due: eslint --cache, prettier --check

add shortcut to subscription refresh button
  src/renderer/views/Subscriptions/Subscriptions.js
Due: eslint --cache, prettier --check

add shortcut to most popular refresh button
  src/renderer/views/Popular/Popular.js
Due: eslint --cache, prettier --check

add shortcut to trending refresh button
  src/renderer/views/Trending/Trending.js
Due: eslint --cache, prettier --check

prevent refresh if currently loading
  src/renderer/views/Popular/Popular.js
  src/renderer/views/Subscriptions/Subscriptions.js
  src/renderer/views/Trending/Trending.js
Due: eslint --cache, prettier --check

Remove unused property from the invidious store (#2686)
  src/renderer/store/modules/invidious.js
Due: eslint --cache, prettier --check

revert previous commit and add statement
  README.md
Due: none

Removing a `width:auto` which was overriding
  src/renderer/components/general-settings/general-settings.sass
Due: none

Move fetching of the sponsorblock segments out of the store (#2684)
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/helpers/sponsorblock.js
  src/renderer/store/modules/sponsorblock.js
Due: eslint --cache, prettier --check

Hiding two vjs controls when the screen is narrow (#2688)
  src/renderer/videoJS.css
Due: none

Fixing the logic for `isExternalLink` (#2687)
  src/renderer/App.js
Due: eslint --cache, prettier --check

Making the general-settings component not overflow
  src/renderer/components/ft-select/ft-select.css
  src/renderer/components/ft-settings-section/ft-settings-section.sass
  src/renderer/components/ft-toggle-switch/ft-toggle-switch.sass
  src/renderer/components/general-settings/general-settings.sass
Due: none

Reducing margin in settings when window is narrow
  src/renderer/components/ft-settings-section/ft-settings-section.sass
Due: none

Moving invidious instance tooltip to reduce overflow
  src/renderer/components/ft-settings-section/ft-settings-section.sass
Due: none

Reducing the width of sliders to be 100% at maximum
  src/renderer/components/ft-slider/ft-slider.css
Due: none

Advertise FT better in README (#2677)
  README.md
Due: none

Improve Importing Subscriptions (#2604)
  src/renderer/components/data-settings/data-settings.js
  src/renderer/components/data-settings/data-settings.vue
  static/locales/en-US.yaml
Due: eslint --cache, prettier --check

Reducing overflow in Theme Settings
  src/renderer/components/ft-select/ft-select.css
  src/renderer/components/ft-settings-section/ft-settings-section.sass
  src/renderer/components/general-settings/general-settings.sass
Due: none

Reducing the remaining overflow in settings
  src/renderer/components/ft-settings-section/ft-settings-section.sass
Due: none

Expanding the sponsorblock settings to full width
  src/renderer/components/ft-sponsor-block-category/ft-sponsor-block-category.sass
Due: none

Moving remaining tooltips into a fixed zone
  src/renderer/components/ft-settings-section/ft-settings-section.sass
  src/renderer/components/ft-toggle-switch/ft-toggle-switch.sass
Due: none

Cleanup the web webpack config
  _scripts/webpack.web.config.js
  package.json
  yarn.lock
Due: eslint --cache, prettier --check

Floating the tooltip icon to the right
  src/renderer/components/ft-settings-section/ft-settings-section.sass
Due: none

Removing some irrelevant changes
  src/renderer/components/ft-select/ft-select.css
  src/renderer/components/ft-settings-section/ft-settings-section.sass
  src/renderer/components/ft-slider/ft-slider.css
  src/renderer/components/general-settings/general-settings.sass
Due: none

Path conditions:
  eslint --cache: any of: *.{js,ts,vue}
  prettier --check: any of: {src,_scripts}/**/*.{js,ts,vue}
