Repository FreeTubeApp/FreeTube: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, prettier --check

Use test script instead of jest for git push hook
  .simple-git-hooks.json
Due: none

Add pretty quick for staged file formatting on demand
  package-lock.json
  package.json
Due: none

Change lockfile version back to 1
  package-lock.json
Due: none

Add sample component test for channel bubbles
  tests/unit/components/ft-channel-bubble/ft-channel-bubble.spec.js
Due: eslint --cache

Add setup configuration for test suite
  tests/setup.js
Due: eslint --cache

Add testing via jest CI workflow
  .github/workflows/tests.yml
Due: none

Add sample e2e test for main window during application launch
  tests/e2e/main-window.spec.js
Due: eslint --cache

Add formatting via prettier CI workflow
  .github/workflows/formatter.yml
Due: none

Remove prepare script since simple hooks has post install setup script
  package.json
Due: none

Format and add attributes to facilitate testing
  src/renderer/components/ft-channel-bubble/ft-channel-bubble.vue
Due: eslint --cache, prettier --check

Use test and jest scripts interchangeably and display only relevant info
  package.json
Due: none

Update simple git hooks library
  package-lock.json
  package.json
Due: none

Add import order checks to eslint
  .eslintrc.js
  package-lock.json
  package.json
Due: eslint --cache

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

Enable headless test running for e2e tests via xvfb
  package-lock.json
  package.json
Due: none

Consolidate linting, formatting and testing into a single workflow
  .github/workflows/ci.yml
  .github/workflows/formatter.yml
  .github/workflows/linter.yml
  .github/workflows/tests.yml
Due: none

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Add consent cookie to fix comments and various problems
  src/main/index.js
Due: eslint --cache, prettier --check

Add second consent cookie for compatibility
  src/main/index.js
Due: eslint --cache, prettier --check

Remove trailing spaces
  src/main/index.js
Due: eslint --cache, prettier --check

Add 'enable-file-cookies' flag
  src/main/index.js
Due: eslint --cache, prettier --check

Add more URLs for consent cookie
  src/main/index.js
Due: eslint --cache, prettier --check

Remove stray spaces
  src/main/index.js
Due: eslint --cache, prettier --check

Added correct github secret to automation
  .github/workflows/report.yml
Due: none

Linter fix
  src/renderer/components/watch-video-comments/watch-video-comments.vue
Due: eslint --cache, prettier --check

Added board automation for Bugs and Features (#1146)
  .github/workflows/report.yml
  src/renderer/components/watch-video-comments/watch-video-comments.vue
Due: eslint --cache, prettier --check

Translated using Weblate (Russian)
  static/locales/ru.yaml
Due: none

Remove unneeded session import
  src/main/index.js
Due: eslint --cache, prettier --check

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Bumped yt-comment-scraper version
  package-lock.json
  package.json
Due: none

Bumped yt-comment-scraper version (#1179)
  package-lock.json
  package.json
Due: none

Translated using Weblate (Dutch)
  static/locales/nl.yaml
Due: none

Update youtube-suggest module
  package.json
Due: none

Fixed package-lock
  package-lock.json
Due: none

Fixed package-lock (#1185)
  package-lock.json
Due: none

Translated using Weblate (Romanian)
  static/locales/ro.yaml
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Fix for missing import of marked as watched videos
  src/renderer/components/data-settings/data-settings.js
  src/renderer/components/ft-list-video/ft-list-video.js
Due: eslint --cache, prettier --check

Path conditions:
  eslint --cache: any of: *.{js,ts,vue}
  prettier --check: any of: {src,_scripts}/**/*.{js,ts,vue}
