Repository FreeTubeApp/FreeTube: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, prettier --check

Fix static file serving and slow dev server startup
  _scripts/dev-runner.js
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
Due: eslint --cache, prettier --check

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none

set showUIOnPaused to false
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint --cache, prettier --check

Fix playlist channel name (#9862)
  src/renderer/helpers/api/local.js
Due: eslint --cache, prettier --check

Add Shorten view count numbers using K, M, B suffixes (#9721)
  src/renderer/components/FtListVideo/FtListVideo.vue
Due: eslint --cache, prettier --check

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Fix static file serving and slow dev server startup (#9875)
  _scripts/dev-runner.js
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
Due: eslint --cache, prettier --check

Display a different icon for courses, releases, podcasts
  src/renderer/components/FtListPlaylist/FtListPlaylist.vue
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/api/local.js
  src/renderer/main.js
Due: eslint --cache, prettier --check

Fix invidious channels not showing correct icon in channel tab
  src/renderer/components/FtListPlaylist/FtListPlaylist.vue
Due: eslint --cache, prettier --check

Add isAlbum check for GridPlaylist
  src/renderer/helpers/api/local.js
Due: eslint --cache, prettier --check

switch to a property for the playlist icon
  src/renderer/components/FtListPlaylist/FtListPlaylist.vue
Due: eslint --cache, prettier --check

Use if/else instead of custom method and add fa to icon names
  src/renderer/components/FtListPlaylist/FtListPlaylist.vue
Due: eslint --cache, prettier --check

Add support for YouTube's new course lockup
  src/renderer/helpers/api/local.js
Due: eslint --cache, prettier --check

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Welsh)
  static/locales/cy.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Display a different icon for courses, releases, podcasts (#9800)
  src/renderer/components/FtListPlaylist/FtListPlaylist.vue
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/api/local.js
  src/renderer/main.js
Due: eslint --cache, prettier --check

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Add self-hosted PWA build with bundled Invidious instance
  .github/workflows/pwa-images.yml
  pwa/.env.example
  pwa/.gitignore
  pwa/Dockerfile
  pwa/Dockerfile.dockerignore
  pwa/FreeTubePwaPlugin.js
  pwa/README.md
  pwa/compose.build.yaml
  pwa/compose.yaml
  pwa/invidious/Dockerfile
  pwa/invidious/config.yml
  pwa/invidious/entrypoint.sh
  pwa/invidious/run-invidious.sh
  pwa/invidious/supervisord.conf
  pwa/manifest.webmanifest
  pwa/nginx.conf
  pwa/patches/index.js
  pwa/patches/replace-loader.js
  pwa/pwa-config.js
  pwa/register-sw.js
  pwa/sw.js
  pwa/webpack.pwa.config.js
Due: eslint --cache

remove distinction between list and grid view posts
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
Due: eslint --cache, prettier --check

force grid view on the video embeds
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
Due: eslint --cache, prettier --check

remove obsolete variable
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
Due: eslint --cache, prettier --check

move prev grid rules into general rule
  src/renderer/components/FtCommunityPost/FtCommunityPost.scss
Due: none

set community post images to contain
  src/renderer/components/FtCommunityPost/FtCommunityPost.scss
Due: none

Fix rounding errors in carousel view
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
Due: eslint --cache, prettier --check

Translated using Weblate (Azerbaijani)
  static/locales/az.yaml
Due: none

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

* Update default grid mode item padding to be the same as video in playlist with custom sort
  src/renderer/components/FtListVideo/FtListVideo.scss
  src/renderer/scss-partials/_ft-list-item.scss
Due: none

Translated using Weblate (Japanese)
  static/locales/ja.yaml
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Remove obsolete list item rules
  src/renderer/components/FtCommunityPost/FtCommunityPost.scss
Due: none

Path conditions:
  eslint --cache: any of: *.{js,ts,vue}
  prettier --check: any of: {src,_scripts}/**/*.{js,ts,vue}
