Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Update themes.css (#6673)
  src/renderer/themes.css
Due: stylelint

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Translated using Weblate (Finnish)
  static/locales/fi.yaml
Due: none

Added translation using Weblate (Awadhi)
  static/locales/awa.yaml
Due: none

Translated using Weblate (Awadhi)
  static/locales/awa.yaml
Due: none

Change the release workflow to accept the release ID as an input
  .github/workflows/release.yml
Due: none

Request the single instance lock as soon as possible
  src/datastores/handlers/base.js
  src/datastores/index.js
  src/main/index.js
Due: eslint

* Implement watch progress saving mode setting
  src/datastores/handlers/base.js
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/privacy-settings/privacy-settings.js
  src/renderer/components/privacy-settings/privacy-settings.vue
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/components/watch-video-info/watch-video-info.scss
  src/renderer/components/watch-video-info/watch-video-info.vue
  src/renderer/main.js
  src/renderer/store/modules/settings.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

Translated using Weblate (Chinese (Traditional Han script))
  static/locales/zh-TW.yaml
Due: none

Translated using Weblate (Slovak)
  static/locales/sk.yaml
Due: none

Translated using Weblate (Welsh)
  static/locales/cy.yaml
Due: none

Translated using Weblate (Afrikaans)
  static/locales/af.yaml
Due: none

Feature: parental control -> hide video and channel info
  src/renderer/components/ParentalControlSettings.vue
  src/renderer/store/modules/settings.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
  static/locales/en-US.yaml
Due: eslint

Fix orientation of option
  src/renderer/components/ParentalControlSettings.vue
Due: eslint

Change the release workflow to accept the release ID as an input (#6751)
  .github/workflows/release.yml
Due: none

Translated using Weblate (Persian)
  static/locales/fa.yaml
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Request the single instance lock as soon as possible (#6752)
  src/datastores/handlers/base.js
  src/datastores/index.js
  src/main/index.js
Due: eslint

Translated using Weblate (Belarusian)
  static/locales/be.yaml
Due: none

add overflow-wrap on ft-list-item (#6731)
  src/renderer/scss-partials/_ft-list-item.scss
Due: stylelint

Use logical spec for float
  .stylelintrc.json
  src/renderer/components/CommentSection/CommentSection.css
  src/renderer/components/FtCommunityPoll/FtCommunityPoll.css
  src/renderer/components/ft-input-tags/ft-input-tags.css
  src/renderer/components/ft-input/ft-input.css
  src/renderer/components/ft-profile-selector/ft-profile-selector.css
  src/renderer/components/playlist-info/playlist-info.scss
  src/renderer/themes.css
  src/renderer/views/Watch/Watch.scss
Due: stylelint

reuse template in the view when possible
  src/renderer/helpers/api/local.js
  src/renderer/views/Watch/Watch.scss
  src/renderer/views/Watch/Watch.vue
Due: eslint, stylelint

Add support for upcoming livestream trailers
  src/renderer/helpers/api/local.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.scss
  src/renderer/views/Watch/Watch.vue
Due: eslint, stylelint

add 'local' to function name to get post comments, update innertube methods to reflect naming changes made in the youtube.js PR
  src/renderer/components/CommentSection/CommentSection.vue
  src/renderer/helpers/api/local.js
  src/renderer/views/Post.vue
Due: eslint

Allow comments to be sorted when using local api
  src/renderer/helpers/api/local.js
  src/renderer/views/Post.vue
Due: eslint

Add local api support for viewing community posts
  src/renderer/components/CommentSection/CommentSection.vue
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
  src/renderer/helpers/api/local.js
  src/renderer/views/Post.vue
Due: eslint

remove unused translation strings
  static/locales/af.yaml
  static/locales/ar.yaml
  static/locales/be.yaml
  static/locales/bg.yaml
  static/locales/br.yaml
  static/locales/cs.yaml
  static/locales/cy.yaml
  static/locales/de-DE.yaml
  static/locales/en-GB.yaml
  static/locales/en-US.yaml
  static/locales/es.yaml
  static/locales/et.yaml
  static/locales/eu.yaml
  static/locales/fa.yaml
  static/locales/fr-FR.yaml
  static/locales/he.yaml
  static/locales/hr.yaml
  static/locales/hu.yaml
  static/locales/is.yaml
  static/locales/it.yaml
  static/locales/ja.yaml
  static/locales/my.yaml
  static/locales/nl.yaml
  static/locales/pl.yaml
  static/locales/pt-BR.yaml
  static/locales/pt.yaml
  static/locales/ru.yaml
  static/locales/sr.yaml
  static/locales/ta.yaml
  static/locales/tr.yaml
  static/locales/uk.yaml
  static/locales/vls.yaml
  static/locales/zh-CN.yaml
  static/locales/zh-TW.yaml
Due: none

remove new translations
  static/locales/id.yaml
  static/locales/pt-PT.yaml
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
