Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Update player-settings.vue (#4511)
  src/renderer/components/player-settings/player-settings.vue
Due: eslint

Setting to turn on subtitles by default (#4450)
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/components/player-settings/player-settings.js
  src/renderer/components/player-settings/player-settings.vue
  src/renderer/store/modules/settings.js
Due: eslint

Fix auto-translated captions not being ordered properly in non-English languages
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/views/Watch/Watch.js
Due: eslint

Fix locale showing as 'locale name' in captions list
  _scripts/ProcessLocalesPlugin.js
  src/renderer/components/ft-video-player/ft-video-player.js
Due: eslint

! Fix comment sort breakpoint
  src/renderer/components/watch-video-comments/watch-video-comments.css
Due: stylelint

Fix style for the Select component (#4405)
  src/renderer/components/ft-select/ft-select.css
  src/renderer/components/general-settings/general-settings.css
  src/renderer/components/proxy-settings/proxy-settings.css
  src/renderer/components/proxy-settings/proxy-settings.vue
  src/renderer/components/watch-video-comments/watch-video-comments.css
  src/renderer/views/Channel/Channel.css
  src/renderer/views/Channel/Channel.vue
Due: eslint, stylelint

Add toggle to supress sending additional args to ext. players
  src/renderer/components/external-player-settings/external-player-settings.js
  src/renderer/components/external-player-settings/external-player-settings.vue
  src/renderer/store/modules/settings.js
  src/renderer/store/modules/utils.js
  static/locales/en-US.yaml
  static/locales/en_GB.yaml
Due: eslint

Reverse ignoreArgs conditional logic
  src/renderer/store/modules/utils.js
Due: eslint

Add back favorites icon
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/scss-partials/_ft-list-item.scss
Due: eslint, stylelint

Implement Watch Later
  src/datastores/handlers/base.js
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/components/watch-video-info/watch-video-info.vue
  src/renderer/scss-partials/_ft-list-item.scss
  src/renderer/store/modules/playlists.js
  static/locales/en-US.yaml
Due: eslint, stylelint

Point to & refer to Favorites instead of Watch Later
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/components/watch-video-info/watch-video-info.vue
  static/locales/en-US.yaml
Due: eslint

Remove Watch Later playlist altogether
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/store/modules/playlists.js
  static/locales/en-US.yaml
Due: eslint

+ Add feature to set a playlist as quick bookmark target
  src/constants.js
  src/datastores/handlers/base.js
  src/datastores/handlers/electron.js
  src/datastores/handlers/web.js
  src/main/index.js
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/main.js
  src/renderer/scss-partials/_ft-list-item.scss
  src/renderer/store/modules/playlists.js
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint, stylelint

* Update playlist view to auto load next page for local API to workaround issue of useless continuation data
  src/renderer/views/Playlist/Playlist.js
Due: eslint

Add back button to watch page
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/components/watch-video-info/watch-video-info.vue
Due: eslint

focus behavior style update
  src/renderer/scss-partials/_ft-list-item.scss
Due: stylelint

* Different button text when video saved
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/components/watch-video-info/watch-video-info.vue
  static/locales/en-US.yaml
Due: eslint

! Fix mutation function `removeVideos` (still unused)
  src/renderer/store/modules/playlists.js
Due: eslint

* Make default generated favorites playlist as default quick bookmark target
  src/renderer/components/privacy-settings/privacy-settings.js
  src/renderer/store/modules/settings.js
Due: eslint

Add dearrow support for thumbnails
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/sponsor-block-settings/sponsor-block-settings.js
  src/renderer/components/sponsor-block-settings/sponsor-block-settings.vue
  src/renderer/helpers/sponsorblock.js
  src/renderer/store/modules/settings.js
  src/renderer/store/modules/utils.js
Due: eslint

! Add fix for `deleteVideoIdsByPlaylistId`
  src/datastores/handlers/base.js
Due: eslint

add translations
  src/renderer/components/sponsor-block-settings/sponsor-block-settings.vue
  static/locales/en-US.yaml
Due: eslint

* Update button text
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/watch-video-info/watch-video-info.js
  static/locales/en-US.yaml
Due: eslint

Improve movie parsing logic
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/helpers/api/local.js
Due: eslint

check for null instead of truthy
  src/renderer/components/ft-list-video/ft-list-video.vue
Due: eslint

* Update quick bookmark playlist first allow revert later
  src/renderer/components/playlist-info/playlist-info.js
  static/locales/en-US.yaml
Due: eslint

* Update single playlist view to hide fav button when viewing the target playlist
  src/renderer/components/ft-list-video-lazy/ft-list-video-lazy.js
  src/renderer/components/ft-list-video-lazy/ft-list-video-lazy.vue
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Playlist/Playlist.vue
Due: eslint

Translated using Weblate (Chinese (Simplified))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Serbian)
  static/locales/sr.yaml
Due: none

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Disable custom arg input if args are disabled
  src/renderer/components/external-player-settings/external-player-settings.vue
Due: eslint

add missing tooltip
  static/locales/en-US.yaml
Due: none

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Portuguese (Portugal))
  static/locales/pt-PT.yaml
Due: none
