Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Switch to manifestPreprocessorTXml
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Make affirmative label clearer for Ask Before Opening prompt
  src/renderer/App.js
  static/locales/en-US.yaml
Due: eslint

update piped instance list
  static/piped-instances.json
Due: none

Improve search filter & modal accessibility (#3975)
  package.json
  src/renderer/App.js
  src/renderer/App.vue
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.js
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.vue
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.css
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.js
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.vue
  src/renderer/components/ft-prompt/ft-prompt.css
  src/renderer/components/ft-prompt/ft-prompt.js
  src/renderer/components/ft-prompt/ft-prompt.vue
  src/renderer/components/ft-radio-button/ft-radio-button.css
  src/renderer/components/ft-radio-button/ft-radio-button.js
  src/renderer/components/ft-radio-button/ft-radio-button.vue
  src/renderer/components/ft-search-filters/ft-search-filters.css
  src/renderer/components/ft-search-filters/ft-search-filters.js
  src/renderer/components/ft-search-filters/ft-search-filters.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/top-nav/top-nav.scss
  src/renderer/components/top-nav/top-nav.vue
  src/renderer/main.js
  src/renderer/store/modules/utils.js
  yarn.lock
Due: eslint, stylelint

Add support for VR videos that use equirectangular projection
  package.json
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.vue
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
  yarn.lock
Due: eslint, stylelint

The AV1 video streams work okay for vr, so allow list them too
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Make restart prompt not destructive
  src/renderer/components/theme-settings/theme-settings.vue
Due: eslint

Format links and show title in the in-app changelog
  src/renderer/App.js
Due: eslint

Use woff2 (169 KB) Material Icons font instead of otf (390 KB)
  _scripts/patchShaka.mjs
  src/main/index.js
Due: eslint

Use material icons for custom player elements
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
  src/renderer/components/ft-shaka-video-player/player-components/FullWindowButton.js
  src/renderer/components/ft-shaka-video-player/player-components/ScreenshotButton.js
  src/renderer/components/ft-shaka-video-player/player-components/StatsButton.js
  src/renderer/components/ft-shaka-video-player/player-components/TheatreModeButton.js
  src/renderer/main.js
Due: eslint, stylelint

Stop using deprecated additionalAssets hook
  _scripts/ProcessLocalesPlugin.js
Due: eslint

Watch locale files without webpack-watch-external-files-plugin
  _scripts/ProcessLocalesPlugin.js
  _scripts/webpack.renderer.config.js
  package.json
  yarn.lock
Due: eslint

Use Maps instead of objects
  _scripts/ProcessLocalesPlugin.js
Due: eslint

Distinguish destructive actions (#4374)
  src/renderer/App.js
  src/renderer/components/data-settings/data-settings.js
  src/renderer/components/data-settings/data-settings.vue
  src/renderer/components/experimental-settings/experimental-settings.js
  src/renderer/components/experimental-settings/experimental-settings.vue
  src/renderer/components/ft-button/ft-button.css
  src/renderer/components/ft-button/ft-button.js
  src/renderer/components/ft-button/ft-button.vue
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.vue
  src/renderer/components/ft-icon-button/ft-icon-button.scss
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.vue
  src/renderer/components/ft-profile-channel-list/ft-profile-channel-list.js
  src/renderer/components/ft-profile-channel-list/ft-profile-channel-list.vue
  src/renderer/components/ft-profile-edit/ft-profile-edit.js
  src/renderer/components/ft-profile-edit/ft-profile-edit.vue
  src/renderer/components/ft-prompt/ft-prompt.js
  src/renderer/components/ft-prompt/ft-prompt.vue
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/components/privacy-settings/privacy-settings.js
  src/renderer/components/privacy-settings/privacy-settings.vue
  src/renderer/components/theme-settings/theme-settings.js
  src/renderer/themes.css
  static/locales/en-US.yaml
Due: eslint, stylelint

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

Translated using Weblate (Chinese (Simplified))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Chinese (Traditional))
  static/locales/zh-TW.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Fix incorrect check in privacy settings
  src/renderer/components/privacy-settings/privacy-settings.js
Due: eslint

Update prompt names to be more specific for playlist remove watched / delete playlist buttons
  src/renderer/components/playlist-info/playlist-info.js
Due: eslint

Update banner close button color
  src/renderer/App.vue
Due: eslint

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Use webpack's file timestamps instead of checking the files ourselves
  _scripts/ProcessLocalesPlugin.js
Due: eslint

Add hot reloading
  _scripts/ProcessLocalesPlugin.js
  _scripts/dev-runner.js
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
  src/renderer/i18n/index.js
Due: eslint

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Distinguish destructive action fixes (#5048)
  src/renderer/App.vue
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/privacy-settings/privacy-settings.js
Due: eslint

Inject hot reload code snippet
  _scripts/ProcessLocalesPlugin.js
  _scripts/_hotReloadLocalesScript.js
  src/renderer/i18n/index.js
Due: eslint

Add ozone arg to prevent startup issue on some Linux platforms
  _scripts/ebuilder.config.js
Due: eslint

Translated using Weblate (Croatian)
  static/locales/hr.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Update styling of search results
  src/renderer/components/ft-input/ft-input.css
  src/renderer/components/ft-input/ft-input.vue
Due: eslint, stylelint

Translated using Weblate (Dutch)
  static/locales/nl.yaml
Due: none

Update disabled ft-icon-button styling to show title on hover and use aria-disabled
  src/renderer/components/ft-icon-button/ft-icon-button.scss
  src/renderer/components/ft-icon-button/ft-icon-button.vue
Due: eslint, stylelint

Update Quick Bookmark button logic
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/playlist-info/playlist-info.vue
Due: eslint

Import regular fontawesome icons for showing the bookmark
  package.json
  src/renderer/main.js
  static/locales/en-US.yaml
  yarn.lock
Due: eslint

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Swedish)
  static/locales/sv.yaml
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
