Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Translated using Weblate (Latvian)
  static/locales/lv.yaml
Due: none

change default locale to system
  src/renderer/store/modules/settings.js
Due: eslint

changed visual ordering of 'show less' button
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.css
Due: stylelint

Translated using Weblate (Afrikaans)
  static/locales/af.yaml
Due: none

Add support for hms timestamp in query string (#6012)
  src/renderer/helpers/utils.js
Due: eslint

Translated using Weblate (Breton)
  static/locales/br.yaml
Due: none

Migrate PasswordSettings and PasswordDialog to the composition API
  src/renderer/components/PasswordDialog/PasswordDialog.css
  src/renderer/components/PasswordDialog/PasswordDialog.vue
  src/renderer/components/PasswordSettings/PasswordSettings.css
  src/renderer/components/PasswordSettings/PasswordSettings.vue
  src/renderer/components/password-dialog/password-dialog.js
  src/renderer/components/password-dialog/password-dialog.vue
  src/renderer/components/password-settings/password-settings.js
  src/renderer/components/password-settings/password-settings.vue
  src/renderer/views/Settings/Settings.js
Due: eslint, stylelint

Migrate FtProgressBar to the composition API
  src/renderer/App.js
  src/renderer/components/FtProgressBar/FtProgressBar.css
  src/renderer/components/FtProgressBar/FtProgressBar.vue
  src/renderer/components/ft-progress-bar/ft-progress-bar.js
  src/renderer/components/ft-progress-bar/ft-progress-bar.vue
Due: eslint, stylelint

Migrate FtProgressBar to the composition API (#6041)
  src/renderer/App.js
  src/renderer/components/FtProgressBar/FtProgressBar.css
  src/renderer/components/FtProgressBar/FtProgressBar.vue
  src/renderer/components/ft-progress-bar/ft-progress-bar.js
  src/renderer/components/ft-progress-bar/ft-progress-bar.vue
Due: eslint, stylelint

Add a polyfill for vue-i18n's useI18n() composable
  _scripts/eslint-rules/plugin.mjs
  _scripts/eslint-rules/use-i18n-polyfill-rule.mjs
  eslint.config.mjs
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/composables/use-i18n-polyfill.js
Due: eslint

Translated using Weblate (Ukrainian)
  static/locales/uk.yaml
Due: none

reverted previous change; added top margin to show less button
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.css
Due: stylelint

Add some missing jsdoc comments, add jsdoc eslint plugin
  .github/dependabot.yml
  _scripts/getShakaLocales.js
  eslint.config.mjs
  package.json
  src/renderer/components/ChannelDetails/ChannelDetails.vue
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
  src/renderer/components/FtElementList/FtElementList.vue
  src/renderer/components/FtListChannel/FtListChannel.vue
  src/renderer/components/FtListHashtag/FtListHashtag.vue
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/components/WatchVideoChapters/WatchVideoChapters.vue
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.vue
  src/renderer/components/WatchVideoRecommendations/WatchVideoRecommendations.vue
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-share-button/ft-share-button.js
  src/renderer/helpers/accessibility.js
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/api/local.js
  src/renderer/helpers/channels.js
  src/renderer/helpers/player/utils.js
  src/renderer/helpers/strings.js
  src/renderer/helpers/subscriptions.js
  src/renderer/helpers/utils.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Watch/Watch.js
  yarn.lock
Due: eslint

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Improve accent color contrast
  src/renderer/themes.css
Due: stylelint

change default locale to system (#6031)
  src/renderer/store/modules/settings.js
Due: eslint

Translated using Weblate (Croatian)
  static/locales/hr.yaml
Due: none

Address feedback
  package.json
  src/renderer/composables/use-i18n-polyfill.js
Due: eslint

Add primary color override for range containers with the Hot Pink theme
  src/renderer/themes.css
Due: stylelint

remove left over addition
  .github/dependabot.yml
Due: none

move jsdoc eslint rule configuration
  eslint.config.mjs
Due: none

use dash for list instead
  src/renderer/helpers/player/utils.js
Due: eslint

Enable some additional rules
  _scripts/ProcessLocalesPlugin.js
  eslint.config.mjs
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/player-components/AudioTrackSelection.js
  src/renderer/helpers/api/local.js
  src/renderer/helpers/player/utils.js
  src/renderer/helpers/utils.js
Due: eslint

! Fix shortcut for macOS setting shortcut in video page
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Apply suggestions from code review
  eslint.config.mjs
Due: none

Update src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Fix use of deprecated Invidious route on the videos subscription tab
  src/renderer/components/subscriptions-videos/subscriptions-videos.js
Due: eslint
