Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

removed beforeDestroy as it does not affect in production
  src/renderer/views/Watch/Watch.js
Due: eslint

Translated using Weblate (Bulgarian)
  static/locales/bg.yaml
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Persian)
  static/locales/fa.yaml
Due: none

updated routerView to fix breaking of about page on smaller screens
  src/renderer/App.css
Due: stylelint

Update App.css
  src/renderer/App.css
Due: stylelint

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none

- Remove default value for old setting
  src/renderer/store/modules/settings.js
Due: eslint

Added the loop playback default function
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/player-settings/player-settings.js
  src/renderer/components/player-settings/player-settings.vue
  src/renderer/store/modules/settings.js
Due: eslint

Changes Requested for the playback loop default option
  src/renderer/components/player-settings/player-settings.js
  src/renderer/components/player-settings/player-settings.vue
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint

Implement content and session PO tokens (#6931)
  src/botGuardScript.js
  src/constants.js
  src/main/index.js
  src/main/poTokenGenerator.js
  src/renderer/helpers/api/local.js
Due: eslint

Add null-check for RichShelf playlist url
  src/renderer/helpers/api/local.js
Due: eslint

remove new translations
  static/locales/awa.yaml
  static/locales/vi.yaml
Due: none

Allow comments to be sorted when using local api
  src/renderer/helpers/api/local.js
  src/renderer/views/Post.vue
Due: eslint

remove new translations
  static/locales/id.yaml
  static/locales/pt-PT.yaml
Due: none

use array index instead of `first()`
  src/renderer/helpers/api/local.js
Due: eslint

Add local api support for viewing community posts
  src/renderer/components/CommentSection/CommentSection.vue
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
  src/renderer/helpers/api/local.js
  src/renderer/views/Post.vue
Due: eslint

remove unused translation strings
  static/locales/af.yaml
  static/locales/ar.yaml
  static/locales/be.yaml
  static/locales/bg.yaml
  static/locales/br.yaml
  static/locales/cs.yaml
  static/locales/cy.yaml
  static/locales/de-DE.yaml
  static/locales/en-GB.yaml
  static/locales/en-US.yaml
  static/locales/es.yaml
  static/locales/et.yaml
  static/locales/eu.yaml
  static/locales/fa.yaml
  static/locales/fr-FR.yaml
  static/locales/he.yaml
  static/locales/hr.yaml
  static/locales/hu.yaml
  static/locales/is.yaml
  static/locales/it.yaml
  static/locales/ja.yaml
  static/locales/my.yaml
  static/locales/nl.yaml
  static/locales/pl.yaml
  static/locales/pt-BR.yaml
  static/locales/pt.yaml
  static/locales/ru.yaml
  static/locales/sr.yaml
  static/locales/ta.yaml
  static/locales/tr.yaml
  static/locales/uk.yaml
  static/locales/vls.yaml
  static/locales/zh-CN.yaml
  static/locales/zh-TW.yaml
Due: none

remove unused resource from locale file
  static/locales/nb-NO.yaml
Due: none

add 'local' to function name to get post comments, update innertube methods to reflect naming changes made in the youtube.js PR
  src/renderer/components/CommentSection/CommentSection.vue
  src/renderer/helpers/api/local.js
  src/renderer/views/Post.vue
Due: eslint

changes overflow to hidden and wrap to anywhere
  src/renderer/views/About/About.css
Due: stylelint

Translated using Weblate (English (United Kingdom))
  static/locales/en-GB.yaml
Due: none

Translated using Weblate (Danish)
  static/locales/da.yaml
Due: none

Update src/renderer/components/player-settings/player-settings.vue
  src/renderer/components/player-settings/player-settings.vue
Due: eslint

Update static/locales/en-US.yaml
  static/locales/en-US.yaml
Due: none

Grouping the default settings in player-settings.vue
  src/renderer/components/player-settings/player-settings.vue
Due: eslint

fix: getting channel id from post url
  src/renderer/helpers/api/local.js
Due: eslint

Prevent multiple trays in Linux if disabling/enabling the settings option multiple times
  src/main/index.js
Due: eslint

Always return 0 when any video contains a non-number `lengthSeconds`
  src/renderer/views/Playlist/Playlist.js
Due: eslint

translation to arabic : complete all the localizations to look like en-US.yal
  static/locales/ar.yaml
Due: none

overflow hidden was not needed so removed
  src/renderer/views/About/About.css
Due: stylelint

catppuccinMocha card bg color change
  src/renderer/themes.css
Due: stylelint

Migrate FtChannelBubble to composition api
  src/renderer/components/ChannelAbout/ChannelAbout.vue
  src/renderer/components/FtChannelBubble/FtChannelBubble.css
  src/renderer/components/FtChannelBubble/FtChannelBubble.vue
  src/renderer/components/SubscriptionsTabUi/SubscriptionsTabUi.vue
  src/renderer/components/ft-channel-bubble/ft-channel-bubble.js
  src/renderer/components/ft-profile-channel-list/ft-profile-channel-list.js
  src/renderer/components/ft-profile-channel-list/ft-profile-channel-list.vue
  src/renderer/components/ft-profile-filter-channels-list/ft-profile-filter-channels-list.js
  src/renderer/components/ft-profile-filter-channels-list/ft-profile-filter-channels-list.vue
Due: eslint, stylelint

Update themes.css
  src/renderer/themes.css
Due: stylelint

catppuccinMocha theme color change channel author's comment
  src/renderer/themes.css
Due: stylelint

fix: improve uploader highlight contrast for Catppuccin Mocha
  src/renderer/themes.css
Due: stylelint

Fix: Remove unnecessary overflow
  src/renderer/views/Settings/Settings.css
Due: stylelint
