Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Translated using Weblate (Romanian)
  static/locales/ro.yaml
Due: none

Move screenshot fallback path handling to the main process (#6945)
  src/constants.js
  src/main/index.js
  src/renderer/components/player-settings/player-settings.js
  src/renderer/helpers/utils.js
Due: eslint

IV RSS Subscriptions: properly detect `error channels` (#4407)
  src/renderer/components/subscriptions-live/subscriptions-live.js
  src/renderer/components/subscriptions-shorts/subscriptions-shorts.js
  src/renderer/components/subscriptions-videos/subscriptions-videos.js
Due: eslint

Translated using Weblate (Welsh)
  static/locales/cy.yaml
Due: none

Fix ctrl+click to reset playback rate not working (#6943)
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Fix search suggestions error for long search queries (#6955)
  src/renderer/helpers/api/local.js
Due: eslint

Fix search not working on mobile because of undefined ref (#6706)
  src/renderer/components/top-nav/top-nav.vue
Due: eslint

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Add support for channel's `Courses` tab (#6641)
  src/renderer/components/ChannelDetails/ChannelDetails.vue
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/distraction-settings/distraction-settings.vue
  src/renderer/helpers/api/invidious.js
  src/renderer/store/modules/settings.js
  src/renderer/store/modules/utils.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Channel/Channel.vue
  static/locales/en-US.yaml
Due: eslint

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Translated using Weblate (Japanese)
  static/locales/ja.yaml
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Basque)
  static/locales/eu.yaml
Due: none

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Serbian)
  static/locales/sr.yaml
Due: none

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Translated using Weblate (Bulgarian)
  static/locales/bg.yaml
Due: none

Translated using Weblate (Persian)
  static/locales/fa.yaml
Due: none

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none

Translated using Weblate (English (United Kingdom))
  static/locales/en-GB.yaml
Due: none

Translated using Weblate (Danish)
  static/locales/da.yaml
Due: none

updated routerView to fix breaking of about page on smaller screens (#7012)
  src/renderer/views/About/About.css
Due: stylelint

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Translated using Weblate (Russian)
  static/locales/ru.yaml
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
