Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Translated using Weblate (English (United Kingdom))
  static/locales/en-GB.yaml
Due: none

Local API: Fix error when a community post has no likes (#5759)
  src/renderer/helpers/api/local.js
Due: eslint

Support copying post links from the context menu (#5760)
  src/main/index.js
Due: eslint

Change the Proxy Videos Through Invidious setting to only apply when using the Invidious API (#5758)
  src/renderer/components/player-settings/player-settings.js
  src/renderer/components/player-settings/player-settings.vue
  src/renderer/views/Watch/Watch.js
  static/locales/bg.yaml
  static/locales/cs.yaml
  static/locales/da.yaml
  static/locales/de-DE.yaml
  static/locales/el.yaml
  static/locales/en-GB.yaml
  static/locales/en-US.yaml
  static/locales/es-MX.yaml
  static/locales/es.yaml
  static/locales/et.yaml
  static/locales/eu.yaml
  static/locales/fi.yaml
  static/locales/fr-FR.yaml
  static/locales/gl.yaml
  static/locales/hr.yaml
  static/locales/hu.yaml
  static/locales/id.yaml
  static/locales/is.yaml
  static/locales/it.yaml
  static/locales/lt.yaml
  static/locales/nb-NO.yaml
  static/locales/nl.yaml
  static/locales/nn.yaml
  static/locales/pl.yaml
  static/locales/pt-BR.yaml
  static/locales/pt-PT.yaml
  static/locales/pt.yaml
  static/locales/ro.yaml
  static/locales/sk.yaml
  static/locales/sr.yaml
  static/locales/sv.yaml
  static/locales/tr.yaml
  static/locales/uk.yaml
  static/locales/vi.yaml
  static/locales/zh-CN.yaml
  static/locales/zh-TW.yaml
Due: eslint

Translated using Weblate (Chinese (Traditional Han script))
  static/locales/zh-TW.yaml
Due: none

feat: if the duration is missing, try and grab it from the history cache
  src/renderer/views/Playlist/Playlist.js
Due: eslint

fix: if the lengthSeconds is a string, treat it as zero (fix for RSS)
  src/renderer/helpers/playlists.js
  src/renderer/views/Playlist/Playlist.js
Due: eslint

refactor: make checking the duration of a video use the same helper function everywhere
  src/renderer/helpers/playlists.js
  src/renderer/views/Playlist/Playlist.js
Due: eslint

fix/refactor: make sure toast only shows when a item is missing a duration/use a foreach loop to check the videos in a playlist
  src/renderer/views/Playlist/Playlist.js
Due: eslint

Revert "Larger search/URL bar (#5348)"
  src/renderer/components/top-nav/top-nav.scss
Due: stylelint

Fix long comments overflowing and breaking the layout
  src/renderer/components/watch-video-comments/watch-video-comments.css
Due: stylelint

Fix loading from search cache failing when no features are selected
  src/renderer/views/Search/Search.js
Due: eslint

Fix it here too
  src/renderer/views/Search/Search.js
Due: eslint

Cleanup unused code in the store
  src/renderer/store/modules/subscription-cache.js
  src/renderer/store/modules/utils.js
Due: eslint

feat: apply suggestions from code review
  src/renderer/helpers/playlists.js
  src/renderer/views/Playlist/Playlist.js
Due: eslint

fix: make lint test pass
  src/renderer/helpers/playlists.js
Due: eslint

Fix loading from search cache failing when no features are selected (#5775)
  src/renderer/views/Search/Search.js
Due: eslint

Revert "Larger search/URL bar (#5348)" (#5773)
  src/renderer/components/top-nav/top-nav.scss
Due: stylelint

Cleanup unused code in the store (#5776)
  src/renderer/store/modules/subscription-cache.js
  src/renderer/store/modules/utils.js
Due: eslint

* Save more options
  src/renderer/views/History/History.js
  src/renderer/views/UserPlaylists/UserPlaylists.js
Due: eslint

Fix long comments overflowing and breaking the layout (#5774)
  src/renderer/components/watch-video-comments/watch-video-comments.css
Due: stylelint

Clarify how to add subscriptions
  static/locales/en-US.yaml
Due: none

Added functionality to export a single playlist
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/playlist-info/playlist-info.vue
  static/locales/en-US.yaml
Due: eslint

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

feat: apply suggestions from code review (use a single loop instead)
  src/renderer/views/Playlist/Playlist.js
Due: eslint

fix: make lint test pass for single-loop
  src/renderer/views/Playlist/Playlist.js
Due: eslint

Changed whitespace replacement in export file names to underscore
  src/renderer/components/playlist-info/playlist-info.js
Due: eslint

Added regular expression to replace common forbidden characters in export file name
  src/renderer/components/playlist-info/playlist-info.js
Due: eslint

Optimized regex for replacing illegal characters in file names
  src/renderer/components/playlist-info/playlist-info.js
Due: eslint

Prefer replaceAll over replace
  src/renderer/components/playlist-info/playlist-info.js
Due: eslint

Translated using Weblate (Japanese)
  static/locales/ja.yaml
Due: none

^ Upgrade electron-builder 24 > 25
  package.json
  yarn.lock
Due: none

$ Use early return within `#forEach`
  src/renderer/components/data-settings/data-settings.js
Due: eslint

* Update playlist import to only add duplicate playlist items sometimes
  src/renderer/components/data-settings/data-settings.js
Due: eslint

! Fix strange outline on nav buttons
  src/renderer/views/Channel/Channel.js
Due: eslint

Translated using Weblate (Belarusian)
  static/locales/be.yaml
Due: none

Appimage CI: small refactor, declare variable
  .github/workflows/build.yml
Due: none
