Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Translated using Weblate (Portuguese)
  static/locales/pt.yaml
Due: none

Fixed error cannot read the properties of undefine
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.js
Due: eslint

Translated using Weblate (Chinese (Traditional Han script))
  static/locales/zh-TW.yaml
Due: none

remember playlist selection between the sessions
  src/renderer/store/modules/settings.js
  src/renderer/views/UserPlaylists/UserPlaylists.js
Due: eslint

Manually apply ad-hoc signature to macOS app
  _scripts/ebuilder.config.js
  _scripts/signMacBeforePackaging.js
Due: eslint

fix: do not use title color as accent color
  src/renderer/themes.css
Due: stylelint

fix: use shadow color for light themes
  src/renderer/themes.css
Due: stylelint

Translated using Weblate (Russian)
  static/locales/ru.yaml
Due: none

Translated using Weblate (Romanian)
  static/locales/ro.yaml
Due: none

Translated using Weblate (Hindi)
  static/locales/hi.yaml
Due: none

Local API: Implement SABR for VODs
  package.json
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.vue
  src/renderer/helpers/api/local.js
  src/renderer/helpers/player/EbmlParser.js
  src/renderer/helpers/player/Mp4SegmentIndexParser.js
  src/renderer/helpers/player/SabrManifestParser.js
  src/renderer/helpers/player/SabrSchemePlugin.js
  src/renderer/helpers/player/WebmSegmentIndexParser.js
  src/renderer/helpers/player/utils.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
  yarn.lock
Due: eslint

Translated using Weblate (Welsh)
  static/locales/cy.yaml
Due: none

Optimisations
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/helpers/player/Mp4SegmentIndexParser.js
  src/renderer/helpers/player/SabrManifestParser.js
  src/renderer/helpers/player/SabrSchemePlugin.js
  src/renderer/helpers/player/WebmSegmentIndexParser.js
Due: eslint

Add mime types and codecs to segment references
  src/renderer/helpers/player/SabrManifestParser.js
Due: eslint

Translated using Weblate (Ukrainian)
  static/locales/uk.yaml
Due: none

Fix web build
  _scripts/webpack.web.config.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/helpers/player/SabrManifestParser.js
Due: eslint

Fix images getting occasionally ratelimited
  src/main/index.js
Due: eslint

Migrate FtChannelBubble, FtProfileChannelList and FtProfileFilterChannelList to the composition API
  src/renderer/components/ChannelAbout/ChannelAbout.vue
  src/renderer/components/FtChannelBubble/FtChannelBubble.css
  src/renderer/components/FtChannelBubble/FtChannelBubble.vue
  src/renderer/components/FtProfileChannelList/FtProfileChannelList.css
  src/renderer/components/FtProfileChannelList/FtProfileChannelList.vue
  src/renderer/components/FtProfileFilterChannelsList/FtProfileFilterChannelsList.css
  src/renderer/components/FtProfileFilterChannelsList/FtProfileFilterChannelsList.vue
  src/renderer/components/SubscriptionsTabUi/SubscriptionsTabUi.vue
  src/renderer/components/ft-channel-bubble/ft-channel-bubble.js
  src/renderer/components/ft-channel-bubble/ft-channel-bubble.vue
  src/renderer/components/ft-profile-channel-list/ft-profile-channel-list.js
  src/renderer/components/ft-profile-channel-list/ft-profile-channel-list.vue
  src/renderer/components/ft-profile-filter-channels-list/ft-profile-filter-channels-list.js
  src/renderer/components/ft-profile-filter-channels-list/ft-profile-filter-channels-list.vue
  src/renderer/views/ProfileSettings/ProfileSettings.vue
Due: eslint, stylelint

Bump linter, build and release workflows to Node.js 22
  .github/workflows/build.yml
  .github/workflows/linter.yml
  .github/workflows/release.yml
Due: none

Auto-retry on SABR errors and empty responses
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/helpers/player/SabrSchemePlugin.js
Due: eslint

Bump linter, build and release workflows to Node.js 22 (#7153)
  .github/workflows/build.yml
  .github/workflows/linter.yml
  .github/workflows/release.yml
Due: none

! Fix being able to have duplicate keyword search history due to spaces (#7110)
  src/renderer/views/SearchPage/SearchPage.js
Due: eslint

Fix images getting occasionally ratelimited (#7151)
  src/main/index.js
Due: eslint

Fix filename tooltip not showing under screenshot settings on small displays
  src/renderer/components/player-settings/player-settings.css
Due: stylelint

Add sorting options to history page (#5595)
  src/renderer/store/modules/history.js
  src/renderer/views/History/History.css
  src/renderer/views/History/History.js
  src/renderer/views/History/History.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

style(history): improve responsiveness of sort layout on small screens
  src/renderer/views/History/History.css
Due: stylelint

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Increase PO token snapshot timeout from 3 to 10 seconds (#7114)
  src/botGuardScript.js
Due: eslint

Set properties on DOM elements directly instead of using setAttribute (#7115)
  src/renderer/App.js
  src/renderer/helpers/utils.js
Due: eslint

Migrate FtChannelBubble, FtProfileChannelList and FtProfileFilterChannelList to the composition API (#7152)
  src/renderer/components/ChannelAbout/ChannelAbout.vue
  src/renderer/components/FtChannelBubble/FtChannelBubble.css
  src/renderer/components/FtChannelBubble/FtChannelBubble.vue
  src/renderer/components/FtProfileChannelList/FtProfileChannelList.css
  src/renderer/components/FtProfileChannelList/FtProfileChannelList.vue
  src/renderer/components/FtProfileFilterChannelsList/FtProfileFilterChannelsList.css
  src/renderer/components/FtProfileFilterChannelsList/FtProfileFilterChannelsList.vue
  src/renderer/components/SubscriptionsTabUi/SubscriptionsTabUi.vue
  src/renderer/components/ft-channel-bubble/ft-channel-bubble.js
  src/renderer/components/ft-channel-bubble/ft-channel-bubble.vue
  src/renderer/components/ft-profile-channel-list/ft-profile-channel-list.js
  src/renderer/components/ft-profile-channel-list/ft-profile-channel-list.vue
  src/renderer/components/ft-profile-filter-channels-list/ft-profile-filter-channels-list.js
  src/renderer/components/ft-profile-filter-channels-list/ft-profile-filter-channels-list.vue
  src/renderer/views/ProfileSettings/ProfileSettings.vue
Due: eslint, stylelint

Fix #4924 : Hide Search Bar and Filter when less than two content in Add Video to Playlists , History, Channels (#7134)
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.js
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.vue
  src/renderer/views/History/History.vue
  src/renderer/views/SubscribedChannels/SubscribedChannels.vue
Due: eslint

fix: do not use title color as accent color (#7141)
  src/renderer/themes.css
Due: stylelint

Revert "Bump webpack from 5.98.0 to 5.99.0 (#7168)"
  package.json
  yarn.lock
Due: none

^ Update to latest version with fix
  package.json
  yarn.lock
Due: none

Fix video description display (#7169)
  package.json
  yarn.lock
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

fix: use dark shadow for light theme requiring it
  src/renderer/themes.css
Due: stylelint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
