Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

set v-observe-visibility to null instead of false
  src/renderer/components/ft-list-video-numbered/ft-list-video-numbered.vue
Due: eslint

Hide playlist view count for piped
  src/renderer/components/playlist-info/playlist-info.vue
Due: eslint

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Translated using Weblate (Romanian)
  static/locales/ro.yaml
Due: none

Sort videos within playlist (#4921)
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.js
  src/renderer/store/modules/settings.js
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Playlist/Playlist.scss
  src/renderer/views/Playlist/Playlist.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

* Disable merge conflict detection on draft PRs
  .github/workflows/conflicts.yml
Due: none

* Replace action `jozsefsallai/node-package-version` with `jaywcjlove/github-action-package`
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

* Replace action `jossef/action-set-json-field` with `jaywcjlove/github-action-package`
  .github/workflows/build.yml
Due: none

* Add `ready_for_review` to `pull_request_target.types`
  .github/workflows/conflicts.yml
Due: none

Implement styling fixes & adjustments
  src/renderer/scss-partials/_ft-list-item.scss
  src/renderer/views/Playlist/Playlist.scss
  src/renderer/views/Playlist/Playlist.vue
Due: eslint, stylelint

Translated using Weblate (Chinese (Traditional))
  static/locales/zh-TW.yaml
Due: none

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Address review comments
  src/renderer/views/Search/Search.js
Due: eslint

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Chinese (Simplified))
  static/locales/zh-CN.yaml
Due: none

Configure 'Enter' to submit form being edited
  src/renderer/components/ft-profile-edit/ft-profile-edit.vue
  src/renderer/components/password-settings/password-settings.vue
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/components/proxy-settings/proxy-settings.vue
Due: eslint

Configure Ctrl+F keyboard listeners on pages with prominent search bar
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.js
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/helpers/utils.js
  src/renderer/views/History/History.js
  src/renderer/views/SubscribedChannels/SubscribedChannels.js
  src/renderer/views/UserPlaylists/UserPlaylists.js
Due: eslint

Simplify static file loading
  _scripts/dev-runner.js
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
  src/renderer/App.js
  src/renderer/i18n/index.js
  src/renderer/store/modules/invidious.js
  src/renderer/store/modules/utils.js
Due: eslint

Move lambda data functions to methods
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.js
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/views/History/History.js
  src/renderer/views/SubscribedChannels/SubscribedChannels.js
  src/renderer/views/UserPlaylists/UserPlaylists.js
Due: eslint

Remove logoColor.png
  static/manifest.json
Due: none

Remove png from About.vue
  src/renderer/views/About/About.vue
Due: eslint

Use repo svg instead of docs png
  README.md
Due: none

Delete _icons/logoColor.png
  _icons/logoColor.png
Due: none

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

Translated using Weblate (Croatian)
  static/locales/hr.yaml
Due: none

Define emits before using them
  .eslintrc.js
  src/renderer/components/ft-auto-load-next-page-wrapper/ft-auto-load-next-page-wrapper.js
  src/renderer/components/ft-channel-bubble/ft-channel-bubble.js
  src/renderer/components/ft-icon-button/ft-icon-button.js
  src/renderer/components/ft-input-tags/ft-input-tags.js
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-notification-banner/ft-notification-banner.js
  src/renderer/components/ft-playlist-selector/ft-playlist-selector.js
  src/renderer/components/ft-profile-edit/ft-profile-edit.js
  src/renderer/components/ft-prompt/ft-prompt.js
  src/renderer/components/ft-search-filters/ft-search-filters.js
  src/renderer/components/ft-timestamp-catcher/ft-timestamp-catcher.js
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/subscriptions-tab-ui/subscriptions-tab-ui.js
  src/renderer/components/watch-video-chapters/watch-video-chapters.js
  src/renderer/components/watch-video-comments/watch-video-comments.js
  src/renderer/components/watch-video-description/watch-video-description.js
  src/renderer/components/watch-video-info/watch-video-info.js
Due: eslint

Define emits before using them (#4973)
  .eslintrc.js
  src/renderer/components/ft-auto-load-next-page-wrapper/ft-auto-load-next-page-wrapper.js
  src/renderer/components/ft-channel-bubble/ft-channel-bubble.js
  src/renderer/components/ft-icon-button/ft-icon-button.js
  src/renderer/components/ft-input-tags/ft-input-tags.js
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-notification-banner/ft-notification-banner.js
  src/renderer/components/ft-playlist-selector/ft-playlist-selector.js
  src/renderer/components/ft-profile-edit/ft-profile-edit.js
  src/renderer/components/ft-prompt/ft-prompt.js
  src/renderer/components/ft-search-filters/ft-search-filters.js
  src/renderer/components/ft-timestamp-catcher/ft-timestamp-catcher.js
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/subscriptions-tab-ui/subscriptions-tab-ui.js
  src/renderer/components/watch-video-chapters/watch-video-chapters.js
  src/renderer/components/watch-video-comments/watch-video-comments.js
  src/renderer/components/watch-video-description/watch-video-description.js
  src/renderer/components/watch-video-info/watch-video-info.js
Due: eslint

add missing emits
  src/renderer/components/ft-button/ft-button.js
  src/renderer/components/ft-button/ft-button.vue
  src/renderer/components/ft-list-video-lazy/ft-list-video-lazy.js
  src/renderer/components/ft-list-video-lazy/ft-list-video-lazy.vue
  src/renderer/components/ft-list-video-numbered/ft-list-video-numbered.js
  src/renderer/components/ft-list-video-numbered/ft-list-video-numbered.vue
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/ft-profile-bubble/ft-profile-bubble.js
  src/renderer/components/ft-profile-bubble/ft-profile-bubble.vue
  src/renderer/components/ft-prompt/ft-prompt.js
  src/renderer/components/ft-prompt/ft-prompt.vue
  src/renderer/components/ft-radio-button/ft-radio-button.js
  src/renderer/components/ft-radio-button/ft-radio-button.vue
  src/renderer/components/ft-select/ft-select.js
  src/renderer/components/ft-select/ft-select.vue
  src/renderer/components/ft-slider/ft-slider.js
  src/renderer/components/ft-slider/ft-slider.vue
  src/renderer/components/ft-toggle-switch/ft-toggle-switch.js
  src/renderer/components/ft-toggle-switch/ft-toggle-switch.vue
  src/renderer/components/subscriptions-tab-ui/subscriptions-tab-ui.js
  src/renderer/components/subscriptions-tab-ui/subscriptions-tab-ui.vue
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/components/watch-video-info/watch-video-info.vue
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
Due: eslint

Show when Subscriptions / Trending / Most Popular were last updated (#4380)
  src/renderer/App.css
  src/renderer/components/ft-icon-button/ft-icon-button.js
  src/renderer/components/ft-icon-button/ft-icon-button.scss
  src/renderer/components/ft-icon-button/ft-icon-button.vue
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-notification-banner/ft-notification-banner.css
  src/renderer/components/ft-notification-banner/ft-notification-banner.vue
  src/renderer/components/ft-refresh-widget/ft-refresh-widget.css
  src/renderer/components/ft-refresh-widget/ft-refresh-widget.js
  src/renderer/components/ft-refresh-widget/ft-refresh-widget.vue
  src/renderer/components/subscriptions-community/subscriptions-community.js
  src/renderer/components/subscriptions-community/subscriptions-community.vue
  src/renderer/components/subscriptions-live/subscriptions-live.js
  src/renderer/components/subscriptions-live/subscriptions-live.vue
  src/renderer/components/subscriptions-shorts/subscriptions-shorts.js
  src/renderer/components/subscriptions-shorts/subscriptions-shorts.vue
  src/renderer/components/subscriptions-tab-ui/subscriptions-tab-ui.css
  src/renderer/components/subscriptions-tab-ui/subscriptions-tab-ui.js
  src/renderer/components/subscriptions-tab-ui/subscriptions-tab-ui.vue
  src/renderer/components/subscriptions-videos/subscriptions-videos.js
  src/renderer/components/subscriptions-videos/subscriptions-videos.vue
  src/renderer/helpers/utils.js
  src/renderer/store/modules/subscriptions.js
  src/renderer/store/modules/utils.js
  src/renderer/views/Popular/Popular.css
  src/renderer/views/Popular/Popular.js
  src/renderer/views/Popular/Popular.vue
  src/renderer/views/Trending/Trending.css
  src/renderer/views/Trending/Trending.js
  src/renderer/views/Trending/Trending.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

update ft-refresh-widget
  src/renderer/components/ft-refresh-widget/ft-refresh-widget.js
  src/renderer/components/ft-refresh-widget/ft-refresh-widget.vue
Due: eslint

Add yarn run pack:web to linter
  .github/workflows/linter.yml
Due: none

remove ft-card changes since they're no longer needed
  src/renderer/components/ft-card/ft-card.js
Due: eslint

Bundle datastores as ES modules instead of commonjs (#4965)
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
  jsconfig.json
  src/datastores/handlers/base.js
  src/datastores/handlers/electron.js
  src/datastores/handlers/index.js
  src/datastores/handlers/web.js
  src/datastores/index.js
  src/main/index.js
Due: eslint
