Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Change About page icon accroding to theme
  src/renderer/themes.css
  src/renderer/views/About/About.scss
  src/renderer/views/About/About.vue
Due: eslint, stylelint

Avoid extending the VueI18n class as it won't exist in Vue 3
  src/renderer/components/general-settings/general-settings.js
  src/renderer/i18n/index.js
  src/renderer/store/modules/settings.js
Due: eslint

Wrap overflowing text
  src/renderer/components/watch-video-comments/watch-video-comments.css
Due: stylelint

Avoid extending the VueRouter class as it won't exist in Vue 3
  src/renderer/router/index.js
Due: eslint

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Translated using Weblate (Hebrew)
  static/locales/he.yaml
Due: none

Translated using Weblate (Croatian)
  static/locales/hr.yaml
Due: none

Implement mouse dragging selection for making multiple selections easier
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
Due: eslint

Standardize labels to use 'Selection Mode' verbiage
  src/renderer/App.css
  src/renderer/App.js
  src/renderer/App.vue
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/top-nav/top-nav.scss
  src/renderer/components/top-nav/top-nav.vue
  src/renderer/helpers/utils.js
  src/renderer/scss-partials/_ft-list-item.scss
  src/renderer/store/modules/utils.js
  static/locales/en-US.yaml
Due: eslint, stylelint

Translated using Weblate (Bulgarian)
  static/locales/bg.yaml
Due: none

Updates labels to be 'Video Selection Mode' while only video selection is implemented'
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/top-nav/top-nav.js
  static/locales/en-US.yaml
Due: eslint

Implement missing 'More Options' label & adjust new dropdown-position
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/top-nav/top-nav.vue
  static/locales/en-US.yaml
Due: eslint

Translated using Weblate (Catalan)
  static/locales/ca.yaml
Due: none

Fix focus disappearing when visiting the settings (#4042)
  src/renderer/views/Settings/Settings.js
Due: eslint

Avoid extending the VueRouter class as it won't exist in Vue 3 (#4047)
  src/renderer/router/index.js
Due: eslint

L: Hide shared posts, IV: Don't show errors for empty community tab
  src/renderer/components/subscriptions-community/subscriptions-community.js
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/api/local.js
  src/renderer/views/Channel/Channel.js
Due: eslint

add links to related issues
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/api/local.js
Due: eslint

Fix comment author focus outline being broken (#4041)
  src/renderer/components/watch-video-comments/watch-video-comments.css
Due: stylelint

Avoid extending the VueI18n class as it won't exist in Vue 3 (#4046)
  src/renderer/components/general-settings/general-settings.js
  src/renderer/i18n/index.js
  src/renderer/store/modules/settings.js
Due: eslint

Fix Subscribe button being clipped on Channel page
  src/renderer/components/ft-button/ft-button.css
Due: stylelint

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Fix buttons intersecting on Subscribed Channels tab in many languages
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.css
Due: stylelint

Show all Channel tabs on smaller viewport widths & reduce bulky gap
  src/renderer/views/Channel/Channel.css
Due: stylelint

Implement fix to elements escaping container on Channel page at small widths
  src/renderer/views/Channel/Channel.css
Due: stylelint

! Fix grid item for playlist to hide external player button for local playlist
  src/renderer/components/ft-list-playlist/ft-list-playlist.js
  src/renderer/components/ft-list-playlist/ft-list-playlist.vue
Due: eslint

* Make history rememeber uniqueId (local playlist video entry) when playing video with local playlist
  src/datastores/handlers/base.js
  src/datastores/handlers/electron.js
  src/datastores/handlers/web.js
  src/main/index.js
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/store/modules/history.js
  src/renderer/views/Watch/Watch.js
Due: eslint

! Fix grid item for video in user playlist to hide external player button
  src/renderer/components/ft-list-video/ft-list-video.vue
Due: eslint

! Fix grid item for video in history with user playlist to hide external player button
  src/renderer/components/ft-list-video/ft-list-video.js
Due: eslint

! Fix grid item for video in watch page playlist component with user playlist to hide external player button
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
Due: eslint

* Update watch page to clear `uniqueID` from query when not playing local playlist
  src/renderer/views/Watch/Watch.js
Due: eslint

! Fix watch page about user playlist detection on new window
  src/renderer/views/Watch/Watch.js
Due: eslint

Update src/renderer/components/ft-subscribe-button/ft-subscribe-button.css
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.css
Due: stylelint

* Reflect playlist updates on watch page playlist panel, even for currently playing video
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
Due: eslint

! Allow video with local playlist to be played in external player, but without playlist
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/watch-video-info/watch-video-info.js
Due: eslint

Update Channel page to not break at even lower sizes
  src/renderer/views/Channel/Channel.css
Due: stylelint

fix bug with tabbing into three dots menu #4022
  src/renderer/components/ft-icon-button/ft-icon-button.vue
Due: eslint

Translated using Weblate (Japanese)
  static/locales/ja.yaml
Due: none

Fix Subscribe button being clipped on Channel page (#4057)
  src/renderer/components/ft-button/ft-button.css
Due: stylelint
