Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Migrate FtElementList to the composition API
  src/renderer/components/FtElementList/FtElementList.css
  src/renderer/components/FtElementList/FtElementList.vue
  src/renderer/components/ft-element-list/ft-element-list.js
  src/renderer/components/ft-element-list/ft-element-list.vue
  src/renderer/components/subscriptions-tab-ui/subscriptions-tab-ui.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Hashtag/Hashtag.js
  src/renderer/views/History/History.js
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Popular/Popular.js
  src/renderer/views/Search/Search.js
  src/renderer/views/Trending/Trending.js
  src/renderer/views/UserPlaylists/UserPlaylists.js
Due: eslint, stylelint

Update top-nav.scss
  src/renderer/components/top-nav/top-nav.scss
Due: stylelint

Translated using Weblate (Japanese)
  static/locales/ja.yaml
Due: none

Add a GPU Internals entry to the View menu
  src/main/index.js
Due: eslint

Disable devtools in the GPU internals window
  src/main/index.js
Due: eslint

Gracefully handle the internet connection disappearing during playback
  src/renderer/views/Watch/Watch.js
Due: eslint

Migrate WatchVideoRecommendations to the composition API
  src/renderer/components/WatchVideoRecommendations/WatchVideoRecommendations.css
  src/renderer/components/WatchVideoRecommendations/WatchVideoRecommendations.vue
  src/renderer/components/watch-video-recommendations/watch-video-recommendations.js
  src/renderer/components/watch-video-recommendations/watch-video-recommendations.vue
  src/renderer/views/Watch/Watch.js
Due: eslint, stylelint

Migrate WatchVideoDescription to the composition API
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.css
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.vue
  src/renderer/components/watch-video-description/watch-video-description.js
  src/renderer/components/watch-video-description/watch-video-description.vue
  src/renderer/views/Watch/Watch.js
Due: eslint, stylelint

Migrate WatchVideoChapters to the composition API
  src/renderer/components/WatchVideoChapters/WatchVideoChapters.css
  src/renderer/components/WatchVideoChapters/WatchVideoChapters.vue
  src/renderer/components/watch-video-chapters/watch-video-chapters.js
  src/renderer/components/watch-video-chapters/watch-video-chapters.vue
  src/renderer/views/Watch/Watch.js
Due: eslint, stylelint

Show a message while buffering if it was caused by the internet connection disappearing
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.vue
  src/renderer/main.js
  static/locales/en-US.yaml
  static/locales/en_GB.yaml
Due: eslint, stylelint

Fix the text color and RTL handling
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
Due: stylelint

Add support for copying hashtag links (#5538)
  src/main/index.js
Due: eslint

Properly handle Arabic hashtags (#5545)
  src/renderer/views/Hashtag/Hashtag.js
Due: eslint

Add a GPU Internals entry to the View menu (#5550)
  src/main/index.js
Due: eslint

Migrate FtElementList, FtAutoGrid and FtListLazyWrapper to the composition API (#5546)
  src/renderer/components/FtAutoGrid/FtAutoGrid.css
  src/renderer/components/FtAutoGrid/FtAutoGrid.vue
  src/renderer/components/FtElementList/FtElementList.css
  src/renderer/components/FtElementList/FtElementList.vue
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.css
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/components/ft-auto-grid/ft-auto-grid.js
  src/renderer/components/ft-auto-grid/ft-auto-grid.vue
  src/renderer/components/ft-element-list/ft-element-list.js
  src/renderer/components/ft-element-list/ft-element-list.vue
  src/renderer/components/ft-list-lazy-wrapper/ft-list-lazy-wrapper.js
  src/renderer/components/ft-list-lazy-wrapper/ft-list-lazy-wrapper.vue
  src/renderer/components/subscriptions-tab-ui/subscriptions-tab-ui.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Hashtag/Hashtag.js
  src/renderer/views/History/History.js
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Popular/Popular.js
  src/renderer/views/Search/Search.js
  src/renderer/views/Trending/Trending.js
  src/renderer/views/UserPlaylists/UserPlaylists.js
Due: eslint, stylelint

* Update top nav to move query text to new window instead of remaining in old window (#5541)
  src/renderer/components/top-nav/top-nav.js
Due: eslint

Allow using Piped for search suggestions
  src/renderer/components/top-nav/top-nav.js
  src/renderer/helpers/api/piped.js
Due: eslint

Migrate WatchVideoRecommendations, WatchVideoDescription and WatchVideoChapters to the composition API (#5556)
  src/renderer/components/WatchVideoChapters/WatchVideoChapters.css
  src/renderer/components/WatchVideoChapters/WatchVideoChapters.vue
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.css
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.vue
  src/renderer/components/WatchVideoRecommendations/WatchVideoRecommendations.css
  src/renderer/components/WatchVideoRecommendations/WatchVideoRecommendations.vue
  src/renderer/components/watch-video-chapters/watch-video-chapters.js
  src/renderer/components/watch-video-chapters/watch-video-chapters.vue
  src/renderer/components/watch-video-description/watch-video-description.js
  src/renderer/components/watch-video-description/watch-video-description.vue
  src/renderer/components/watch-video-recommendations/watch-video-recommendations.js
  src/renderer/components/watch-video-recommendations/watch-video-recommendations.vue
  src/renderer/views/Watch/Watch.js
Due: eslint, stylelint

Update utils.js
  src/renderer/helpers/utils.js
Due: eslint

CSS patch for top nav
  src/renderer/components/top-nav/top-nav.scss
Due: stylelint

Fix bug
  src/renderer/components/top-nav/top-nav.scss
Due: stylelint

Cleanup the Invidious DASH manifest in builds without the local API
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/helpers/player/utils.js
Due: eslint

Update ft-input.css
  src/renderer/components/ft-input/ft-input.css
Due: stylelint

Translated using Weblate (Hebrew)
  static/locales/he.yaml
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
