Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Fix the web build's manifest.json file getting included in the electron build (#4815)
  _scripts/webpack.main.config.js
Due: eslint

Fix the left arrow key not working on the first button in prompts (#4816)
  src/renderer/components/ft-prompt/ft-prompt.js
Due: eslint

Parse compact numbers without using floating point numbers to avoid accuracy issues (#4817)
  src/renderer/helpers/api/local.js
Due: eslint

Create empty subscriptions cache objects directly instead of cloning (#4814)
  src/renderer/store/modules/subscriptions.js
Due: eslint

Fixed missing comma in css
  src/renderer/themes.css
Due: stylelint

* Use existing element instead of new dummy element
  src/renderer/components/watch-video-chapters/watch-video-chapters.vue
Due: eslint

* Update add video ot playlist prompt to show presence count when adding 2+ videos
  src/renderer/components/ft-playlist-selector/ft-playlist-selector.js
  src/renderer/components/ft-playlist-selector/ft-playlist-selector.vue
  static/locales/en-US.yaml
Due: eslint

* Show no. of to be added videos count in text too
  src/renderer/components/ft-playlist-selector/ft-playlist-selector.js
  static/locales/en-US.yaml
Due: eslint

Translated using Weblate (Portuguese)
  static/locales/pt.yaml
Due: none

Fix extracting the subscriber count from channel PageHeader nodes (#4804)
  src/renderer/helpers/api/local.js
Due: eslint

Fix v-observe-visibility error when playlist items are updated (#4774)
  src/renderer/components/ft-list-video-numbered/ft-list-video-numbered.js
  src/renderer/components/ft-list-video-numbered/ft-list-video-numbered.vue
Due: eslint

Default to empty searchQueryTextRequested when nullable
  src/renderer/views/Playlist/Playlist.js
Due: eslint

use separate getColorTranslations function
  src/renderer/components/ft-profile-edit/ft-profile-edit.js
  src/renderer/components/ft-sponsor-block-category/ft-sponsor-block-category.js
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/components/theme-settings/theme-settings.js
  src/renderer/helpers/colors.js
Due: eslint

* Update icons for add to/remove from quick bookmark target button
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/components/watch-video-info/watch-video-info.vue
  src/renderer/main.js
Due: eslint

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Add support for sorting the shorts tab by oldest on the local API
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Channel/Channel.vue
Due: eslint

^ Update youtubei.js to 9.2.0
  package.json
  yarn.lock
Due: none

* Change quick bookmarked indicator to green
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/components/watch-video-info/watch-video-info.vue
  src/renderer/themes.css
Due: eslint, stylelint

* Stop importing star icon which is now unused
  src/renderer/main.js
Due: eslint

Add support for LockupViews on the channel podcasts tab
  src/renderer/helpers/api/local.js
Due: eslint

Add support for CommentViews in video comments
  src/renderer/helpers/api/local.js
Due: eslint

Add support for LockupViews on the channel podcasts tab (#4767)
  src/renderer/helpers/api/local.js
Due: eslint

Add support for CommentViews in video comments (#4806)
  src/renderer/helpers/api/local.js
Due: eslint

Add support for sorting the shorts tab by oldest on the local API (#4832)
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Channel/Channel.vue
Due: eslint

Update icons for add to/remove from quick bookmark button (#4825)
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/watch-video-info/watch-video-info.vue
  src/renderer/main.js
  src/renderer/themes.css
Due: eslint, stylelint

Update README.md with blockquote
  README.md
Due: none

Update cached list of Invidious instances
  static/invidious-instances.json
Due: none

Make chapter section scroll to current chapter when scroll into view port when expanded (#4725)
  src/renderer/components/watch-video-chapters/watch-video-chapters.js
  src/renderer/components/watch-video-chapters/watch-video-chapters.vue
Due: eslint

make suggested changes
  .eslintrc.js
  src/renderer/store/modules/utils.js
Due: eslint

update components that are missing updates
  src/renderer/components/subscriptions-community/subscriptions-community.js
  src/renderer/views/Hashtag/Hashtag.js
Due: eslint

update piped instances
  static/piped-instances.json
Due: none

Improve note readability for mobile users
  README.md
Due: none

Update cached list of Invidious instances (#4842)
  static/invidious-instances.json
Due: none

Add back blank line between import & export
  src/renderer/components/general-settings/general-settings.js
Due: eslint

Add Tip blockquote to donate section
  README.md
Due: none

Update package.json
  package.json
Due: none

Bump version number to v0.20.0
  package.json
Due: none

Fix config.yml to prevent nesting
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Fix config.yml to prevent nesting (#4847)
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
