Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

* Replace clip with clip-path for hiding elements
  src/renderer/components/FtCheckboxList/FtCheckboxList.css
  src/renderer/components/FtRadioButton/FtRadioButton.css
Due: stylelint

* Replace grid-gap with gap
  src/renderer/components/FtAutoGrid/FtAutoGrid.css
  src/renderer/components/WatchVideoRecommendations/WatchVideoRecommendations.css
  src/renderer/views/About/About.css
  src/renderer/views/Playlist/Playlist.scss
Due: stylelint

* Disable stylelint rule no-invalid-position-declaration for a SCSS mixin line reported
  src/renderer/scss-partials/_utils.scss
Due: stylelint

* Replace word-wrap with overflow-wrap
  src/renderer/components/CommentSection/CommentSection.css
  src/renderer/components/FtCommunityPost/FtCommunityPost.scss
  src/renderer/components/FtInputTags/FtInputTags.css
  src/renderer/components/FtPlaylistSelector/FtPlaylistSelector.scss
  src/renderer/components/SideNav/SideNav.css
  src/renderer/components/WatchVideoLiveChat/WatchVideoLiveChat.css
  src/renderer/components/ft-input/ft-input.css
  src/renderer/components/watch-video-info/watch-video-info.css
  src/renderer/scss-partials/_ft-list-item.scss
  src/renderer/views/About/About.css
Due: stylelint

Translated using Weblate (Norwegian Bokmål)
  static/locales/nb-NO.yaml
Due: none

Add shorts player parameters to help with 403s (#7763)
  src/renderer/helpers/api/local.js
Due: eslint

Bump package version from 0.23.5 to 0.23.6 (#7794)
  package.json
Due: none

Migrate PlayerSettings to the composition API (#7766)
  src/renderer/components/PlayerSettings/PlayerSettings.css
  src/renderer/components/PlayerSettings/PlayerSettings.vue
  src/renderer/components/player-settings/player-settings.js
  src/renderer/components/player-settings/player-settings.vue
  src/renderer/views/Settings/Settings.js
Due: eslint, stylelint

Change Close button color to white (#7752)
  src/renderer/components/FtSearchFilters/FtSearchFilters.vue
Due: eslint

Fix handleSyncSubscriptionCache using the SYNC_PLAYLISTS IPC channel (#7756)
  src/preload/interface.js
Due: eslint

Fix "more" button from sidenav not closing (#7725)
  src/renderer/components/SideNavMoreOptions/SideNavMoreOptions.vue
Due: eslint

Enhancement: Add fast forward and rewind pop up to video player (#7729)
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.vue
Due: eslint, stylelint

Remove `Export Playlists For Older FreeTube Versions` (#7195)
  src/renderer/components/DataSettings.vue
  static/locales/en-US.yaml
Due: eslint

change iina name to IINA (#7773)
  static/external-player-map.json
Due: none

revert to development
  static/locales/fa.yaml
Due: none

Translated using Weblate (Croatian)
  static/locales/hr.yaml
Due: none

Fix selecting a new quick bookmark playlist
  src/renderer/components/FtListPlaylist/FtListPlaylist.vue
Due: eslint

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Show + for long playlists
  src/renderer/components/PlaylistInfo/PlaylistInfo.vue
Due: eslint

Migrate DistractionSettings to the composition API
  src/renderer/components/DistractionSettings/DistractionSettings.css
  src/renderer/components/DistractionSettings/DistractionSettings.vue
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/distraction-settings/distraction-settings.vue
  src/renderer/views/Settings/Settings.js
Due: eslint, stylelint

Use Array#find directly when parsing the chapters
  src/renderer/views/Watch/Watch.js
Due: eslint

Use Array#find directly when parsing the chapters (#7808)
  src/renderer/views/Watch/Watch.js
Due: eslint

Migrate DistractionSettings to the composition API (#7807)
  src/renderer/components/DistractionSettings/DistractionSettings.css
  src/renderer/components/DistractionSettings/DistractionSettings.vue
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/distraction-settings/distraction-settings.vue
  src/renderer/views/Settings/Settings.js
Due: eslint, stylelint

Fix selecting a new quick bookmark playlist (#7803)
  src/renderer/components/FtListPlaylist/FtListPlaylist.vue
Due: eslint

Translated using Weblate (Serbian)
  static/locales/sr.yaml
Due: none

Translated using Weblate (Basque)
  static/locales/eu.yaml
Due: none

set checkForBlogPosts to false
  src/renderer/components/general-settings/general-settings.vue
Due: eslint

Revert "set checkForBlogPosts to false"
  src/renderer/components/general-settings/general-settings.vue
Due: eslint

set real checkForBlogPosts to false
  src/renderer/store/modules/settings.js
Due: eslint

Fix subtitles being in the top right corner
  src/renderer/helpers/api/local.js
Due: eslint

Translated using Weblate (Swedish)
  static/locales/sv.yaml
Due: none

Fix subtitles being in the top right corner (#7841)
  src/renderer/helpers/api/local.js
Due: eslint

Set checkForBlogPosts to false (#7840)
  src/renderer/store/modules/settings.js
Due: eslint

Update playlist lastUpdatedAt in same step as adding/removing videos
  src/datastores/handlers/base.js
  src/datastores/handlers/electron.js
  src/main/index.js
  src/renderer/components/FtPlaylistAddVideoPrompt/FtPlaylistAddVideoPrompt.vue
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/store/modules/playlists.js
Due: eslint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
