Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Delete flatpak.yml (#8836)
  .github/workflows/flatpak.yml
Due: none

Translated using Weblate (Esperanto)
  static/locales/eo.yaml
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Avoid creating temporary arrays in recommended video sorting (#8878)
  src/renderer/views/Watch/Watch.js
Due: eslint

[Bug fix] Ensure linguistic alphabetical order for profile names (#8869)
  src/renderer/store/modules/profiles.js
Due: eslint

add toggle for channel thumbnail
  src/renderer/components/FtListChannel/FtListChannel.vue
Due: eslint

Translated using Weblate (Basque)
  static/locales/eu.yaml
Due: none

add conditional component for comments
  src/renderer/components/CommentSection/CommentSection.vue
Due: eslint

update locales
  src/renderer/components/ParentalControlSettings.vue
  static/locales/en-US.yaml
Due: eslint

Fix broken URLs not being treated as search queries
  src/renderer/store/modules/utils.js
Due: eslint

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  static/locales/zh-TW.yaml
Due: none

Fix broken URLs not being treated as search queries (#8900)
  src/renderer/store/modules/utils.js
Due: eslint

Fix fullscreen state detection race condition
  src/main/index.js
Due: eslint

Migrate the WatchVideoPlaylist component to the composition API (#8762)
  src/renderer/components/WatchVideoInfo/WatchVideoInfo.vue
  src/renderer/components/WatchVideoPlaylist/WatchVideoPlaylist.css
  src/renderer/components/WatchVideoPlaylist/WatchVideoPlaylist.vue
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
Due: eslint, stylelint

Temporarily patch out the broken auto quality selection
  src/renderer/components/PlayerSettings/PlayerSettings.vue
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint, stylelint

Remove linter job name to fix the required check blocking the merge
  .github/workflows/linter.yml
Due: none

Reduce workflow contention with changes to long running workflows (#8855)
  .github/workflows/build.yml
  .github/workflows/conflicts.yml
  .github/workflows/linter.yml
  .github/workflows/no-response.yml
Due: none

Temporarily patch out the broken auto quality selection (#8908)
  src/renderer/components/PlayerSettings/PlayerSettings.vue
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint, stylelint

Translated using Weblate (Sinhala)
  static/locales/si.yaml
Due: none

Translated using Weblate (Alemannic)
  static/locales/gsw.yaml
Due: none

Translated using Weblate (Filipino)
  static/locales/fil.yaml
Due: none

Translated using Weblate (Awadhi)
  static/locales/awa.yaml
Due: none

Translated using Weblate (Toki Pona)
  static/locales/tok.yaml
Due: none

Translated using Weblate (Flemish (West))
  static/locales/vls.yaml
Due: none

Translated using Weblate (Latin)
  static/locales/la.yaml
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Hebrew)
  static/locales/he.yaml
Due: none

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Show channels with errors sorted by name
  src/renderer/components/SubscriptionsTabUi/SubscriptionsTabUi.vue
Due: eslint

Ensure popup does not obstruct video title in full screen (#8870)
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
Due: stylelint

Bump package version from 0.23.15 to 0.24.0 (#8903)
  package.json
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Swedish)
  static/locales/sv.yaml
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
