Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Translated using Weblate (Hebrew)
  static/locales/he.yaml
Due: none

Translated using Weblate (Korean)
  static/locales/ko.yaml
Due: none

Translated using Weblate (Khmer (Central))
  static/locales/km.yaml
Due: none

Translated using Weblate (Georgian)
  static/locales/ka.yaml
Due: none

Translated using Weblate (Urdu)
  static/locales/ur.yaml
Due: none

Translated using Weblate (Tamil)
  static/locales/ta.yaml
Due: none

! Fix cannot use alt + D on macOS
  src/renderer/components/TopNav/TopNav.vue
Due: eslint

Fix channel about tab (#7446)
  src/renderer/views/Channel/Channel.vue
Due: eslint

Use better v-for keys in various places (#7447)
  src/renderer/components/FtCheckboxList/FtCheckboxList.vue
  src/renderer/components/FtElementList/FtElementList.vue
  src/renderer/components/FtRadioButton/FtRadioButton.vue
  src/renderer/components/SideNav/SideNav.vue
  src/renderer/components/WatchVideoRecommendations/WatchVideoRecommendations.vue
  src/renderer/components/ft-select/ft-select.js
  src/renderer/components/ft-select/ft-select.vue
  src/renderer/components/watch-video-live-chat/watch-video-live-chat.js
  src/renderer/components/watch-video-live-chat/watch-video-live-chat.vue
Due: eslint

! Fix cannot use alt + D on macOS (#7448)
  src/renderer/components/TopNav/TopNav.vue
Due: eslint

Migrate FtCreatePlaylistPrompt to the composition API (#7439)
  src/renderer/App.js
  src/renderer/components/FtCreatePlaylistPrompt/FtCreatePlaylistPrompt.css
  src/renderer/components/FtCreatePlaylistPrompt/FtCreatePlaylistPrompt.vue
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.js
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.vue
  src/renderer/store/modules/utils.js
Due: eslint, stylelint

Translated using Weblate (Afrikaans)
  static/locales/af.yaml
Due: none

Update src/renderer/views/Channel/Channel.vue
  src/renderer/views/Channel/Channel.vue
Due: eslint

Hide the 'Sort By' dropdown if there's only one video loaded on the videoPanel. If the user manually fetches more videos, the dropdown reappears. Applicable to Videos, Shorts and Lives
  src/renderer/views/Channel/Channel.vue
Due: eslint

Refactor - simplify logic for when to show the toggle on videos page
  src/renderer/views/Channel/Channel.vue
Due: eslint

Refactor - simplify logic for when to show the toggle on shorts page
  src/renderer/views/Channel/Channel.vue
Due: eslint

Refactor - simplify logic for when to show the toggle on live page
  src/renderer/views/Channel/Channel.vue
Due: eslint

Refactor - updated variable name for better readability
  src/renderer/views/Channel/Channel.vue
Due: eslint

Refactor, adjusted case for function name
  src/renderer/views/Channel/Channel.vue
Due: eslint

Refactor, adjusted case in function call
  src/renderer/views/Channel/Channel.vue
Due: eslint

Removed the CSS rules created for proper positioning of the toggle button
  src/renderer/views/Channel/Channel.css
Due: stylelint

Removed the switch from the Channel page
  src/renderer/views/Channel/Channel.vue
Due: eslint

Removed redundant import (since we're not rendering the toggle anymore)
  src/renderer/views/Channel/Channel.vue
Due: eslint

Moved toggle element from subscription to distractionfree component
  src/renderer/components/distraction-settings/distraction-settings.vue
  src/renderer/components/subscription-settings/subscription-settings.vue
Due: eslint

Removed unused sentence from the Channel page
  static/locales/en-US.yaml
Due: none

Moved computed functions and methods between components
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/subscription-settings/subscription-settings.js
Due: eslint

Updated variable declaration to access value from the store (global settings)
  src/renderer/views/Channel/Channel.vue
Due: eslint

Updated localization settings
  src/renderer/components/distraction-settings/distraction-settings.vue
  static/locales/en-US.yaml
Due: eslint

Refactor all variable referencs to the new variable name; removed old variable declaration; removed outdated update function
  src/renderer/views/Channel/Channel.vue
Due: eslint

Implemented tooltip and localization
  src/renderer/components/distraction-settings/distraction-settings.vue
  static/locales/en-US.yaml
Due: eslint

Convert the electron-builder scripts to ESM
  _scripts/build.mjs
  _scripts/ebuilder.config.mjs
  package.json
Due: none

Remove unused test script and speed up postinstall hook
  package.json
Due: none

Convert the electron-builder scripts to ESM (#7471)
  _scripts/build.mjs
  _scripts/ebuilder.config.mjs
  package.json
Due: none

Fix translated placeholders in strings
  static/locales/da.yaml
  static/locales/el.yaml
  static/locales/ko.yaml
  static/locales/ku.yaml
  static/locales/ro.yaml
  static/locales/tr.yaml
Due: none

* Implement context menu item "search X in new window"
  src/main/index.js
Due: eslint

Fix translated placeholders in strings (#7474)
  static/locales/da.yaml
  static/locales/el.yaml
  static/locales/ko.yaml
  static/locales/ku.yaml
  static/locales/ro.yaml
  static/locales/tr.yaml
Due: none

Update static/locales/en-US.yaml
  static/locales/en-US.yaml
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
