Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

remove new translations
  static/locales/id.yaml
  static/locales/pt-PT.yaml
Due: none

detect error channels properly
  src/renderer/components/subscriptions-live/subscriptions-live.js
  src/renderer/components/subscriptions-shorts/subscriptions-shorts.js
  src/renderer/components/subscriptions-videos/subscriptions-videos.js
Due: eslint

remove 500 status check
  src/renderer/components/subscriptions-live/subscriptions-live.js
  src/renderer/components/subscriptions-shorts/subscriptions-shorts.js
  src/renderer/components/subscriptions-videos/subscriptions-videos.js
Due: eslint

use get instead of head request
  src/renderer/components/subscriptions-live/subscriptions-live.js
  src/renderer/components/subscriptions-shorts/subscriptions-shorts.js
  src/renderer/components/subscriptions-videos/subscriptions-videos.js
Due: eslint

update return
  src/renderer/components/subscriptions-live/subscriptions-live.js
  src/renderer/components/subscriptions-shorts/subscriptions-shorts.js
  src/renderer/components/subscriptions-videos/subscriptions-videos.js
Due: eslint

Add support for upcoming livestream trailers
  src/renderer/helpers/api/local.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.scss
  src/renderer/views/Watch/Watch.vue
Due: eslint, stylelint

reuse template in the view when possible
  src/renderer/helpers/api/local.js
  src/renderer/views/Watch/Watch.scss
  src/renderer/views/Watch/Watch.vue
Due: eslint, stylelint

Add null-check for RichShelf playlist url
  src/renderer/helpers/api/local.js
Due: eslint

migrate stylelint to stylint.config.js
  .stylelintrc.json
  package.json
  stylelint.config.mjs
Due: none

Update stylelint.config.mjs
  stylelint.config.mjs
Due: none

Update version number
  package.json
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

remove if
  src/renderer/helpers/strings.js
Due: eslint

Fix Matrix urls
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  README.md
  src/renderer/views/About/About.vue
Due: eslint

Fix Matrix urls (#6891)
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  README.md
  src/renderer/views/About/About.vue
Due: eslint

Remove fallback to Array.from (#6830)
  src/renderer/helpers/strings.js
Due: eslint

Fix Color Contrast for Catppuccin Mocha card background
  src/renderer/themes.css
Due: stylelint

Translated using Weblate (Azerbaijani)
  static/locales/az.yaml
Due: none

Update package.json
  package.json
Due: none

Translated using Weblate (Norwegian Bokmål)
  static/locales/nb-NO.yaml
Due: none

Update package.json (#6898)
  package.json
Due: none

Translated using Weblate (Dutch)
  static/locales/nl.yaml
Due: none

Add icons to page headers + subscription tabs (#6669)
  src/renderer/components/FtSettingsMenu/FtSettingsMenu.css
  src/renderer/components/FtSettingsMenu/FtSettingsMenu.vue
  src/renderer/main.js
  src/renderer/views/About/About.css
  src/renderer/views/About/About.vue
  src/renderer/views/Hashtag/Hashtag.css
  src/renderer/views/Hashtag/Hashtag.vue
  src/renderer/views/History/History.css
  src/renderer/views/History/History.vue
  src/renderer/views/Popular/Popular.css
  src/renderer/views/Popular/Popular.vue
  src/renderer/views/Search/Search.css
  src/renderer/views/Search/Search.vue
  src/renderer/views/SubscribedChannels/SubscribedChannels.css
  src/renderer/views/SubscribedChannels/SubscribedChannels.vue
  src/renderer/views/Subscriptions/Subscriptions.css
  src/renderer/views/Subscriptions/Subscriptions.vue
  src/renderer/views/UserPlaylists/UserPlaylists.css
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Due: eslint, stylelint

Add Everforest color themes (#6468)
  _icons/iconEverforestDarkHardSmall.svg
  _icons/iconEverforestDarkLowSmall.svg
  _icons/iconEverforestDarkMediumSmall.svg
  _icons/iconEverforestLightHardSmall.svg
  _icons/iconEverforestLightLowSmall.svg
  _icons/iconEverforestLightMediumSmall.svg
  _icons/textEverforestDarkHardSmall.svg
  _icons/textEverforestDarkLowSmall.svg
  _icons/textEverforestDarkMediumSmall.svg
  _icons/textEverforestLightHardSmall.svg
  _icons/textEverforestLightLowSmall.svg
  _icons/textEverforestLightMediumSmall.svg
  src/main/index.js
  src/renderer/components/ThemeSettings.vue
  src/renderer/composables/colors.js
  src/renderer/helpers/colors.js
  src/renderer/themes.css
  static/locales/en-US.yaml
Due: eslint, stylelint

Update flatpak.yml
  .github/workflows/flatpak.yml
Due: none

Reduce repeated code in secondary theme colours
  src/renderer/themes.css
Due: stylelint

Migrate stylelintrc to stylint.config.js (#6871)
  .stylelintrc.json
  package.json
  stylelint.config.mjs
Due: none

Update flatpak.yml (#6903)
  .github/workflows/flatpak.yml
Due: none

Update flatpak.yml (#6902)
  .github/workflows/flatpak.yml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Translated using Weblate (Kurdish (Central))
  static/locales/ckb.yaml
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Japanese)
  static/locales/ja.yaml
Due: none

Translated using Weblate (Basque)
  static/locales/eu.yaml
Due: none
