Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

#4992 - Review comment changes
  src/renderer/helpers/api/local.js
  src/renderer/views/Search/Search.js
Due: eslint

Remove unnecessary v-if
  src/renderer/components/ft-select/ft-select.vue
Due: eslint

Update to use getIconForSortPreference util function with all arrows pointing down
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.js
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.vue
  src/renderer/helpers/utils.js
  src/renderer/main.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Channel/Channel.vue
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Playlist/Playlist.vue
  src/renderer/views/UserPlaylists/UserPlaylists.js
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Due: eslint

Implement settings section sorting
  src/renderer/store/modules/settings.js
  src/renderer/views/Settings/Settings.css
  src/renderer/views/Settings/Settings.js
  src/renderer/views/Settings/Settings.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

Update src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Playlist/Playlist.js
Due: eslint

fetch invidious instances from file then use api
  src/renderer/App.js
  src/renderer/store/modules/invidious.js
  static/invidious-instances.json
Due: eslint

Make effectiveListType computed property
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
Due: eslint

Make IS_ELECTRON property used directly
  src/renderer/views/Settings/Settings.js
Due: eslint

Force list view on playlists for mobile devices
  src/constants.js
  src/renderer/components/top-nav/top-nav.js
  src/renderer/themes.css
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Playlist/Playlist.scss
Due: eslint, stylelint

Implement minor reversing optimization / cleanup
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/helpers/playlists.js
Due: eslint

Remove leftover images (#5009)
  _icons/logoBlack.png
  _icons/logoWhite.png
Due: none

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Update to use fallback destructive colors
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/components/privacy-settings/privacy-settings.vue
  src/renderer/themes.css
Due: eslint, stylelint

Remove color from 'Cancel' prompt buttons
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.vue
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.vue
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/components/privacy-settings/privacy-settings.vue
Due: eslint

Add icon capability to ft-buttons, & attach trash icon to destructive buttons
  src/renderer/components/data-settings/data-settings.js
  src/renderer/components/data-settings/data-settings.vue
  src/renderer/components/experimental-settings/experimental-settings.vue
  src/renderer/components/ft-button/ft-button.css
  src/renderer/components/ft-button/ft-button.js
  src/renderer/components/ft-button/ft-button.vue
  src/renderer/components/ft-profile-edit/ft-profile-edit.vue
  src/renderer/components/ft-prompt/ft-prompt.js
  src/renderer/components/ft-prompt/ft-prompt.vue
  src/renderer/components/privacy-settings/privacy-settings.vue
Due: eslint, stylelint

Change yellow destructive fallback text color to black for readability
  src/renderer/themes.css
Due: stylelint

Change red color to have an accessible color contrast
  src/renderer/themes.css
Due: stylelint

Update red color to lighter color closer to original to avoid conflict
  src/renderer/themes.css
Due: stylelint

Tentatively codify black as new corresponding text color for red and draculaRed
  src/renderer/themes.css
Due: stylelint

Only approve web API permission requests for permissions that FreeTube needs
  src/main/index.js
Due: eslint

Use webpack dev server's open option (#4988)
  _scripts/dev-runner.js
Due: eslint

Fix handling of emojis with ZWJ sequences in profile initials
  src/renderer/components/ft-profile-bubble/ft-profile-bubble.js
  src/renderer/components/ft-profile-edit/ft-profile-edit.js
  src/renderer/components/ft-profile-selector/ft-profile-selector.js
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.js
  src/renderer/helpers/strings.js
Due: eslint

Fix vscode suggesting broken imports
  .vscode/settings.json
Due: none

Add icons to dropdowns (#5006)
  src/renderer/components/download-settings/download-settings.vue
  src/renderer/components/external-player-settings/external-player-settings.vue
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.js
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.vue
  src/renderer/components/ft-profile-filter-channels-list/ft-profile-filter-channels-list.vue
  src/renderer/components/ft-select/ft-select.css
  src/renderer/components/ft-select/ft-select.js
  src/renderer/components/ft-select/ft-select.vue
  src/renderer/components/ft-sponsor-block-category/ft-sponsor-block-category.vue
  src/renderer/components/general-settings/general-settings.vue
  src/renderer/components/player-settings/player-settings.vue
  src/renderer/components/proxy-settings/proxy-settings.vue
  src/renderer/components/theme-settings/theme-settings.vue
  src/renderer/components/watch-video-comments/watch-video-comments.vue
  src/renderer/helpers/utils.js
  src/renderer/main.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Channel/Channel.vue
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Playlist/Playlist.vue
  src/renderer/views/UserPlaylists/UserPlaylists.js
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Due: eslint, stylelint

Implement settings menu with icons
  src/renderer/components/ft-settings-menu/ft-settings-menu.css
  src/renderer/components/ft-settings-menu/ft-settings-menu.js
  src/renderer/components/ft-settings-menu/ft-settings-menu.vue
  src/renderer/components/ft-settings-section/ft-settings-section.js
  src/renderer/components/ft-settings-section/ft-settings-section.scss
  src/renderer/components/ft-settings-section/ft-settings-section.vue
  src/renderer/main.js
  src/renderer/store/modules/settings.js
  src/renderer/views/Settings/Settings.css
  src/renderer/views/Settings/Settings.js
  src/renderer/views/Settings/Settings.vue
Due: eslint, stylelint

Fix disabled ft-select label bug
  src/renderer/components/ft-select/ft-select.vue
Due: eslint

Implement settings section sorting option (#5010)
  src/renderer/store/modules/settings.js
  src/renderer/views/Settings/Settings.css
  src/renderer/views/Settings/Settings.js
  src/renderer/views/Settings/Settings.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

Fix vscode suggesting broken imports (#5024)
  .vscode/settings.json
Due: none

Code review changes - Move search character limit value to constants.js
  src/constants.js
  src/renderer/helpers/api/local.js
  src/renderer/store/modules/settings.js
  src/renderer/views/Search/Search.js
Due: eslint

Fix linting issue
  src/renderer/components/ft-select/ft-select.vue
Due: eslint

Translated using Weblate (Chinese (Traditional))
  static/locales/zh-TW.yaml
Due: none

Translated using Weblate (Chinese (Simplified))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Implement short labels and fallback to longer label when translation doesn't exist
  src/renderer/components/ft-settings-menu/ft-settings-menu.js
  src/renderer/components/ft-settings-menu/ft-settings-menu.vue
  src/renderer/views/Settings/Settings.js
  static/locales/en-US.yaml
Due: eslint

Implement dynamic scroll-based underlining of active section
  src/renderer/components/ft-settings-menu/ft-settings-menu.css
  src/renderer/components/ft-settings-menu/ft-settings-menu.vue
  src/renderer/views/Settings/Settings.css
  src/renderer/views/Settings/Settings.js
  src/renderer/views/Settings/Settings.vue
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
