Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Revert addition of Baka-MPlayer
  static/external-player-map.json
Due: none

Fix playlists not showing up on artist topic channels with the local API
  src/renderer/views/Channel/Channel.js
Due: eslint

Fix error when clicking on the current quality in the DASH quality selector
  src/renderer/components/ft-video-player/ft-video-player.js
Due: eslint

IV: Show channel handle in search results (#3791)
  src/renderer/components/ft-list-channel/ft-list-channel.js
  src/renderer/components/ft-list-channel/ft-list-channel.vue
Due: eslint

Fix error when clicking on the current quality in the DASH quality selector (#4130)
  src/renderer/components/ft-video-player/ft-video-player.js
Due: eslint

Add external player support for Baka, Celluloid & Haruna (#4067)
  static/external-player-map.json
Due: none

Keep download folder path when changing to 'ask for download path' and back (#4101)
  src/renderer/components/download-settings/download-settings.js
  src/renderer/store/modules/settings.js
  src/renderer/store/modules/utils.js
Due: eslint

truncate title of playlist in watch window
  src/renderer/components/watch-video-playlist/watch-video-playlist.css
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
Due: eslint, stylelint

Update src/renderer/components/watch-video-playlist/watch-video-playlist.vue
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
Due: eslint

Wrap channel tabs as soon as there isn't enough screen space
  src/renderer/views/Channel/Channel.css
Due: stylelint

Remove redundant `flex-wrap`
  src/renderer/views/Channel/Channel.css
Due: stylelint

added light grey and dark grey to themes.css and colors.js
  src/renderer/helpers/colors.js
  src/renderer/themes.css
Due: eslint, stylelint

Wrap channel tabs as soon as there isn't enough screen space (#4139)
  src/renderer/views/Channel/Channel.css
Due: stylelint

Truncate title of playlist in queue window (#4134)
  src/renderer/components/watch-video-playlist/watch-video-playlist.css
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
Due: eslint, stylelint

^ Upgrade electron from 22.x to 27.x
  package.json
  yarn.lock
Due: none

* Replace deprecated registerBufferProtocol
  src/main/index.js
Due: eslint

Fix playlists not showing up on artist topic channels with the local API (#4129)
  src/renderer/views/Channel/Channel.js
Due: eslint

* Ensure updated locales are auto-reloaded in electron renderer dev mode
  _scripts/ProcessLocalesPlugin.js
  _scripts/webpack.renderer.config.js
  package.json
  yarn.lock
Due: eslint

* Add watch external file plugin in dev mode only
  _scripts/webpack.renderer.config.js
Due: eslint

Remove be.yaml file
  static/locales/be.yaml
Due: none

Remove be.yaml file (#4176)
  static/locales/be.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Indonesian)
  static/locales/id.yaml
Due: none

! Fix single playlist view item index style
  src/renderer/views/Playlist/Playlist.css
Due: stylelint

Translated using Weblate (English (United Kingdom))
  static/locales/en_GB.yaml
Due: none

fix typos in src/main/index.js comments
  src/main/index.js
Due: eslint

fix typos in src/main/index.js comments (#4180)
  src/main/index.js
Due: eslint

i am modified file
  .gitignore
Due: none

$ Rename uniqueId to playlistItemId
  src/datastores/handlers/base.js
  src/datastores/handlers/electron.js
  src/datastores/handlers/web.js
  src/main/index.js
  src/renderer/components/data-settings/data-settings.js
  src/renderer/components/ft-list-video-lazy/ft-list-video-lazy.js
  src/renderer/components/ft-list-video-lazy/ft-list-video-lazy.vue
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
  src/renderer/store/modules/history.js
  src/renderer/store/modules/playlists.js
  src/renderer/store/modules/utils.js
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Playlist/Playlist.vue
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
Due: eslint

* Ensure local playlist ID won't conflict with remote playlist ID
  src/renderer/store/modules/playlists.js
  src/renderer/views/Watch/Watch.js
Due: eslint

- Remove import video while creating playlist related code
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.js
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.vue
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.js
  src/renderer/store/modules/utils.js
  src/renderer/views/UserPlaylists/UserPlaylists.js
Due: eslint

Fix proxy settings test
  src/main/index.js
  src/renderer/components/proxy-settings/proxy-settings.js
Due: eslint

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Exiting Full Window and Fullscreen on video end
  src/renderer/components/ft-video-player/ft-video-player.js
Due: eslint

Fix proxy settings test (#4192)
  src/main/index.js
  src/renderer/components/proxy-settings/proxy-settings.js
Due: eslint

! Fix single playlist view item index style (#4179)
  src/renderer/views/Playlist/Playlist.css
Due: stylelint

Upgrade electron from 22.x to 27.x and replace deprecated `protocol.registerBufferProtocol` (#3967)
  package.json
  src/main/index.js
  yarn.lock
Due: eslint

Implement select mode enabled styling
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/top-nav/top-nav.scss
  src/renderer/components/top-nav/top-nav.vue
  src/renderer/scss-partials/_ft-list-item.scss
Due: eslint, stylelint

* Make text translatable
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.vue
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.vue
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/components/privacy-settings/privacy-settings.vue
  src/renderer/components/watch-video-info/watch-video-info.vue
  src/renderer/views/Playlist/Playlist.vue
  src/renderer/views/UserPlaylists/UserPlaylists.vue
  static/locales/en-US.yaml
Due: eslint

Implement customizable landing pages
  src/renderer/App.js
  src/renderer/components/general-settings/general-settings.js
  src/renderer/components/general-settings/general-settings.vue
  src/renderer/router/index.js
Due: eslint
