Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Handle unplayable content better with the local API (#5922)
  src/renderer/helpers/api/local.js
  src/renderer/main.js
  src/renderer/views/Watch/Watch.js
  static/locales/en-US.yaml
Due: eslint

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Local API: Display more video tags in search results (#5926)
  src/renderer/helpers/api/local.js
Due: eslint

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  static/locales/zh-TW.yaml
Due: none

Translated using Weblate (Hebrew)
  static/locales/he.yaml
Due: none

Switch from deprecated standard to neostandard in ESLint config (#5890)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/conflicts.yml
  .github/workflows/no-response.yml
  .github/workflows/release.yml
  .github/workflows/remove-outdated-labels.yml
  .prettierrc
  _scripts/ProcessLocalesPlugin.js
  _scripts/build.js
  _scripts/dev-runner.js
  _scripts/ebuilder.config.js
  _scripts/getRegions.mjs
  _scripts/injectAllowedPaths.mjs
  _scripts/mime-db-shrinking-loader.js
  _scripts/patchShaka.mjs
  _scripts/webpack.main.config.js
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
  eslint.config.mjs
  package.json
  src/main/index.js
  static/locales/ar.yaml
  yarn.lock
Due: eslint

Cleanup Invidious backwards compatibility (#5928)
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/player-components/LegacyQualitySelection.js
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/player/utils.js
  src/renderer/views/Watch/Watch.js
Due: eslint

Improve text with accent readability
  src/renderer/themes.css
Due: stylelint

Translated using Weblate (Spanish (Mexico))
  static/locales/es-MX.yaml
Due: none

Translated using Weblate (Toki Pona)
  static/locales/tok.yaml
Due: none

Translated using Weblate (Breton)
  static/locales/br.yaml
Due: none

Fix issue #5969
  src/renderer/views/Watch/Watch.js
Due: eslint

Fix full window for videos with a 4:3 aspect ratio
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.vue
Due: eslint

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Fix document.title not populating on the first page after loading the app.
  src/renderer/App.js
  src/renderer/components/top-nav/top-nav.js
Due: eslint

Fix linting
  src/main/index.js
  src/renderer/components/top-nav/top-nav.js
Due: eslint

Fix full window for videos with a 4:3 aspect ratio (#5976)
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.vue
Due: eslint

Migrate FtCommunityPost and FtCommunityPoll to the composition API (#5937)
  src/renderer/components/FtCommunityPoll/FtCommunityPoll.css
  src/renderer/components/FtCommunityPoll/FtCommunityPoll.vue
  src/renderer/components/FtCommunityPost/FtCommunityPost.scss
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/components/ft-community-poll/ft-community-poll.js
  src/renderer/components/ft-community-post/ft-community-post.js
  src/renderer/components/ft-community-post/ft-community-post.vue
  src/renderer/views/Post/Post.js
Due: eslint, stylelint

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

Remove ' - FreeTube' portion of default titles
  src/renderer/helpers/strings.js
Due: eslint

Only enable page bookmarking on certain routes
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/top-nav/top-nav.scss
  src/renderer/components/top-nav/top-nav.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Use import.meta.dirname in mjs scripts
  _scripts/getRegions.mjs
  _scripts/injectAllowedPaths.mjs
Due: none

Apply active FreeTube theme to shaka-player menus
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
Due: stylelint

Use import.meta.dirname in mjs scripts (#5984)
  _scripts/getRegions.mjs
  _scripts/injectAllowedPaths.mjs
Due: none

Fix issue #5969 (#5970)
  src/renderer/views/Watch/Watch.js
Due: eslint

Remove PiP and fullscreen default viewing mode options in settings when Electron is not available
  src/renderer/components/player-settings/player-settings.js
Due: eslint

Migrate FtListChannel and FtListHashtag to the composition API (#5945)
  src/renderer/components/FtListChannel/FtListChannel.scss
  src/renderer/components/FtListChannel/FtListChannel.vue
  src/renderer/components/FtListHashtag/FtListHashtag.scss
  src/renderer/components/FtListHashtag/FtListHashtag.vue
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/components/ft-list-channel/ft-list-channel.js
  src/renderer/components/ft-list-channel/ft-list-channel.vue
  src/renderer/components/ft-list-hashtag/ft-list-hashtag.js
  src/renderer/components/ft-list-hashtag/ft-list-hashtag.vue
  src/renderer/helpers/api/local.js
Due: eslint, stylelint

Fix settings password handling
  src/renderer/views/Settings/Settings.js
  src/renderer/views/Settings/Settings.vue
Due: eslint

Update backend Preference logic for community post to fallback when Piped is used
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
Due: eslint
