Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Remove pending restart and update 'settingsNotTransferrable'
  src/renderer/components/DataSettings/DataSettings.vue
  src/renderer/store/modules/settings.js
Due: eslint

Fix localization key
  src/renderer/components/DataSettings/DataSettings.vue
Due: eslint

Differentiate between non-transferable and unknown settings
  src/renderer/components/DataSettings/DataSettings.vue
  static/locales/en-US.yaml
Due: eslint

Fix tooltip on mobile screen
  src/renderer/components/DataSettings/DataSettings.css
  src/renderer/components/DataSettings/DataSettings.vue
  src/renderer/components/FtSettingsSection/FtSettingsSection.scss
Due: eslint, stylelint

Add documentation
  src/renderer/store/modules/settings.js
Due: eslint

Improve tooltip text
  src/renderer/components/DataSettings/DataSettings.vue
  static/locales/en-US.yaml
Due: eslint

Consider settingsPassword to be exportable, could be discussed
  src/renderer/store/modules/settings.js
Due: eslint

Simplify const access across store and vue script
  src/renderer/components/DataSettings/DataSettings.vue
  src/renderer/store/modules/settings.js
Due: eslint

Add backendPreference key to settingsNotExportable set because it is dependent of process.env
  src/renderer/store/modules/settings.js
Due: eslint

Add more items to settingsNotExportable set
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint

Fix typo
  src/renderer/components/DataSettings/DataSettings.vue
  src/renderer/store/modules/settings.js
Due: eslint

Add import/export settings buttons
  src/renderer/components/DataSettings/DataSettings.vue
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint

Take into account settings that need restart
  src/renderer/components/DataSettings/DataSettings.vue
  src/renderer/store/modules/settings.js
Due: eslint

Add tooltip to the data settings header
  src/renderer/components/DataSettings/DataSettings.css
  src/renderer/components/DataSettings/DataSettings.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

Replace 'exportable' occurences by 'transferrable'
  src/renderer/components/DataSettings/DataSettings.vue
  src/renderer/store/modules/settings.js
Due: eslint

Add more settings to 'settingsNotTransferrable' array
  src/renderer/store/modules/settings.js
Due: eslint

Add documentation
  src/renderer/components/DataSettings/DataSettings.vue
  src/renderer/store/modules/settings.js
Due: eslint

Use same format as db file for import/export
  src/renderer/components/DataSettings/DataSettings.vue
  static/locales/en-US.yaml
Due: eslint

Apply code suggestions
  src/renderer/components/DataSettings/DataSettings.vue
  src/renderer/store/modules/settings.js
Due: eslint

Apply code suggestions
  src/renderer/components/DataSettings/DataSettings.vue
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint

Add play all button (#9340)
  src/renderer/views/Channel/Channel.css
  src/renderer/views/Channel/Channel.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

Fix: Local Playlist doesn't show upcoming premieres if 'hide upcoming premieres' is enabled (#9320)
  src/renderer/components/FtElementList/FtElementList.vue
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/views/Playlist/Playlist.vue
Due: eslint

Fix comment replies not being able to be loaded in parallel
  src/renderer/components/CommentSection/CommentSection.vue
Due: eslint

Fix 'Fetch more comments' button duplicating results when spam clicking
  src/renderer/components/CommentSection/CommentSection.vue
Due: eslint

Add import/export settings buttons (#9123)
  src/renderer/components/DataSettings/DataSettings.vue
  src/renderer/components/FtSettingsSection/FtSettingsSection.scss
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint, stylelint

Add remote control feature (search, play/pause, volume, seek from phone)
  _scripts/webpack.main.config.js
  package.json
  pnpm-lock.yaml
  src/constants.js
  src/main/index.js
  src/main/remoteControlPage.js
  src/main/remoteControlServer.js
  src/preload/interface.js
  src/renderer/App.vue
  src/renderer/components/RemoteControlSettings/RemoteControlSettings.css
  src/renderer/components/RemoteControlSettings/RemoteControlSettings.vue
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/helpers/remote-control.js
  src/renderer/main.js
  src/renderer/views/Settings/Settings.vue
  src/renderer/views/Watch/Watch.js
  static/locales/en-US.yaml
Due: eslint, stylelint

Add fullscreen toggle to remote control, fix settings error display, align code style
  src/main/remoteControlPage.js
  src/main/remoteControlServer.js
  src/renderer/components/RemoteControlSettings/RemoteControlSettings.vue
  src/renderer/helpers/remote-control.js
  src/renderer/views/Watch/Watch.js
Due: eslint

Migrate the FtListVideo component to the composition API
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/components/FtListVideo/FtListVideo.scss
  src/renderer/components/FtListVideo/FtListVideo.vue
  src/renderer/components/FtListVideoLazy.vue
  src/renderer/components/FtListVideoNumbered/FtListVideoNumbered.vue
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
Due: eslint, stylelint

Migrate the FtListVideo component to the composition API (#9413)
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/components/FtListVideo/FtListVideo.scss
  src/renderer/components/FtListVideo/FtListVideo.vue
  src/renderer/components/FtListVideoLazy.vue
  src/renderer/components/FtListVideoNumbered/FtListVideoNumbered.vue
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
Due: eslint, stylelint

! Fix dev restart not killing old process in macOS (#9380)
  _scripts/dev-runner.js
  package.json
  pnpm-lock.yaml
Due: eslint

* Use batched fetching instead of forcing RSS with sub count > 125 (#9379)
  src/renderer/components/SubscriptionsLive.vue
  src/renderer/components/SubscriptionsPosts.vue
  src/renderer/components/SubscriptionsVideos.vue
  src/renderer/views/Subscriptions/Subscriptions.vue
Due: eslint

fix: improve catppuccinMocha owner comment color contrast
  src/renderer/themes.css
Due: stylelint

fix: prevent extra scrollbar in settings for certain languages
  src/renderer/views/Settings/Settings.css
Due: stylelint

fix: prevent settings select labels from overflowing adjacent UI
  src/renderer/components/FtSelect/FtSelect.css
Due: stylelint

Fix screenshot 'Save to Folder' failing in some scenarios
  _scripts/dev-runner.js
  src/main/index.js
Due: eslint

Fix
  _scripts/dev-runner.js
Due: eslint

Translated using Weblate (Swedish)
  static/locales/sv.yaml
Due: none

Fix hide channel for recommended videos
  src/renderer/components/FtListVideoLazy.vue
  src/renderer/helpers/api/local.js
Due: eslint

Fix hide channel for search results
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/helpers/api/local.js
Due: eslint
