Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

* Update style & button title
  src/renderer/components/ft-icon-button/ft-icon-button.scss
  src/renderer/components/ft-icon-button/ft-icon-button.vue
  src/renderer/components/ft-playlist-add-video-button/ft-playlist-add-video-button.js
  src/renderer/components/ft-playlist-add-video-button/ft-playlist-add-video-button.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

Update playlist name with title
  src/renderer/App.js
  src/renderer/views/Playlist/Playlist.js
Due: eslint

Add custom webpack loader to remove unused mimetypes from mime-db (#5148)
  _scripts/mime-db-shrinking-loader.js
  _scripts/webpack.main.config.js
Due: eslint

User playlists as grid (#4949)
  src/constants.js
  src/renderer/App.js
  src/renderer/App.vue
  src/renderer/components/ft-element-list/ft-element-list.js
  src/renderer/components/ft-element-list/ft-element-list.vue
  src/renderer/components/ft-list-lazy-wrapper/ft-list-lazy-wrapper.js
  src/renderer/components/ft-list-lazy-wrapper/ft-list-lazy-wrapper.vue
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/ft-refresh-widget/ft-refresh-widget.js
  src/renderer/components/ft-refresh-widget/ft-refresh-widget.scss
  src/renderer/components/ft-refresh-widget/ft-refresh-widget.vue
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/playlist-info/playlist-info.scss
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/scss-partials/_utils.scss
  src/renderer/themes.css
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Playlist/Playlist.scss
  src/renderer/views/Playlist/Playlist.vue
Due: eslint, stylelint

Set a max length of 100 for most inputs
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/ft-input/ft-input.vue
  src/renderer/components/password-dialog/password-dialog.vue
  src/renderer/components/password-settings/password-settings.vue
  src/renderer/components/playlist-info/playlist-info.vue
Due: eslint

Fix checkmark icon being wrongly flipped for RTL languages
  src/renderer/themes.css
Due: stylelint

Fix quick bookmark color disappearing on hover
  src/renderer/components/ft-icon-button/ft-icon-button.scss
Due: stylelint

Remove un-utilized allowPlayingVideoRemoval disabled option
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
Due: eslint

Fix fetching the channel thumbnail
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/helpers/channels.js
Due: eslint

Have currently deleted video entry become the prior entry in the playlist
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
Due: eslint

Remove maxlength where it constrains valid inputs
  src/renderer/components/external-player-settings/external-player-settings.vue
  src/renderer/components/ft-input-tags/ft-input-tags.vue
  src/renderer/components/general-settings/general-settings.vue
  src/renderer/components/player-settings/player-settings.vue
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/components/proxy-settings/proxy-settings.vue
  src/renderer/components/sponsor-block-settings/sponsor-block-settings.vue
  src/renderer/components/top-nav/top-nav.vue
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Due: eslint

Remove vestigial code
  src/renderer/components/ft-icon-button/ft-icon-button.scss
Due: stylelint

Update playlist name with title (#5150)
  src/renderer/App.js
  src/renderer/views/Playlist/Playlist.js
Due: eslint

Allow filtering searches by features
  src/renderer/components/ft-checkbox-list/ft-checkbox-list.css
  src/renderer/components/ft-checkbox-list/ft-checkbox-list.js
  src/renderer/components/ft-checkbox-list/ft-checkbox-list.vue
  src/renderer/components/ft-search-filters/ft-search-filters.js
  src/renderer/components/ft-search-filters/ft-search-filters.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/helpers/api/local.js
  src/renderer/helpers/utils.js
  src/renderer/store/modules/utils.js
  src/renderer/views/Search/Search.js
  static/locales/en-US.yaml
Due: eslint, stylelint

use include instead of some
  src/renderer/components/ft-checkbox-list/ft-checkbox-list.css
  src/renderer/components/ft-checkbox-list/ft-checkbox-list.js
  src/renderer/components/ft-checkbox-list/ft-checkbox-list.vue
  src/renderer/components/ft-radio-button/ft-radio-button.css
Due: eslint, stylelint

use created instead of mounted for ft-radio-button and ft-checkbox-list
  src/renderer/components/ft-checkbox-list/ft-checkbox-list.js
  src/renderer/components/ft-radio-button/ft-radio-button.js
Due: eslint

update css and classes used in ft-checkbox-list
  src/renderer/components/ft-checkbox-list/ft-checkbox-list.css
  src/renderer/components/ft-checkbox-list/ft-checkbox-list.vue
  src/renderer/components/ft-radio-button/ft-radio-button.css
Due: eslint, stylelint

small bug fixes
  src/renderer/components/ft-checkbox-list/ft-checkbox-list.js
  src/renderer/views/Search/Search.js
Due: eslint

* Add new label text to translation file
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.vue
  static/locales/en-US.yaml
Due: eslint

! Fix property type for can be missing view count
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/ft-playlist-add-video-button/ft-playlist-add-video-button.js
Due: eslint

* Address RTL and style issue
  src/renderer/components/ft-icon-button/ft-icon-button.scss
  src/renderer/components/ft-icon-button/ft-icon-button.vue
Due: eslint, stylelint

Update proxy port and playlist description maxlength
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/components/proxy-settings/proxy-settings.vue
Due: eslint

Fix hide/show channel in ft-list-video (#5149)
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/helpers/channels.js
Due: eslint

* Make counter appear top left (for LTR locales)
  src/renderer/components/ft-icon-button/ft-icon-button.scss
Due: stylelint

* Hide counter in single user playlist view
  src/renderer/components/ft-element-list/ft-element-list.js
  src/renderer/components/ft-element-list/ft-element-list.vue
  src/renderer/components/ft-list-lazy-wrapper/ft-list-lazy-wrapper.js
  src/renderer/components/ft-list-lazy-wrapper/ft-list-lazy-wrapper.vue
  src/renderer/components/ft-list-video-lazy/ft-list-video-lazy.js
  src/renderer/components/ft-list-video-lazy/ft-list-video-lazy.vue
  src/renderer/components/ft-list-video-numbered/ft-list-video-numbered.js
  src/renderer/components/ft-list-video-numbered/ft-list-video-numbered.vue
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/ft-playlist-add-video-button/ft-playlist-add-video-button.js
  src/renderer/views/Playlist/Playlist.vue
Due: eslint

! Fix counter style
  src/renderer/components/ft-icon-button/ft-icon-button.scss
Due: stylelint

Translated using Weblate (Indonesian)
  static/locales/id.yaml
Due: none

Implement suggested changes
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.vue
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.vue
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Due: eslint

Fix channel sort values to show the values they are
  src/renderer/views/Channel/Channel.vue
Due: eslint

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

Use addVideo instead of addVideos for quick bookmark button
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/watch-video-info/watch-video-info.js
Due: eslint

Cache quick bookmark playlist to reduce the amount of lookups
  src/renderer/components/ft-list-playlist/ft-list-playlist.js
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/store/modules/playlists.js
Due: eslint

Access reactive video id once outside of the quick bookmark check
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/watch-video-info/watch-video-info.js
Due: eslint

$ Remove unused import
  src/renderer/components/watch-video-info/watch-video-info.js
Due: eslint

* Use set instead of array for performance
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.js
Due: eslint

* Add aria-disabled to disabled playlist selector
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.vue
Due: eslint

Cache quick bookmark playlist to reduce the amount of lookups (#5169)
  src/renderer/components/ft-list-playlist/ft-list-playlist.js
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/store/modules/playlists.js
Due: eslint

Use addVideo instead of addVideos for quick bookmark button (#5168)
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/watch-video-info/watch-video-info.js
Due: eslint

Quick bookmark button RTL & hover fixes (#5157)
  src/renderer/components/ft-icon-button/ft-icon-button.scss
  src/renderer/themes.css
Due: stylelint

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none
