Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Translated using Weblate (Belarusian)
  static/locales/be.yaml
Due: none

Fixed unclickable comment sorting at 800<=width
  src/renderer/components/watch-video-comments/watch-video-comments.css
Due: stylelint

Translated using Weblate (Bengali)
  static/locales/bn.yaml
Due: none

Translated using Weblate (Russian)
  static/locales/ru.yaml
Due: none

Translated using Weblate (Finnish)
  static/locales/fi.yaml
Due: none

Translated using Weblate (Spanish (Mexico))
  static/locales/es-MX.yaml
Due: none

Translated using Weblate (English (United Kingdom))
  static/locales/en_GB.yaml
Due: none

Translated using Weblate (Spanish (Argentina))
  static/locales/es_AR.yaml
Due: none

Search input keyboard focus enhancements
  src/renderer/App.js
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/top-nav/top-nav.js
Due: eslint

Translated using Weblate (Hebrew)
  static/locales/he.yaml
Due: none

Fix search input focus interfering with KDE clipboard sync
  src/renderer/App.js
  src/renderer/components/top-nav/top-nav.js
Due: eslint

Translated using Weblate (Portuguese)
  static/locales/pt.yaml
Due: none

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

fix for long query throwing error
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/ft-input/ft-input.vue
  src/renderer/components/top-nav/top-nav.vue
Due: eslint

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

* Use working fork of vue-devtools
  package.json
  yarn.lock
Due: none

fixing lint issues according to code review
  src/renderer/components/ft-input/ft-input.vue
  src/renderer/components/top-nav/top-nav.vue
Due: eslint

including test functions
  src/renderer/components/ft-video-player/ft-video-player.js
Due: eslint

pushing skeleton code to change from button to slider
  src/renderer/components/ft-video-player/ft-video-player.js
Due: eslint

Toggle keyboard shortcuts
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/components/player-settings/player-settings.js
  src/renderer/components/player-settings/player-settings.vue
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint

Update ft-video-player.js
  src/renderer/components/ft-video-player/ft-video-player.js
Due: eslint

added necessary spaces in colors.js
  src/renderer/helpers/colors.js
Due: eslint

Update settings.js
  src/renderer/store/modules/settings.js
Due: eslint

Fixed order of elements to allow for proper tabbing in comments section (#4099)
  src/renderer/components/watch-video-comments/watch-video-comments.css
  src/renderer/components/watch-video-comments/watch-video-comments.vue
Due: eslint, stylelint

Add command line arg to search FreeTube
  src/main/index.js
  src/renderer/App.js
  src/renderer/components/top-nav/top-nav-events.js
  src/renderer/components/top-nav/top-nav.js
  src/renderer/views/Search/Search.js
Due: eslint

! Fix translation
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/views/UserPlaylists/UserPlaylists.vue
  static/locales/en-US.yaml
Due: eslint

Update src/renderer/components/ft-input-tags/ft-input-tags.vue
  src/renderer/components/ft-input-tags/ft-input-tags.vue
Due: eslint

add text selection for ft tags
  src/renderer/components/ft-input-tags/ft-input-tags.css
Due: stylelint

add ft-input-tags icon url
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/ft-input-tags/ft-input-tags.css
  src/renderer/components/ft-input-tags/ft-input-tags.js
  src/renderer/components/ft-input-tags/ft-input-tags.vue
  src/renderer/helpers/channels.js
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
