Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Fix the upcoming bar not showing
  src/renderer/views/Watch/Watch.scss
  src/renderer/views/Watch/Watch.vue
Due: eslint, stylelint

Do not mark as watched when the user has only watched the trailer
  src/renderer/views/Watch/Watch.js
Due: eslint

Translated using Weblate (Spanish (Argentina))
  static/locales/es-AR.yaml
Due: none

Translated using Weblate (Spanish (Mexico))
  static/locales/es-MX.yaml
Due: none

Translated using Weblate (Dutch)
  static/locales/nl.yaml
Due: none

Add support for upcoming livestream trailers (#6375)
  src/renderer/helpers/api/local.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.scss
  src/renderer/views/Watch/Watch.vue
Due: eslint, stylelint

Updated CONTRIBUTING.md formatting for better readability
  CONTRIBUTING.md
Due: none

Add a note to PR template to discourage AI PRs
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Translated using Weblate (Greek)
  static/locales/el.yaml
Due: none

Added check for MacOS on start, settings check modified for MacOS and Android, fixed behaviour for URL redirection'
  src/main/index.js
  src/renderer/components/general-settings/general-settings.js
  src/renderer/components/general-settings/general-settings.vue
Due: eslint

Migrate TopNav to the composition API
  src/renderer/App.js
  src/renderer/App.vue
  src/renderer/components/TopNav/TopNav.scss
  src/renderer/components/TopNav/TopNav.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/top-nav/top-nav.vue
  src/renderer/store/modules/search-history.js
Due: eslint, stylelint

Log data when protobuf encoding fails
  src/renderer/helpers/player/SabrSchemePlugin.js
Due: eslint

Added note to avoid AI/LLMs in documentation contributions
  CONTRIBUTING.md
Due: none

Migrate the Channel page to the composition API (#7187)
  src/renderer/components/ChannelAbout/ChannelAbout.vue
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Channel/Channel.vue
Due: eslint

remove unused assets
  _icons/.icon-set/iconColor_256.png
  _icons/.icon-set/icon_128x128.png
  _icons/.icon-set/icon_16x16.png
  _icons/.icon-set/icon_32x32.png
  _icons/.icon-set/icon_48x48.png
  _icons/.icon-set/icon_64x64.png
  _icons/256x256.png
  _icons/icon.icns
  _icons/iconBlack.svg
  _icons/iconColor.icns
  _icons/iconColor.ico
  _icons/iconColor.svg
  _icons/iconWhite.svg
  _icons/logoBlack.svg
  _icons/logoWhite.svg
  _icons/mejs-controls.svg
  _icons/textBlack.svg
  _icons/textColor.svg
  _icons/textWhite.svg
Due: none

Translated using Weblate (Alemannic)
  static/locales/gsw.yaml
Due: none

Translated using Weblate (Norwegian Bokmål)
  static/locales/nb-NO.yaml
Due: none

Translated using Weblate (Portuguese (Portugal))
  static/locales/pt-PT.yaml
Due: none

* Show badge for member only videos (Local API)
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/helpers/api/local.js
  src/renderer/scss-partials/_ft-list-item.scss
  static/locales/en-US.yaml
Due: eslint, stylelint

* Hide members only videos instead
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/helpers/subscriptions.js
  src/renderer/scss-partials/_ft-list-item.scss
  src/renderer/views/Channel/Channel.vue
  src/renderer/views/Hashtag/Hashtag.vue
  src/renderer/views/Watch/Watch.js
  static/locales/en-US.yaml
Due: eslint, stylelint

Translated using Weblate (Chinese (Traditional Han script))
  static/locales/zh-TW.yaml
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Fix the channel name and ID missing on the channel home tab
  src/renderer/helpers/api/local.js
  src/renderer/views/Channel/Channel.vue
  src/renderer/views/Hashtag/Hashtag.vue
Due: eslint

remove unused assets (#7229)
  _icons/.icon-set/iconColor_256.png
  _icons/.icon-set/icon_128x128.png
  _icons/.icon-set/icon_16x16.png
  _icons/.icon-set/icon_32x32.png
  _icons/.icon-set/icon_48x48.png
  _icons/.icon-set/icon_64x64.png
  _icons/256x256.png
  _icons/icon.icns
  _icons/iconBlack.svg
  _icons/iconColor.icns
  _icons/iconColor.ico
  _icons/iconColor.svg
  _icons/iconWhite.svg
  _icons/logoBlack.svg
  _icons/logoWhite.svg
  _icons/mejs-controls.svg
  _icons/textBlack.svg
  _icons/textColor.svg
  _icons/textWhite.svg
Due: none

Migrate TopNav to the composition API (#7227)
  src/renderer/App.js
  src/renderer/App.vue
  src/renderer/components/TopNav/TopNav.scss
  src/renderer/components/TopNav/TopNav.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/top-nav/top-nav.vue
  src/renderer/store/modules/search-history.js
Due: eslint, stylelint

Fix live streams not working on the local API
  src/renderer/views/Watch/Watch.js
Due: eslint

Translated using Weblate (Korean)
  static/locales/ko.yaml
Due: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

use new images
  README.md
Due: none

use proper file references
  README.md
Due: none

* Handle member first videos
  src/renderer/helpers/api/local.js
  src/renderer/helpers/subscriptions.js
  src/renderer/views/Channel/Channel.vue
  src/renderer/views/Hashtag/Hashtag.vue
  src/renderer/views/Watch/Watch.js
Due: eslint

Add statement of attribution
  CODE_OF_CONDUCT.md
Due: none

Fix live streams not working on the local API (#7233)
  src/renderer/views/Watch/Watch.js
Due: eslint

Translated using Weblate (Assamese)
  static/locales/as.yaml
Due: none

Translated using Weblate (English (United Kingdom))
  static/locales/en-GB.yaml
Due: none

Translated using Weblate (Sinhala)
  static/locales/si.yaml
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
