Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Create CODEOWNERS
  .github/CODEOWNERS
Due: none

Translated using Weblate (Azerbaijani)
  static/locales/az.yaml
Due: none

Translated using Weblate (Albanian)
  static/locales/af.yaml
  static/locales/da.yaml
  static/locales/fil.yaml
  static/locales/lv.yaml
  static/locales/ro.yaml
  static/locales/sl.yaml
  static/locales/sq.yaml
  static/locales/sr.yaml
Due: none

Add mix-blend-mode to improve sponsorBlock visibility
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
Due: stylelint

eslint: use defineConfig for better editor integration when updating the file (#9530)
  eslint.config.mjs
Due: none

Create CODEOWNERS (#9534)
  .github/CODEOWNERS
Due: none

Fix channel's posts no loading if original post was deleted (#9533)
  src/renderer/helpers/api/local.js
Due: eslint

Translated using Weblate (Esperanto)
  static/locales/eo.yaml
Due: none

Correctly reset state to prevent several call to getPlaylistInfo
  src/renderer/helpers/utils.js
  src/renderer/views/Playlist/Playlist.vue
Due: eslint

Remove unwanted changes
  src/renderer/helpers/utils.js
  src/renderer/views/Playlist/Playlist.vue
Due: eslint

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

feat(privacy): add automatic watch and search history eraser (fix #2889)
  src/constants.js
  src/datastores/handlers/base.js
  src/datastores/handlers/electron.js
  src/main/index.js
  src/renderer/App.vue
  src/renderer/components/PrivacySettings.vue
  src/renderer/store/modules/history.js
  src/renderer/store/modules/search-history.js
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint

Add mix-blend-mode to improve sponsorBlock visibility (#9535)
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
Due: stylelint

Style context menus as light or dark depending on the base theme
  src/constants.js
  src/main/index.js
Due: eslint

Apply suggestion from @PikachuEXE
  src/constants.js
Due: eslint

Added a mechanism to store the play/pause state of a video so that upon a SABR-induced reload the play/pause state can be set similarly to the timestamp
  src/renderer/views/Watch/Watch.js
Due: eslint

WIP: Fix loading comment replies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/renderer/components/CommentSection/CommentSection.vue
  src/renderer/helpers/api/local.js
Due: eslint

Translated using Weblate (Welsh)
  static/locales/cy.yaml
Due: none

Update to pnpm 11 with pnpm/setup action
  .github/workflows/build.yml
  .github/workflows/linter.yml
  .github/workflows/release.yml
Due: none

Fix: user playlists containing some videos from a playlist cannot be selected for playlist copy
  src/renderer/components/FtPlaylistAddVideoPrompt/FtPlaylistAddVideoPrompt.vue
Due: eslint

Reduce code duplication
  src/renderer/components/FtPlaylistAddVideoPrompt/FtPlaylistAddVideoPrompt.vue
Due: eslint

Translated using Weblate (Chinese (Traditional Han script))
  static/locales/zh-TW.yaml
Due: none

change wording of rss message
  static/locales/en-US.yaml
Due: none

Translated using Weblate (Russian)
  static/locales/ru.yaml
Due: none

fix: Invidious fetched playlists are capped at 200 videos
  src/renderer/components/WatchVideoPlaylist/WatchVideoPlaylist.vue
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/api/local.js
  src/renderer/views/Playlist/Playlist.vue
Due: eslint

Refactor to work with recursive subthreads
  src/renderer/components/CommentSection/CommentSection.css
  src/renderer/components/CommentSection/CommentSection.vue
  src/renderer/components/FtComment/FtComment.css
  src/renderer/components/FtComment/FtComment.vue
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/api/local.js
Due: eslint, stylelint

Translated using Weblate (Slovak)
  static/locales/sk.yaml
Due: none

Add ultrawide zoom feature for fullscreen mode
  src/constants.js
  src/renderer/components/FtKeyboardShortcutPrompt/FtKeyboardShortcutPrompt.vue
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  static/locales/en-US.yaml
Due: eslint, stylelint

Refactor ultrawide mode zoom functionality to toggle proportional scaling and remove black bar detection
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Forgotten type/naming fixes from refactoring
  src/renderer/components/CommentSection/CommentSection.vue
Due: eslint

Add ultrawide mode functionality with UI button and localization support
  src/constants.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/player-components/UltraWideModeButton.js
  static/locales/en-US.yaml
Due: eslint
