Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Cleanup unused filterLocalFormats function
  src/renderer/helpers/api/local.js
Due: eslint

Cleanup unused filterLocalFormats function (#6506)
  src/renderer/helpers/api/local.js
Due: eslint

Add missing IPC constants
  src/constants.js
Due: eslint

fix: correct light color ordering
  src/renderer/themes.css
Due: stylelint

* Remove duplicate entry, use array not map, remove unused locale entries, update shortcut separator
  src/renderer/components/FtKeyboardShortcutPrompt/FtKeyboardShortcutPrompt.vue
  static/locales/en-US.yaml
Due: eslint

Add missing IPC constants (#6509)
  src/constants.js
Due: eslint

Improve the performance of the settings store (#6499)
  src/renderer/store/modules/settings.js
Due: eslint

updated removeVideos
  src/datastores/handlers/base.js
  src/renderer/components/FtElementList/FtElementList.vue
  src/renderer/store/modules/playlists.js
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Playlist/Playlist.vue
Due: eslint

Translated using Weblate (Croatian)
  static/locales/hr.yaml
Due: none

Use Date.now() and Date.parse() when a millisecond value is needed
  src/renderer/helpers/subscriptions.js
  src/renderer/helpers/utils.js
  src/renderer/views/Watch/Watch.js
Due: eslint

Update src/renderer/views/Search/Search.js
  src/renderer/views/Search/Search.js
Due: eslint

Add bolding to selected/focused 'Remove' button
  src/renderer/components/ft-input/ft-input.css
Due: stylelint

Translated using Weblate (Kurdish (Central))
  static/locales/ckb.yaml
Due: none

linted
  src/renderer/views/Playlist/Playlist.js
Due: eslint

resolving conflict
  src/renderer/views/Playlist/Playlist.js
Due: eslint

Translated using Weblate (Welsh)
  static/locales/cy.yaml
Due: none

Keyword search history (#6414)
  src/constants.js
  src/datastores/handlers/base.js
  src/datastores/handlers/electron.js
  src/datastores/handlers/index.js
  src/datastores/handlers/web.js
  src/datastores/index.js
  src/main/index.js
  src/renderer/App.js
  src/renderer/components/ft-input/ft-input.css
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/ft-input/ft-input.vue
  src/renderer/components/privacy-settings/privacy-settings.js
  src/renderer/components/privacy-settings/privacy-settings.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/top-nav/top-nav.vue
  src/renderer/main.js
  src/renderer/store/modules/index.js
  src/renderer/store/modules/search-history.js
  src/renderer/store/modules/settings.js
  src/renderer/store/modules/utils.js
  src/renderer/views/Search/Search.js
  static/locales/en-GB.yaml
  static/locales/en-US.yaml
Due: eslint, stylelint

Translated using Weblate (Japanese)
  static/locales/ja.yaml
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Norwegian Bokmål)
  static/locales/nb-NO.yaml
Due: none

Update copyleft to 2025
  _scripts/ebuilder.config.js
Due: eslint

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Translated using Weblate (Ukrainian)
  static/locales/uk.yaml
Due: none

Update copyleft to 2025 (#6524)
  _scripts/ebuilder.config.js
Due: eslint

Fix second to last tooltip overflowing due to our wide player controls
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
Due: stylelint

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none
