Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Bump package version from 0.23.8 to 0.23.9 (#8027)
  package.json
Due: none

remove n argument in sed
  .github/workflows/updateSite.yml
Due: none

Fix variable name
  src/renderer/components/SubscriptionsTabUi/SubscriptionsTabUi.vue
Due: eslint

Update .github/workflows/updateSite.yml
  .github/workflows/updateSite.yml
Due: none

Translated using Weblate (Russian)
  static/locales/ru.yaml
Due: none

Remove n argument in sed (#8033)
  .github/workflows/updateSite.yml
Due: none

Adjust homebrew link to maintainers tap instead
  README.md
Due: none

Add back intel link, and separate intel and apple silicon download links.
  README.md
Due: none

Don't try to filter videos on the posts tab
  src/renderer/components/SubscriptionsTabUi/SubscriptionsTabUi.vue
Due: eslint

Remove Deprecated Intel Tap per maintainer feedback
  README.md
Due: none

Adjust homebrew link to maintainers tap (#8041)
  README.md
Due: none

[Feature]: Hide videos immediately when marking as watched (#7866)
  src/renderer/components/SubscriptionsTabUi/SubscriptionsTabUi.vue
  src/renderer/helpers/subscriptions.js
Due: eslint

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

New window set as main window only if main window is in tray
  src/main/index.js
Due: eslint

Update shaka-player to 4.16.x (#7919)
  _scripts/patchShaka.mjs
  package.json
  src/constants.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/player-components/AudioTrackSelection.js
  src/renderer/components/ft-shaka-video-player/player-components/AutoplayToggle.js
  src/renderer/components/ft-shaka-video-player/player-components/FullWindowButton.js
  src/renderer/components/ft-shaka-video-player/player-components/LegacyQualitySelection.js
  src/renderer/components/ft-shaka-video-player/player-components/ScreenshotButton.js
  src/renderer/components/ft-shaka-video-player/player-components/StatsButton.js
  src/renderer/components/ft-shaka-video-player/player-components/TheatreModeButton.js
  src/renderer/helpers/player/utils.js
  yarn.lock
Due: eslint, stylelint

! Fix preview out of screen
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
Due: eslint

Local API: Implement SABR for VODs
  _scripts/webpack.web.config.js
  package.json
  src/renderer/components/ExperimentalSettings/ExperimentalSettings.vue
  src/renderer/components/FtToast/FtToast.vue
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.vue
  src/renderer/helpers/api/local.js
  src/renderer/helpers/player/EbmlParser.js
  src/renderer/helpers/player/Mp4SegmentIndexParser.js
  src/renderer/helpers/player/SabrManifestParser.js
  src/renderer/helpers/player/SabrSchemePlugin.js
  src/renderer/helpers/player/WebmSegmentIndexParser.js
  src/renderer/helpers/player/utils.js
  src/renderer/helpers/utils.js
  src/renderer/store/modules/settings.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
  yarn.lock
Due: eslint

Hide members-only videos in playlist grid views. Show badge in list views.
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.scss
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/helpers/api/local.js
Due: eslint, stylelint

Simplified parseLocalChannelVideos function in local.js
  src/renderer/helpers/api/local.js
Due: eslint

Renamed a few things in ft-list-video.* to better reflect new functionality
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/scss-partials/_ft-list-item.scss
Due: eslint, stylelint

* Allow max 3 player reloads for the same video before fallback to older DASH
  src/renderer/views/Watch/Watch.js
Due: eslint

! Fix data type for `playerTimeMs` (googlevideo 4.0.4)
  src/renderer/helpers/player/SabrSchemePlugin.js
Due: eslint

* Update player reload handling to restart player at the current timestamp
  src/renderer/views/Watch/Watch.js
Due: eslint

* Do not count reload if player is loaded after that
  src/renderer/views/Watch/Watch.js
Due: eslint

Move loop to overflow
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

remove redundant if statement
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

remove session storage
  src/renderer/views/Watch/Watch.js
Due: eslint

remove redundant code
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Prevent plaback rate reset when video ends
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/views/Watch/Watch.js
Due: eslint

call showOverlayControls under showValueChange calls
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Shows video progress indicator when interacting
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

call showOverlayControls in showValueChange
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Show overlay on more shortcuts
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Move function implementation and code spacing
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Change import order
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Remove overlay control from fullscreen
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
