Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Disable & hide 'External Player' default viewing mode when no external player is set
  src/renderer/components/ft-list-playlist/ft-list-playlist.js
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/player-settings/player-settings.js
  static/locales/en-US.yaml
Due: eslint

Display 'Option' instead of 'Alt' for Mac users
  src/renderer/helpers/utils.js
  static/locales/en-US.yaml
Due: eslint

Use Mac icons in keyboard shortcuts for Macs
  src/renderer/helpers/utils.js
  static/locales/en-US.yaml
Due: eslint

Remove mentioning of bypassing age restricted content
  README.md
Due: none

Fix fullscreen issue with icons by calling requestFullscreen on videoContainer element
  src/main/index.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.vue
Due: eslint

Revert Enable Theater Mode by Default removal
  src/constants.js
  src/renderer/components/player-settings/player-settings.js
  src/renderer/components/player-settings/player-settings.vue
  src/renderer/store/modules/settings.js
  src/renderer/views/Watch/Watch.js
  static/locales/en-US.yaml
Due: eslint

Added translation using Weblate (Breton)
  static/locales/br.yaml
Due: none

Translated using Weblate (Breton)
  static/locales/br.yaml
Due: none

Remove mentioning of bypassing age restricted content (#5902)
  README.md
Due: none

Set download links on component even if there are no caption links
  src/renderer/views/Watch/Watch.js
Due: eslint

Set download links on component even if there are no caption links (#5916)
  src/renderer/views/Watch/Watch.js
Due: eslint

remove unused localisation strings
  static/locales/af.yaml
  static/locales/ar.yaml
  static/locales/be.yaml
  static/locales/bg.yaml
  static/locales/cs.yaml
  static/locales/cy.yaml
  static/locales/da.yaml
  static/locales/de-DE.yaml
  static/locales/el.yaml
  static/locales/en-GB.yaml
  static/locales/en-US.yaml
  static/locales/es.yaml
  static/locales/et.yaml
  static/locales/eu.yaml
  static/locales/fi.yaml
  static/locales/fr-FR.yaml
  static/locales/he.yaml
  static/locales/hr.yaml
  static/locales/hu.yaml
  static/locales/id.yaml
  static/locales/is.yaml
  static/locales/it.yaml
  static/locales/ja.yaml
  static/locales/nl.yaml
  static/locales/pl.yaml
  static/locales/pt-BR.yaml
  static/locales/pt-PT.yaml
  static/locales/pt.yaml
  static/locales/ro.yaml
  static/locales/ru.yaml
  static/locales/sr.yaml
  static/locales/sv.yaml
  static/locales/tr.yaml
  static/locales/uk.yaml
  static/locales/vi.yaml
  static/locales/vls.yaml
  static/locales/zh-CN.yaml
  static/locales/zh-TW.yaml
Due: none

add labelledby attribute and update styling
  src/renderer/components/subscription-settings/subscription-settings.scss
  src/renderer/components/subscription-settings/subscription-settings.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

Remove unintentional formatting
  src/main/index.js
Due: eslint

Fix gruvbox light video feed/status bar divider
  src/renderer/themes.css
Due: stylelint

Fix: Profile menu no longer blends in with Background
  src/renderer/themes.css
Due: stylelint

Handle unplayable content better with the local API
  src/renderer/helpers/api/local.js
  src/renderer/main.js
  src/renderer/views/Watch/Watch.js
  static/locales/en-US.yaml
Due: eslint

Update src/renderer/components/player-settings/player-settings.js
  src/renderer/components/player-settings/player-settings.js
Due: eslint

Update to trigger setFullWindow event when starting in fullwindow
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/player-components/FullWindowButton.js
Due: eslint

Update Mac arrow icon choice
  src/renderer/helpers/utils.js
Due: eslint

Update KeyboardShortcuts constant organization in preparation for keyboard shorcut modal
  src/constants.js
  src/renderer/components/ft-refresh-widget/ft-refresh-widget.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/player-components/FullWindowButton.js
  src/renderer/components/ft-shaka-video-player/player-components/ScreenshotButton.js
  src/renderer/components/ft-shaka-video-player/player-components/StatsButton.js
  src/renderer/components/ft-shaka-video-player/player-components/TheatreModeButton.js
  src/renderer/components/side-nav/side-nav.js
  src/renderer/components/subscriptions-tab-ui/subscriptions-tab-ui.js
  src/renderer/components/top-nav/top-nav.js
  src/renderer/views/Popular/Popular.js
  src/renderer/views/Trending/Trending.js
Due: eslint

Fix subscription tab hiding not working on launch
  src/renderer/views/Subscriptions/Subscriptions.js
Due: eslint

Update neostandard from 0.11.6 to 0.11.7
  package.json
  yarn.lock
Due: none

Local API: Display more video tags in search results
  src/renderer/helpers/api/local.js
Due: eslint

Minor performance improvements to the Hashtag view
  src/renderer/views/Hashtag/Hashtag.js
Due: eslint

Cleanup Invidious backwards compatibility
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/player-components/LegacyQualitySelection.js
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/player/utils.js
  src/renderer/views/Watch/Watch.js
Due: eslint

Add keyboard shortcut modal
  src/renderer/App.js
  src/renderer/App.vue
  src/renderer/components/FtKeyboardShortcutPrompt/FtKeyboardShortcutPrompt.css
  src/renderer/components/FtKeyboardShortcutPrompt/FtKeyboardShortcutPrompt.vue
  src/renderer/main.js
  src/renderer/store/modules/utils.js
  src/renderer/views/Settings/Settings.js
  src/renderer/views/Settings/Settings.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

Update to use expand icon instead
  src/renderer/components/player-settings/player-settings.vue
  src/renderer/main.js
Due: eslint

Clean up External Player Default Viewing Mode link template logic
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
Due: eslint

Fix subscription tab hiding not working on launch (#5925)
  src/renderer/views/Subscriptions/Subscriptions.js
Due: eslint

Minor performance improvements to the Hashtag view (#5927)
  src/renderer/views/Hashtag/Hashtag.js
Due: eslint

Fix seek bar thumbnail overflowing when exiting full screen
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.vue
Due: eslint
