Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Migrate the PlaylistInfo component to the composition API
  src/renderer/components/PlaylistInfo/PlaylistInfo.scss
  src/renderer/components/PlaylistInfo/PlaylistInfo.vue
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Playlist/Playlist.vue
Due: eslint, stylelint

corrected path for haruna and used at build os detection
  src/renderer/components/ExternalPlayerSettings.vue
  static/external-player-map.json
Due: eslint

lint prefers str over value
  src/renderer/components/ExternalPlayerSettings.vue
Due: eslint

except when it doesn't
  src/renderer/components/ExternalPlayerSettings.vue
Due: eslint

Sorting fixed when user uses keywords to filter
  src/renderer/views/History/History.js
Due: eslint

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Pause player when opening recommended video in external player
  src/renderer/components/WatchVideoRecommendations/WatchVideoRecommendations.vue
  src/renderer/views/Watch/Watch.vue
Due: eslint

Migrate the FtProfileSelector component to the composition API
  src/renderer/components/FtProfileSelector/FtProfileSelector.css
  src/renderer/components/FtProfileSelector/FtProfileSelector.vue
  src/renderer/components/TopNav/TopNav.vue
  src/renderer/components/ft-profile-selector/ft-profile-selector.js
  src/renderer/components/ft-profile-selector/ft-profile-selector.vue
Due: eslint, stylelint

Windows on tray show minimized when disabling the tray
  src/main/index.js
Due: eslint

Adjust default playback rate to the maximum value when it is too large
  src/renderer/components/FtSlider/FtSlider.vue
  src/renderer/store/modules/settings.js
Due: eslint

Migrate the UserPlaylists component to the composition API
  src/renderer/views/UserPlaylists/UserPlaylists.js
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Due: eslint

Migrate the FtToasts component to the composition API
  src/renderer/App.js
  src/renderer/components/FtToast/FtToast.css
  src/renderer/components/FtToast/FtToast.vue
  src/renderer/components/ft-toast/ft-toast-events.js
  src/renderer/components/ft-toast/ft-toast.js
  src/renderer/components/ft-toast/ft-toast.vue
  src/renderer/helpers/utils.js
Due: eslint, stylelint

align UX with dropdown behavior
  src/renderer/views/History/History.js
  src/renderer/views/History/History.vue
Due: eslint

Instruct webpack to embed JSON imports as literals instead of JSON.parse
  _scripts/webpack.main.config.js
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
Due: eslint

Fix n/no-path-concat issues
  _scripts/getShakaLocales.js
  eslint.config.mjs
  src/main/index.js
  src/main/poTokenGenerator.js
Due: eslint

Switch ALLOWED_RENDERER_FILES variable from let to const
  eslint.config.mjs
  src/main/index.js
Due: eslint

catppuccinMocha card bg color change
  src/renderer/themes.css
Due: stylelint

Fix n/no-path-concat issues (#7392)
  _scripts/getShakaLocales.js
  eslint.config.mjs
  src/main/index.js
  src/main/poTokenGenerator.js
Due: eslint

Switch ALLOWED_RENDERER_FILES variable from let to const (#7393)
  eslint.config.mjs
  src/main/index.js
Due: eslint

Instruct webpack to embed JSON imports as literals instead of JSON.parse (#7391)
  _scripts/webpack.main.config.js
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
Due: eslint

Adjust default playback rate to the maximum value when it is too large (#7221)
  src/renderer/components/FtSlider/FtSlider.vue
  src/renderer/store/modules/settings.js
Due: eslint

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Migrate the FtToasts component to the composition API (#7390)
  src/renderer/App.js
  src/renderer/components/FtToast/FtToast.css
  src/renderer/components/FtToast/FtToast.vue
  src/renderer/components/ft-toast/ft-toast-events.js
  src/renderer/components/ft-toast/ft-toast.js
  src/renderer/components/ft-toast/ft-toast.vue
  src/renderer/helpers/utils.js
Due: eslint, stylelint

Migrate the UserPlaylists component to the composition API (#7389)
  src/renderer/views/UserPlaylists/UserPlaylists.js
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Due: eslint

Translated using Weblate (Danish)
  static/locales/da.yaml
Due: none

Migrate the PrivacySettings component to the composition API
  src/renderer/components/PrivacySettings.vue
  src/renderer/components/privacy-settings/privacy-settings.js
  src/renderer/components/privacy-settings/privacy-settings.vue
  src/renderer/views/Settings/Settings.js
Due: eslint

Translated using Weblate (Belarusian)
  static/locales/be.yaml
Due: none

Translated using Weblate (Ukrainian)
  static/locales/uk.yaml
Due: none

Translated using Weblate (Kurdish)
  static/locales/ku.yaml
Due: none

Translated using Weblate (Serbian)
  static/locales/sr.yaml
Due: none

Migrate the FtProfileSelector component to the composition API (#7388)
  src/renderer/components/FtProfileSelector/FtProfileSelector.css
  src/renderer/components/FtProfileSelector/FtProfileSelector.vue
  src/renderer/components/TopNav/TopNav.vue
  src/renderer/components/ft-profile-selector/ft-profile-selector.js
  src/renderer/components/ft-profile-selector/ft-profile-selector.vue
Due: eslint, stylelint

Migrate the PrivacySettings component to the composition API (#7397)
  src/renderer/components/PrivacySettings.vue
  src/renderer/components/privacy-settings/privacy-settings.js
  src/renderer/components/privacy-settings/privacy-settings.vue
  src/renderer/views/Settings/Settings.js
Due: eslint

Migrate the PlaylistInfo component to the composition API (#7383)
  src/renderer/components/PlaylistInfo/PlaylistInfo.scss
  src/renderer/components/PlaylistInfo/PlaylistInfo.vue
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Playlist/Playlist.vue
Due: eslint, stylelint

Pause player when opening recommended video in external player (#7387)
  src/renderer/components/WatchVideoRecommendations/WatchVideoRecommendations.vue
  src/renderer/views/Watch/Watch.vue
Due: eslint

Fix typo in WRITE_TO_DEFAULT_FOLDER IPC call (#7378)
  src/main/index.js
Due: eslint

Translated using Weblate (Assamese)
  static/locales/as.yaml
Due: none
