Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Added hide to tray support
  package.json
  src/constants.js
  src/datastores/handlers/base.js
  src/main/index.js
  src/renderer/components/general-settings/general-settings.js
  src/renderer/components/general-settings/general-settings.vue
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
  static/locales/es.yaml
Due: eslint

Updated yarn.lock
  yarn.lock
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Afrikaans)
  static/locales/af.yaml
Due: none

Translated using Weblate (Slovak)
  static/locales/sk.yaml
Due: none

Reduce repeated code in secondary theme colours (#6505)
  src/renderer/themes.css
Due: stylelint

Update static/locales/en-US.yaml
  static/locales/en-US.yaml
Due: none

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none

Migrate FtShareButton to composition api
  src/renderer/components/ChannelDetails/ChannelDetails.vue
  src/renderer/components/FtShareButton/FtShareButton.css
  src/renderer/components/FtShareButton/FtShareButton.vue
  src/renderer/components/ft-share-button/ft-share-button.js
  src/renderer/components/ft-share-button/ft-share-button.vue
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/themes.css
Due: eslint, stylelint

Reverted dependency additions
  package-lock.json
  package.json
  src/constants.js
  src/main/index.js
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
  static/locales/es.yaml
  yarn.lock
Due: eslint

Lint
  src/main/index.js
Due: eslint

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Apply proxy settings to the PO token web views
  src/main/index.js
  src/main/poTokenGenerator.js
Due: eslint

* Move option (now dropdown) away from toggles
  src/renderer/components/privacy-settings/privacy-settings.vue
Due: eslint

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Translated using Weblate (Nepali)
  static/locales/ne.yaml
Due: none

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

IV: fix loading community tab
  src/renderer/helpers/api/invidious.js
  src/renderer/views/Channel/Channel.js
Due: eslint

detect error channels properly
  src/renderer/components/subscriptions-live/subscriptions-live.js
  src/renderer/components/subscriptions-shorts/subscriptions-shorts.js
  src/renderer/components/subscriptions-videos/subscriptions-videos.js
Due: eslint

remove 500 status check
  src/renderer/components/subscriptions-live/subscriptions-live.js
  src/renderer/components/subscriptions-shorts/subscriptions-shorts.js
  src/renderer/components/subscriptions-videos/subscriptions-videos.js
Due: eslint

use get instead of head request
  src/renderer/components/subscriptions-live/subscriptions-live.js
  src/renderer/components/subscriptions-shorts/subscriptions-shorts.js
  src/renderer/components/subscriptions-videos/subscriptions-videos.js
Due: eslint

update return
  src/renderer/components/subscriptions-live/subscriptions-live.js
  src/renderer/components/subscriptions-shorts/subscriptions-shorts.js
  src/renderer/components/subscriptions-videos/subscriptions-videos.js
Due: eslint

Translated using Weblate (Dutch)
  static/locales/nl.yaml
Due: none

CLI re-use existing window even if freetube window is in the background/unfocus
  src/main/index.js
Due: eslint

Added a search button in the filter modal
  src/renderer/components/FtSearchFilters/FtSearchFilters.css
  src/renderer/components/FtSearchFilters/FtSearchFilters.vue
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
