Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Support authentication with the Basic scheme for Invidious instances (#5569)
  src/constants.js
  src/main/index.js
  src/renderer/components/ft-list-channel/ft-list-channel.js
  src/renderer/components/ft-list-playlist/ft-list-playlist.js
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-playlist-selector/ft-playlist-selector.js
  src/renderer/components/ft-profile-channel-list/ft-profile-channel-list.js
  src/renderer/components/ft-profile-filter-channels-list/ft-profile-filter-channels-list.js
  src/renderer/components/ft-share-button/ft-share-button.js
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/side-nav/side-nav.js
  src/renderer/components/subscriptions-community/subscriptions-community.js
  src/renderer/components/subscriptions-live/subscriptions-live.js
  src/renderer/components/subscriptions-shorts/subscriptions-shorts.js
  src/renderer/components/subscriptions-videos/subscriptions-videos.js
  src/renderer/components/top-nav/top-nav.js
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/utils.js
  src/renderer/store/modules/invidious.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/SubscribedChannels/SubscribedChannels.js
  src/renderer/views/Watch/Watch.js
Due: eslint

Translated using Weblate (Japanese)
  static/locales/ja.yaml
Due: none

Update shaka-player to version 4.10.11
  package.json
  yarn.lock
Due: none

Use the HLS manifests for live streams
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.vue
  src/renderer/views/Watch/Watch.js
  static/locales/en-US.yaml
  static/locales/en_GB.yaml
Due: eslint

Translated using Weblate (Basque)
  static/locales/eu.yaml
Due: none

Update shaka-player to version 4.10.12
  package.json
  yarn.lock
Due: none

Get thumbnail from parsed header when using local api for subscribedchannels view
  src/renderer/views/SubscribedChannels/SubscribedChannels.js
Due: eslint

Don't make requests when importing subscriptions
  src/renderer/components/data-settings/data-settings.js
  src/renderer/components/ft-channel-bubble/ft-channel-bubble.js
  src/renderer/components/ft-channel-bubble/ft-channel-bubble.vue
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.js
  src/renderer/components/side-nav/side-nav.css
  src/renderer/components/side-nav/side-nav.vue
Due: eslint, stylelint

Remove unused async and unused computed properties
  src/renderer/components/data-settings/data-settings.js
Due: eslint

Fix SubscribedChannels page when thumbnail is missing
  src/renderer/views/SubscribedChannels/SubscribedChannels.css
  src/renderer/views/SubscribedChannels/SubscribedChannels.js
  src/renderer/views/SubscribedChannels/SubscribedChannels.vue
Due: eslint, stylelint

filter freetube.db subs by id not name
  src/renderer/components/data-settings/data-settings.js
Due: eslint

Specify locale for strings that may differ from the chosen display locale
  src/renderer/App.vue
  src/renderer/components/ft-select/ft-select.js
  src/renderer/components/ft-select/ft-select.vue
  src/renderer/components/general-settings/general-settings.vue
  src/renderer/views/About/About.js
Due: eslint

Cleanup the Hide Profile Pictures in Comments code
  src/renderer/components/watch-video-comments/watch-video-comments.vue
Due: eslint

Switch to non-deprecated Electron navigation history APIs
  src/main/index.js
Due: eslint

recommendations
  src/renderer/components/recommended-tab-ui/recommended-tab-ui.css
  src/renderer/components/recommended-tab-ui/recommended-tab-ui.js
  src/renderer/components/recommended-tab-ui/recommended-tab-ui.vue
  src/renderer/components/recommended-videos/recommended-videos.js
  src/renderer/components/recommended-videos/recommended-videos.vue
  src/renderer/components/side-nav/side-nav.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/router/index.js
  src/renderer/views/Recommended/Recommended.css
  src/renderer/views/Recommended/Recommended.js
  src/renderer/views/Recommended/Recommended.vue
Due: eslint, stylelint

recommendations
  src/renderer/components/recommended-tab-ui/recommended-tab-ui.vue
  src/renderer/components/recommended-videos/recommended-videos.js
  src/renderer/components/side-nav/side-nav.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/views/Recommended/Recommended.vue
  static/locales/en-US.yaml
  static/locales/en_GB.yaml
Due: eslint

recommendations
  src/renderer/components/recommended-videos/recommended-videos.js
Due: eslint

recommendations
  src/renderer/components/side-nav/side-nav.vue
Due: eslint

Update piped instance list
  static/piped-instances.json
Due: none

Switch to non-deprecated Electron navigation history APIs (#5626)
  src/main/index.js
Due: eslint

Cleanup the Hide Profile Pictures in Comments code (#5625)
  src/renderer/components/watch-video-comments/watch-video-comments.vue
Due: eslint

recommendations
  src/renderer/components/recommended-tab-ui/recommended-tab-ui.js
  src/renderer/components/recommended-videos/recommended-videos.js
  src/renderer/components/recommended-videos/recommended-videos.vue
Due: eslint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
