Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

use array index instead of `first()`
  src/renderer/helpers/api/local.js
Due: eslint

remove new translations
  static/locales/awa.yaml
  static/locales/vi.yaml
Due: none

Add support for channel's `Courses` tab
  src/renderer/components/ChannelDetails/ChannelDetails.vue
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/distraction-settings/distraction-settings.vue
  src/renderer/helpers/api/invidious.js
  src/renderer/store/modules/settings.js
  src/renderer/store/modules/utils.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Channel/Channel.vue
  static/locales/en-US.yaml
Due: eslint

Set process.platform at build time
  _scripts/webpack.main.config.js
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
  src/main/index.js
  src/renderer/components/player-settings/player-settings.js
  src/renderer/components/top-nav/top-nav.js
Due: eslint

Migrate DataSettings to the composition API
  src/renderer/components/DataSettings.vue
  src/renderer/components/data-settings/data-settings.js
  src/renderer/components/data-settings/data-settings.vue
  src/renderer/views/Settings/Settings.js
Due: eslint

add missing jsdoc comments to config files (#6780)
  _scripts/build.js
  _scripts/ebuilder.config.js
  _scripts/webpack.main.config.js
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
Due: eslint

Translated using Weblate (Afrikaans)
  static/locales/af.yaml
Due: none

Created toggle for vim key binding setting
  src/renderer/App.js
  src/renderer/components/general-settings/general-settings.js
  src/renderer/components/general-settings/general-settings.vue
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint

Waypoints to appear when f is pressed
  .gitignore
  src/constants.js
  src/renderer/App.js
  src/renderer/components/FtKeyboardShortcutPrompt/FtKeyboardShortcutPrompt.vue
  src/renderer/store/modules/utils.js
  static/locales/en-US.yaml
Due: eslint

Make waypoints more legible
  src/renderer/store/modules/utils.js
Due: eslint

Before add nav functionality to waypoints
  src/renderer/App.js
  src/renderer/store/modules/utils.js
Due: eslint

Proper vim hints
  src/renderer/store/modules/utils.js
Due: eslint

Don't show hints if target is an input
  src/renderer/App.js
Due: eslint

Before changing pressed variable name to 'selector'
  src/renderer/App.js
  src/renderer/store/modules/utils.js
Due: eslint

Remove unnecessary boolean
  src/renderer/App.js
  src/renderer/store/modules/utils.js
Due: eslint

Simulate click
  src/renderer/store/modules/utils.js
Due: eslint

Before adding vim toggle
  src/renderer/App.js
  src/renderer/store/modules/utils.js
Due: eslint

Check if vim navigation is enabled
  src/renderer/App.js
Due: eslint

removed ellipsis overflow
  src/renderer/components/ft-input/ft-input.css
Due: stylelint

Alternative default hotkeys when vim is enabled
  src/constants.js
  src/renderer/App.js
  src/renderer/components/FtKeyboardShortcutPrompt/FtKeyboardShortcutPrompt.vue
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/store/modules/utils.js
Due: eslint

scrolling with j and k
  src/renderer/App.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Deactive vim hints on page click or scroll
  src/renderer/App.js
Due: eslint

Check if a keyboard composition session is active when pressing 'Enter' on ft-input
  src/renderer/components/ft-input/ft-input.js
Due: eslint

Undo formatting
  src/renderer/App.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/store/modules/utils.js
Due: eslint

remove *.yaml from .gitignore
  .gitignore
Due: none

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Translated using Weblate (Belarusian)
  static/locales/be.yaml
Due: none

Sort streams, highest bitrate first
  src/renderer/helpers/api/local.js
Due: eslint

Revert "Sort streams, highest bitrate first"
  src/renderer/helpers/api/local.js
Due: eslint

Sort audio adaptation sets by bitrate
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

startsWith instead of split
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Fix missing paren
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Direct users to search for open+closed issues
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  README.md
Due: none

Move the choose default folder logic to the main process
  src/constants.js
  src/datastores/handlers/base.js
  src/main/index.js
  src/renderer/components/download-settings/download-settings.js
  src/renderer/components/player-settings/player-settings.js
Due: eslint

Prevent the seek bar thumbnail preview blocking clicks
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
Due: stylelint

Convert FtSubscribeButton SCSS to CSS
  src/renderer/components/FtSubscribeButton/FtSubscribeButton.css
  src/renderer/components/FtSubscribeButton/FtSubscribeButton.scss
  src/renderer/components/FtSubscribeButton/FtSubscribeButton.vue
Due: eslint, stylelint
