Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

change label text to include channels
  src/renderer/components/DistractionSettings/DistractionSettings.vue
  static/locales/en-US.yaml
Due: eslint

remove colors that don't conform to WCAG 4.5:1
  src/renderer/composables/colors.js
  src/renderer/helpers/colors.js
  src/renderer/themes.css
  static/locales/en-US.yaml
Due: eslint, stylelint

hide proxy password
  src/renderer/components/ProxySettings/ProxySettings.vue
Due: eslint

Update src/renderer/themes.css
  src/renderer/themes.css
Due: stylelint

hide videos on community tab
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
Due: eslint

hide posts on community tab
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
Due: eslint

filter subscription posts array
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
  src/renderer/components/SubscriptionsPosts.vue
Due: eslint

Clean up upstreamed big play button opacity (#8052)
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
Due: stylelint

* Implement proper poToken selection
  src/renderer/helpers/api/local.js
  src/renderer/helpers/player/SabrSchemePlugin.js
  src/renderer/views/Watch/Watch.js
Due: eslint

* Update next video countdown toast to be refreshed per second instead of using workaround
  src/renderer/components/FtToast/FtToast.vue
  src/renderer/views/Watch/Watch.js
Due: eslint

fix lint
  src/renderer/components/ProxySettings/ProxySettings.vue
Due: eslint

Hide Proxy password (#8102)
  src/renderer/components/ProxySettings/ProxySettings.vue
Due: eslint

$ Update JSDoc for `showToast` and use ||=
  src/renderer/components/FtToast/FtToast.vue
  src/renderer/helpers/utils.js
Due: eslint

filter subscription posts array on refresh
  src/renderer/components/SubscriptionsPosts.vue
Due: eslint

Translated using Weblate (Hebrew)
  static/locales/he.yaml
Due: none

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

* Perform proper cleanup
  src/renderer/components/FtToast/FtToast.vue
Due: eslint

- Remove accidentially introduced debug code
  src/renderer/helpers/api/local.js
Due: eslint

* skip the call to concatenateChunks if it isn't needed
  src/renderer/helpers/player/SabrSchemePlugin.js
Due: eslint

tune silence skip logic
  src/constants.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

* Make changes for VS Code
  jsconfig.json
  src/renderer/helpers/player/SabrSchemePlugin.js
Due: eslint

* Update new toast messaages to be translatable
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  static/locales/en-US.yaml
Due: eslint

Remove unused supportsYtdlProtocol from the external player map file
  static/external-player-map.json
Due: none

Fix the icon colors for SponsorBlock categories
  src/renderer/components/FtSponsorBlockCategory/FtSponsorBlockCategory.vue
  src/renderer/themes.css
Due: eslint, stylelint

Translated using Weblate (Dutch)
  static/locales/nl.yaml
Due: none

Remove unused supportsYtdlProtocol from the external player map file (#8107)
  static/external-player-map.json
Due: none

Update next video countdown toast to be refreshed per second instead of using workaround (#8103)
  src/renderer/components/FtToast/FtToast.vue
  src/renderer/helpers/utils.js
  src/renderer/views/Watch/Watch.js
Due: eslint

Update sortby strings
  static/locales/en-US.yaml
Due: none

Fix the icon colors for SponsorBlock categories (#8108)
  src/renderer/components/FtSponsorBlockCategory/FtSponsorBlockCategory.vue
  src/renderer/themes.css
Due: eslint, stylelint

Update sortby strings (#8109)
  static/locales/en-US.yaml
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Spanish (Argentina))
  static/locales/es-AR.yaml
Due: none

Translated using Weblate (Bengali)
  static/locales/bn.yaml
Due: none

Translated using Weblate (Azerbaijani)
  static/locales/az.yaml
Due: none

Translated using Weblate (Kurdish (Central))
  static/locales/ckb.yaml
Due: none

set forbiddenTitles toLowerCase
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/components/FtListVideoLazy.vue
  src/renderer/components/SubscriptionsPosts.vue
Due: eslint
