Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Migrate FtInputTags to the composition API
  src/renderer/components/ExternalPlayerSettings.vue
  src/renderer/components/FtInputTags/FtInputTags.css
  src/renderer/components/FtInputTags/FtInputTags.vue
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/distraction-settings/distraction-settings.vue
  src/renderer/components/ft-input-tags/ft-input-tags.js
  src/renderer/components/ft-input-tags/ft-input-tags.vue
Due: eslint, stylelint

Revert beta labeling for nightly builds (#7606)
  .github/workflows/build.yml
Due: none

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Translated using Weblate (Portuguese)
  static/locales/pt.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Handle more YouTube URLs (#7654)
  src/renderer/App.js
  src/renderer/components/TopNav/TopNav.vue
  src/renderer/components/ft-input/ft-input.js
  src/renderer/store/modules/utils.js
Due: eslint

Allow skipping to next recommended video without autoplay being enabled
  src/renderer/views/Watch/Watch.js
Due: eslint

Update static/locales/en-US.yaml
  static/locales/en-US.yaml
Due: none

Apply suggestions from code review
  static/locales/en-US.yaml
Due: none

fix: subscribe button under channel text
  src/renderer/components/watch-video-info/watch-video-info.vue
Due: eslint

Translated using Weblate (Breton)
  static/locales/br.yaml
Due: none

Bump package version from 0.23.5 to 0.23.6
  package.json
Due: none

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Translated using Weblate (Swedish)
  static/locales/sv.yaml
Due: none

Translated using Weblate (Welsh)
  static/locales/cy.yaml
Due: none

Migrate FtInputTags to the composition API (#7657)
  src/renderer/components/ExternalPlayerSettings.vue
  src/renderer/components/FtInputTags/FtInputTags.css
  src/renderer/components/FtInputTags/FtInputTags.vue
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/distraction-settings/distraction-settings.vue
  src/renderer/components/ft-input-tags/ft-input-tags.js
  src/renderer/components/ft-input-tags/ft-input-tags.vue
Due: eslint, stylelint

Use GH_TOKEN environment variable in auto merge workflow (#7656)
  .github/workflows/autoMerge.yml
Due: none

Clean up included by default babel class properties transform (#7655)
  .babelrc
  package.json
Due: none

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Translated using Weblate (Serbian)
  static/locales/sr.yaml
Due: none

Increase PO token snapshot timeout from 3 to 10 seconds (#7114)
  src/botGuardScript.js
Due: eslint

tooltip corrections (#7351)
  static/locales/en-US.yaml
Due: none

Fix search not working on mobile because of undefined ref (#6706)
  src/renderer/components/top-nav/top-nav.vue
Due: eslint

Move settings to `more` menu on smaller mobile devices (#7506)
  src/renderer/components/SideNav/SideNav.css
  src/renderer/components/SideNav/SideNav.vue
  src/renderer/components/SideNavMoreOptions/SideNavMoreOptions.css
  src/renderer/components/SideNavMoreOptions/SideNavMoreOptions.vue
Due: eslint, stylelint

Change author name (#7216)
  package.json
Due: none

Migrate the FtToasts component to the composition API (#7390)
  src/renderer/App.js
  src/renderer/components/FtToast/FtToast.css
  src/renderer/components/FtToast/FtToast.vue
  src/renderer/components/ft-toast/ft-toast-events.js
  src/renderer/components/ft-toast/ft-toast.js
  src/renderer/components/ft-toast/ft-toast.vue
  src/renderer/helpers/utils.js
Due: eslint, stylelint

Update single user playlist view to remove videos immediately on exit (#7544)
  src/renderer/components/FtToast/FtToast.vue
  src/renderer/helpers/utils.js
  src/renderer/views/Playlist/Playlist.js
Due: eslint

add beta to asset name (#7512)
  .github/workflows/build.yml
  .github/workflows/flatpak.yml
  .github/workflows/release.yml
Due: none

Update electron-builder to 26.0.12 (#7084)
  package.json
  yarn.lock
Due: none

^ Update electron-builder to latest pre-release version (#7206)
  package.json
  yarn.lock
Due: none

Migrate FtListPlaylist to the composition API
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/components/FtListPlaylist/FtListPlaylist.scss
  src/renderer/components/FtListPlaylist/FtListPlaylist.vue
  src/renderer/components/ft-list-playlist/ft-list-playlist.js
  src/renderer/components/ft-list-playlist/ft-list-playlist.vue
Due: eslint, stylelint

Add files via upload
  static/locales/en-US.yaml
Due: none

Add files via upload
  src/constants.js
Due: eslint

Add files via upload
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint, stylelint

Add files via upload
  src/renderer/components/FtKeyboardShortcutPrompt/FtKeyboardShortcutPrompt.vue
Due: eslint
