Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Translated using Weblate (Bengali)
  static/locales/bn.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Fix hardware acceleration flag for Linux (#4532)
  src/main/index.js
Due: eslint

Implement code suggestions
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/helpers/sponsorblock.js
Due: eslint

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Remove existence checks and fallbacks for files that always exist
  _scripts/webpack.renderer.config.js
  src/renderer/store/modules/invidious.js
  src/renderer/store/modules/utils.js
Due: eslint

Add dearrow support for thumbnails (#4520)
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/sponsor-block-settings/sponsor-block-settings.js
  src/renderer/components/sponsor-block-settings/sponsor-block-settings.vue
  src/renderer/helpers/sponsorblock.js
  src/renderer/store/modules/settings.js
  src/renderer/store/modules/utils.js
  static/locales/en-US.yaml
Due: eslint

Translated using Weblate (Chinese (Simplified))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Chinese (Traditional))
  static/locales/zh-TW.yaml
Due: none

* Update places generating sharable YT video URLs to always return prefix https://youtu.be/
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-share-button/ft-share-button.js
Due: eslint

* Make top nav able to parse sharable video URL with playlist param
  src/renderer/helpers/utils.js
Due: eslint

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none

Translated using Weblate (Dutch)
  static/locales/nl.yaml
Due: none

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

* Make top nav able to parse sharable video URL with playlist param (#4548)
  src/renderer/helpers/utils.js
Due: eslint

Translated using Weblate (Finnish)
  static/locales/fi.yaml
Due: none

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

! Fix short form URL
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-share-button/ft-share-button.js
Due: eslint

$ Rename props for ft-playlist-selector
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.vue
  src/renderer/components/ft-playlist-selector/ft-playlist-selector.js
Due: eslint

Translated using Weblate (Serbian)
  static/locales/sr.yaml
Due: none

remove vueSet
  src/renderer/store/modules/utils.js
Due: eslint

update vue version, fix some vue compatibility warnings
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
  package.json
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/ft-select/ft-select.js
  src/renderer/main.js
  src/renderer/views/Subscriptions/Subscriptions.js
  yarn.lock
Due: eslint

fix minor issues
  _scripts/webpack.renderer.config.js
  src/renderer/components/ft-select/ft-select.js
  src/renderer/views/ProfileSettings/ProfileSettings.js
Due: eslint

* Update add video ot playlist prompt to show presence count when adding one video
  src/renderer/components/ft-playlist-selector/ft-playlist-selector.js
  src/renderer/components/ft-playlist-selector/ft-playlist-selector.scss
  src/renderer/components/ft-playlist-selector/ft-playlist-selector.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Local API: List related games in featured channels section
  src/renderer/components/ft-channel-bubble/ft-channel-bubble.css
  src/renderer/views/Channel/Channel.js
Due: eslint, stylelint

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Translated using Weblate (Croatian)
  static/locales/hr.yaml
Due: none

* Update most paginated places to auto load next page (except comments)
  src/renderer/components/general-settings/general-settings.js
  src/renderer/components/general-settings/general-settings.vue
  src/renderer/components/subscriptions-tab-ui/subscriptions-tab-ui.js
  src/renderer/components/subscriptions-tab-ui/subscriptions-tab-ui.vue
  src/renderer/store/modules/settings.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Channel/Channel.vue
  src/renderer/views/Hashtag/Hashtag.js
  src/renderer/views/Hashtag/Hashtag.vue
  src/renderer/views/History/History.js
  src/renderer/views/History/History.vue
  src/renderer/views/Search/Search.js
  src/renderer/views/Search/Search.vue
  src/renderer/views/UserPlaylists/UserPlaylists.js
  src/renderer/views/UserPlaylists/UserPlaylists.vue
  static/locales/en-US.yaml
Due: eslint

* Make comment section auto load next pages too
  src/renderer/components/watch-video-comments/watch-video-comments.js
Due: eslint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
