Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Translated using Weblate (Hebrew)
  static/locales/he.yaml
Due: none

Translated using Weblate (Bulgarian)
  static/locales/bg.yaml
Due: none

Update title for custom FreeTube button labels with keyboard shortcuts
  src/constants.js
  src/renderer/components/ft-refresh-widget/ft-refresh-widget.js
  src/renderer/components/ft-refresh-widget/ft-refresh-widget.vue
  src/renderer/components/ft-shaka-video-player/player-components/FullWindowButton.js
  src/renderer/components/ft-shaka-video-player/player-components/ScreenshotButton.js
  src/renderer/components/ft-shaka-video-player/player-components/StatsButton.js
  src/renderer/components/ft-shaka-video-player/player-components/TheatreModeButton.js
  src/renderer/components/top-nav/top-nav.js
  static/locales/en-US.yaml
Due: eslint

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Translated using Weblate (Japanese)
  static/locales/ja.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Translated using Weblate (Serbian)
  static/locales/sr.yaml
Due: none

Add keyboard shortcut to unmodified Shaka control labels
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Replace in-code use of available shortcuts with the corresponding constants
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/subscriptions-tab-ui/subscriptions-tab-ui.js
  src/renderer/views/Popular/Popular.js
  src/renderer/views/Trending/Trending.js
Due: eslint

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Add explanatory comments
  src/constants.js
Due: eslint

Translated using Weblate (Chinese (Traditional Han script))
  static/locales/zh-TW.yaml
Due: none

Bump version number to v0.22.0
  package.json
Due: none

Translated using Weblate (Russian)
  static/locales/ru.yaml
Due: none

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none

Fix captions constant name
  src/constants.js
Due: eslint

Prevent creating new shortcut localization if Shaka localization key has no matching value
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Add autoplay toggle to the video player
  src/renderer/components/WatchVideoRecommendations/WatchVideoRecommendations.css
  src/renderer/components/WatchVideoRecommendations/WatchVideoRecommendations.vue
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/player-components/AutoplayToggle.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

Fix (pre-existing) bug where mobile Shaka overflow menu overflows into top nav bar
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
Due: stylelint

Update confusing autoplay labels to use consistent language
  src/renderer/components/player-settings/player-settings.vue
  static/locales/en-US.yaml
Due: eslint

Update src/renderer/components/ft-shaka-video-player/player-components/AutoplayToggle.js
  src/renderer/components/ft-shaka-video-player/player-components/AutoplayToggle.js
Due: eslint

Have autoplay toggle value update when setting updates elsewhere, e.g., in another window
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/player-components/AutoplayToggle.js
Due: eslint

Add util functions to localize special keys
  src/constants.js
  src/renderer/components/ft-refresh-widget/ft-refresh-widget.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/player-components/FullWindowButton.js
  src/renderer/components/ft-shaka-video-player/player-components/ScreenshotButton.js
  src/renderer/components/ft-shaka-video-player/player-components/StatsButton.js
  src/renderer/components/ft-shaka-video-player/player-components/TheatreModeButton.js
  src/renderer/components/top-nav/top-nav.js
  src/renderer/helpers/utils.js
  static/locales/en-US.yaml
Due: eslint

Replace more video player shortcut usage in code with corresponding constants
  src/constants.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/helpers/utils.js
  static/locales/en-US.yaml
Due: eslint

Add labels for History and Settings app shortcuts, and update variable naming
  src/constants.js
  src/renderer/components/ft-refresh-widget/ft-refresh-widget.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/player-components/FullWindowButton.js
  src/renderer/components/ft-shaka-video-player/player-components/ScreenshotButton.js
  src/renderer/components/ft-shaka-video-player/player-components/StatsButton.js
  src/renderer/components/ft-shaka-video-player/player-components/TheatreModeButton.js
  src/renderer/components/side-nav/side-nav.js
  src/renderer/components/side-nav/side-nav.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/helpers/utils.js
Due: eslint

Apply suggestions from code review
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Remove now-redundant playlist pause feature
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
  src/renderer/main.js
  src/renderer/views/Watch/Watch.js
  static/locales/en-GB.yaml
  static/locales/en-US.yaml
Due: eslint

Implement timer for next video to not play automatically
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.vue
  src/renderer/components/player-settings/player-settings.js
  src/renderer/components/player-settings/player-settings.vue
  src/renderer/store/modules/settings.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
  static/locales/en-US.yaml
Due: eslint

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Azerbaijani)
  static/locales/az.yaml
Due: none

Update implementation to block next video autoplay
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.vue
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
  static/locales/en-US.yaml
Due: eslint

! Fix search tab showing "0 results" before search done
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Channel/Channel.vue
Due: eslint

Fix wrong live stream playlist used for subscriptions
  src/renderer/helpers/utils.js
Due: eslint

Run linter when PRs are made against RC branches
  .github/workflows/linter.yml
Due: none
