Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Implement Quick Bookmark establishment on startup, playlist addition, and playlist deletion
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/store/modules/playlists.js
  static/locales/en-US.yaml
Due: eslint

Add back refresh-widget box-shadow for desktop view
  src/renderer/components/top-nav/top-nav.scss
Due: stylelint

Change refresh widget left border color to match box-shadow, & have it disappear on mobile view
  src/renderer/components/ft-refresh-widget/ft-refresh-widget.css
Due: stylelint

Translated using Weblate (Serbian)
  static/locales/sr.yaml
Due: none

Show error message when search is over the YouTube search limit of 100 characters (#4992)
  src/constants.js
  src/renderer/helpers/api/local.js
  src/renderer/views/Search/Search.js
  static/locales/en-US.yaml
Due: eslint

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Dutch)
  static/locales/nl.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Refresh widget separator adjustments (#5059)
  src/renderer/components/ft-refresh-widget/ft-refresh-widget.css
  src/renderer/components/top-nav/top-nav.scss
Due: stylelint

Update to adjust height properly when playlist only has one item, not just zero
  src/renderer/themes.css
  src/renderer/views/Playlist/Playlist.scss
  src/renderer/views/Playlist/Playlist.vue
Due: eslint, stylelint

Download correct resolution for side bar channel thumbnails
  src/renderer/components/side-nav/side-nav.js
Due: eslint

Skip parsing unused information when parsing the subscription responses
  src/renderer/helpers/api/local.js
Due: eslint

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Download correct resolution for side bar channel thumbnails (#5062)
  src/renderer/components/side-nav/side-nav.js
Due: eslint

* Make adding duplicate disabled by default
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.css
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.js
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.vue
  src/renderer/components/ft-playlist-selector/ft-playlist-selector.js
  static/locales/en-US.yaml
  static/locales/en_GB.yaml
Due: eslint, stylelint

* Make additional text work for multi video adding
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.vue
  src/renderer/components/ft-playlist-selector/ft-playlist-selector.js
  src/renderer/components/ft-playlist-selector/ft-playlist-selector.vue
  static/locales/en-US.yaml
Due: eslint

* Put controls toward the end
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.css
Due: stylelint

Skip parsing unused information when parsing the subscription responses (#5063)
  src/renderer/helpers/api/local.js
Due: eslint

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Chinese (Simplified))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Fix electron-context-menu import
  src/main/index.js
Due: eslint

feat: :sparkles: add solarized dark and solarized light color scheme
  _icons/iconSolarizedDarkSmall.svg
  _icons/iconSolarizedLightSmall.svg
  _icons/textSolarizedDarkSmall.svg
  _icons/textSolarizedLightSmall.svg
  src/main/index.js
  src/renderer/components/theme-settings/theme-settings.js
  src/renderer/helpers/colors.js
  src/renderer/themes.css
  static/locales/en-US.yaml
Due: eslint, stylelint

fix: :bug: make colors more readable | forgot colors
  src/renderer/themes.css
Due: stylelint

feat: :sparkles: add missing solarized-light branch
  src/main/index.js
Due: eslint

remove trailing empty line
  src/renderer/themes.css
Due: stylelint

Fix electron-context-menu import (#5065)
  src/main/index.js
Due: eslint

Move local API player cache internals into the main process
  src/constants.js
  src/main/index.js
  src/renderer/helpers/api/PlayerCache.js
  src/renderer/helpers/api/local.js
  src/renderer/helpers/utils.js
Due: eslint

modify share button to match light/dark theme
  src/renderer/components/ft-share-button/ft-share-button.scss
Due: stylelint

match index.js color with bg-color
  src/main/index.js
Due: eslint

Centralize styling in themes.css, add code commenting, and simplify destructive color logic
  src/main/index.js
  src/renderer/components/ft-share-button/ft-share-button.scss
  src/renderer/themes.css
Due: eslint, stylelint

fix: :bug: distinguish destructable colors
  src/renderer/themes.css
Due: stylelint

Translated using Weblate (Chinese (Traditional))
  static/locales/zh-TW.yaml
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
