Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Translated using Weblate (Slovak)
  static/locales/sk.yaml
Due: none

Translated using Weblate (Croatian)
  static/locales/hr.yaml
Due: none

Translated using Weblate (Romanian)
  static/locales/ro.yaml
Due: none

Translated using Weblate (Assamese)
  static/locales/as.yaml
Due: none

Translated using Weblate (Korean)
  static/locales/ko.yaml
Due: none

Translated using Weblate (Hebrew)
  static/locales/he.yaml
Due: none

Fix referrer handling when opening links
  src/main/index.js
  src/renderer/components/TopNav/TopNav.vue
  src/renderer/helpers/utils.js
Due: eslint

Fix referrer handling when opening links (#7417)
  src/main/index.js
  src/renderer/components/TopNav/TopNav.vue
  src/renderer/helpers/utils.js
Due: eslint

Translated using Weblate (Georgian)
  static/locales/ka.yaml
Due: none

Translated using Weblate (Welsh)
  static/locales/cy.yaml
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (English (United Kingdom))
  static/locales/en-GB.yaml
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

! Fix selecting a profile via selector does not close the list
  src/renderer/components/FtProfileSelector/FtProfileSelector.vue
Due: eslint

! Fix selecting a profile via selector does not close the list (#7419)
  src/renderer/components/FtProfileSelector/FtProfileSelector.vue
Due: eslint

Add preload script and disable node integration in renderer processes
  _scripts/dev-runner.js
  _scripts/injectAllowedPaths.mjs
  _scripts/webpack.preload.config.js
  _scripts/webpack.renderer.config.js
  package.json
  src/constants.js
  src/datastores/handlers/electron.js
  src/main/index.js
  src/preload/interface.js
  src/preload/main.js
  src/preload/preload-interface.d.ts
  src/renderer/App.js
  src/renderer/components/DownloadSettings/DownloadSettings.vue
  src/renderer/components/ExperimentalSettings/ExperimentalSettings.vue
  src/renderer/components/ProxySettings/ProxySettings.vue
  src/renderer/components/ThemeSettings.vue
  src/renderer/components/TopNav/TopNav.vue
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/player-settings/player-settings.js
  src/renderer/helpers/api/PlayerCache.js
  src/renderer/helpers/api/local.js
  src/renderer/helpers/utils.js
  src/renderer/main.js
  src/renderer/store/modules/invidious.js
  src/renderer/store/modules/settings.js
  src/renderer/store/modules/utils.js
Due: eslint

change order
  src/renderer/components/distraction-settings/distraction-settings.vue
Due: eslint

test
  src/renderer/components/distraction-settings/distraction-settings.vue
Due: eslint

Translated using Weblate (Swedish)
  static/locales/sv.yaml
Due: none

Translated using Weblate (Vietnamese)
  static/locales/vi.yaml
Due: none

Migrate FtAutoLoadNextPageWrapper to the composition API
  src/renderer/components/FtAutoLoadNextPageWrapper.vue
  src/renderer/components/SubscriptionsTabUi/SubscriptionsTabUi.vue
  src/renderer/components/ft-auto-load-next-page-wrapper/ft-auto-load-next-page-wrapper.js
  src/renderer/components/ft-auto-load-next-page-wrapper/ft-auto-load-next-page-wrapper.vue
  src/renderer/views/Channel/Channel.vue
  src/renderer/views/Hashtag/Hashtag.vue
  src/renderer/views/History/History.js
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/SearchPage/SearchPage.js
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Due: eslint

Migrate FtCreatePlaylistPrompt to the composition API
  src/renderer/App.js
  src/renderer/components/FtCreatePlaylistPrompt/FtCreatePlaylistPrompt.css
  src/renderer/components/FtCreatePlaylistPrompt/FtCreatePlaylistPrompt.vue
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.js
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.vue
  src/renderer/store/modules/utils.js
Due: eslint, stylelint

Migrate FtAutoLoadNextPageWrapper to the composition API (#7438)
  src/renderer/components/FtAutoLoadNextPageWrapper.vue
  src/renderer/components/SubscriptionsTabUi/SubscriptionsTabUi.vue
  src/renderer/components/ft-auto-load-next-page-wrapper/ft-auto-load-next-page-wrapper.js
  src/renderer/components/ft-auto-load-next-page-wrapper/ft-auto-load-next-page-wrapper.vue
  src/renderer/views/Channel/Channel.vue
  src/renderer/views/Hashtag/Hashtag.vue
  src/renderer/views/History/History.js
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/SearchPage/SearchPage.js
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Due: eslint

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

Translated using Weblate (Kurdish)
  static/locales/ku.yaml
Due: none

Translated using Weblate (Bengali)
  static/locales/bn.yaml
Due: none

Translated using Weblate (Basque)
  static/locales/eu.yaml
Due: none

Translated using Weblate (Afrikaans)
  static/locales/af.yaml
Due: none

Fix channel about tab
  src/renderer/views/Channel/Channel.vue
Due: eslint

Use better v-for keys in various places
  src/renderer/components/FtCheckboxList/FtCheckboxList.vue
  src/renderer/components/FtElementList/FtElementList.vue
  src/renderer/components/FtRadioButton/FtRadioButton.vue
  src/renderer/components/SideNav/SideNav.vue
  src/renderer/components/WatchVideoRecommendations/WatchVideoRecommendations.vue
  src/renderer/components/ft-select/ft-select.js
  src/renderer/components/ft-select/ft-select.vue
  src/renderer/components/watch-video-live-chat/watch-video-live-chat.js
  src/renderer/components/watch-video-live-chat/watch-video-live-chat.vue
Due: eslint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
