Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Refactor activeVideoList to use filteredVideoList and exclude watched videos from videoList
  src/renderer/components/SubscriptionsTabUi/SubscriptionsTabUi.vue
Due: eslint

Translated using Weblate (Basque)
  static/locales/eu.yaml
Due: none

move the icon to the left of the autoplay icon
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Translated using Weblate (Norwegian Bokmål)
  static/locales/nb-NO.yaml
Due: none

Translated using Weblate (Ukrainian)
  static/locales/uk.yaml
Due: none

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none

Wait for pre-roll ads to finish in /player request
  src/renderer/helpers/api/local.js
Due: eslint

Wait for pre-roll ads to finish in /player request (#7887)
  src/renderer/helpers/api/local.js
Due: eslint

Bump package version from 0.23.7 to 0.23.8
  package.json
Due: none

Bump package version from 0.23.7 to 0.23.8 (#7889)
  package.json
Due: none

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

fix GitHub releases wording
  static/locales/en-US.yaml
Due: none

set backendFallback to false
  src/renderer/store/modules/settings.js
Due: eslint

fix GitHub releases wording (#7901)
  static/locales/en-US.yaml
Due: none

set backendFallback to false (#7903)
  src/renderer/store/modules/settings.js
Due: eslint

Translated using Weblate (Portuguese (Portugal))
  static/locales/pt-PT.yaml
Due: none

Translated using Weblate (Spanish (Mexico))
  static/locales/es-MX.yaml
Due: none

Translated using Weblate (Slovak)
  static/locales/sk.yaml
Due: none

Translated using Weblate (Greek)
  static/locales/el.yaml
Due: none

Translated using Weblate (Indonesian)
  static/locales/id.yaml
Due: none

Translated using Weblate (Catalan)
  static/locales/ca.yaml
Due: none

Translated using Weblate (Kurdish)
  static/locales/ku.yaml
Due: none

Translated using Weblate (Danish)
  static/locales/da.yaml
Due: none

Translated using Weblate (Slovenian)
  static/locales/sl.yaml
Due: none

Translated using Weblate (Korean)
  static/locales/ko.yaml
Due: none

Translated using Weblate (Galician)
  static/locales/gl.yaml
Due: none

Translated using Weblate (Norwegian Nynorsk)
  static/locales/nn.yaml
Due: none

Translated using Weblate (Lithuanian)
  static/locales/lt.yaml
Due: none

Translated using Weblate (Latvian)
  static/locales/lv.yaml
Due: none

Translated using Weblate (Afrikaans)
  static/locales/af.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Update shaka-player to 4.15.x
  package.json
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/player-components/AudioTrackSelection.js
  src/renderer/components/ft-shaka-video-player/player-components/AutoplayToggle.js
  src/renderer/components/ft-shaka-video-player/player-components/FullWindowButton.js
  src/renderer/components/ft-shaka-video-player/player-components/LegacyQualitySelection.js
  src/renderer/components/ft-shaka-video-player/player-components/ScreenshotButton.js
  src/renderer/components/ft-shaka-video-player/player-components/StatsButton.js
  src/renderer/components/ft-shaka-video-player/player-components/TheatreModeButton.js
  src/renderer/helpers/player/utils.js
  yarn.lock
Due: eslint, stylelint

Move some items into the overflow menu on all player sizes
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Refactor/cleanup tray related code after PR merged (#7856)
  src/main/index.js
Due: eslint

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
