Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

use new matrix icon
  src/renderer/main.js
  src/renderer/views/About/About.vue
Due: eslint

use new matrix icon (#9359)
  src/renderer/main.js
  src/renderer/views/About/About.vue
Due: eslint

Build static runtime AppImages with electron-builder (#9339)
  .github/workflows/build.yml
  .github/workflows/release.yml
  _scripts/ebuilder.config.mjs
Due: none

Fix parsing view counts in shorts-only playlists (#9333)
  src/renderer/helpers/api/local.js
Due: eslint

Fix online playlist parsing & revert workaround with youtubei.js update (#9325)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/renderer/helpers/api/local.js
  src/renderer/views/Channel/Channel.vue
Due: eslint

Fix publish time parsing (#9310)
  src/renderer/helpers/api/local.js
Due: eslint

Fix lazy rendering on channel home pages (#9336)
  src/renderer/components/ChannelHome/ChannelHome.vue
  src/renderer/components/FtElementList/FtElementList.vue
Due: eslint

Trigger auto-fetch when switching profiles
  src/renderer/components/SubscriptionsLive.vue
  src/renderer/components/SubscriptionsPosts.vue
  src/renderer/components/SubscriptionsShorts.vue
  src/renderer/components/SubscriptionsVideos.vue
  src/renderer/store/modules/utils.js
Due: eslint

Apply code style suggestion
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
Due: eslint

Fix: Local Playlist doesn't show upcoming premieres if 'hide upcoming premieres' is enabled
  src/renderer/components/FtElementList/FtElementList.vue
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/views/Playlist/Playlist.vue
Due: eslint

Bump electron from 42.4.1 to 42.5.2
  package.json
  pnpm-lock.yaml
Due: none

Bump electron from 42.4.1 to 42.5.2 (#9362)
  package.json
  pnpm-lock.yaml
Due: none

Add dependabot groups for actions/cache and github/codeql-action
  .github/dependabot.yml
Due: none

Handle compact published dates e.g. 1w ago in LockupViews
  src/renderer/helpers/api/local.js
Due: eslint

Simplify LockupView view count handling and support billions
  src/renderer/helpers/api/local.js
Due: eslint

Update dev-runner script to support webpack-dev-server v6
  _scripts/dev-runner.js
Due: eslint

Fix swiper init
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
Due: eslint

Added play all button to channel tabs
  src/renderer/views/Channel/Channel.css
  src/renderer/views/Channel/Channel.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

Handle compact published dates e.g. 1w ago in LockupViews (#9374)
  src/renderer/helpers/api/local.js
Due: eslint

Add dependabot groups for actions/cache and github/codeql-action (#9373)
  .github/dependabot.yml
Due: none

! Fix dev won't start on macOS
  _scripts/dev-runner.js
Due: eslint

* Use batched fetching instead of forcing RSS with sub count > 125
  src/renderer/components/SubscriptionsLive.vue
  src/renderer/components/SubscriptionsPosts.vue
  src/renderer/components/SubscriptionsVideos.vue
  src/renderer/views/Subscriptions/Subscriptions.vue
Due: eslint

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Fix 'Fetch more results' channel button duplicating results when spam clicking
  src/renderer/views/Channel/Channel.vue
Due: eslint

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Add margin for consistent spacing of button
  src/renderer/views/Channel/Channel.vue
Due: eslint

change play all to view all
  src/renderer/views/Channel/Channel.vue
  static/locales/en-US.yaml
Due: eslint

Bump package version from 0.24.1 to 0.25.0
  package.json
Due: none

Translated using Weblate (Welsh)
  static/locales/cy.yaml
Due: none

disable channel links sidenav
  src/renderer/views/SubscribedChannels/SubscribedChannels.vue
Due: eslint

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none

Fix 'Fetch more results' search page button duplicating results when spam clicking
  src/renderer/views/SearchPage/SearchPage.vue
Due: eslint

Fix comments' 'Show replies' button duplicating results when spam clicking
  src/renderer/components/CommentSection/CommentSection.vue
Due: eslint

! Fix dev restart not killing old process in macOS
  _scripts/dev-runner.js
  package.json
  pnpm-lock.yaml
Due: eslint

disable links sidenav icons
  src/renderer/components/SideNav/SideNav.vue
Due: eslint

Add exported settings exclusion list
  src/renderer/components/DataSettings/DataSettings.vue
  src/renderer/store/modules/settings.js
Due: eslint

Set 'showRestartPrompt.value' once after for loop
  src/renderer/components/DataSettings/DataSettings.vue
Due: eslint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
