Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Create a dependabot group for webpack dependencies
  .github/dependabot.yml
Due: none

Fix build script not failing on error
  _scripts/build.mjs
Due: none

Migrate the WatchVideoPlaylist component to the composition API
  src/renderer/components/WatchVideoInfo/WatchVideoInfo.vue
  src/renderer/components/WatchVideoPlaylist/WatchVideoPlaylist.css
  src/renderer/components/WatchVideoPlaylist/WatchVideoPlaylist.vue
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
Due: eslint, stylelint

Optimise playlist shuffling
  src/renderer/components/WatchVideoPlaylist/WatchVideoPlaylist.vue
Due: eslint

Translated using Weblate (Swedish)
  static/locales/sv.yaml
Due: none

fix(local api): parse up-next metadata rows flexibly
  src/renderer/helpers/api/local.js
Due: eslint

Update config for eslint-plugin-jsonc changes
  eslint.config.mjs
Due: none

Fix findings with new rules enabled by @eslint/js 10
  src/main/index.js
  src/renderer/components/DataSettings/DataSettings.vue
  src/renderer/components/SubscriptionsLive.vue
  src/renderer/components/SubscriptionsPosts.vue
  src/renderer/components/SubscriptionsShorts.vue
  src/renderer/components/SubscriptionsVideos.vue
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/helpers/api/local.js
  src/renderer/helpers/player/utils.js
  src/renderer/helpers/utils.js
  src/renderer/store/modules/utils.js
  src/renderer/views/History/History.vue
  src/renderer/views/Watch/Watch.js
Due: eslint

If condition inverted and branches flipped
  src/main/index.js
Due: eslint

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Setup playwright tests
  .gitignore
  _scripts/dev-runner.js
  e2e/Settings.e2e.mjs
  e2e/helpers.mjs
  package.json
  playwright.config.mjs
  src/renderer/components/TopNav/TopNav.vue
  static/locales/en-US.yaml
  yarn.lock
Due: eslint

Run tests in electron, add eslint plugin for playwright
  .vscode/extensions.json
  _scripts/dev-runner.js
  e2e/Settings.e2e.mjs
  e2e/helpers.mjs
  eslint.config.mjs
  package.json
  playwright.config.mjs
  tests/playwright/helpers.mjs
  tests/playwright/views/Settings.spec.mjs
  yarn.lock
Due: eslint

Do a separate pack for playwright tests
  _scripts/webpack.main.config.js
  package.json
Due: eslint

add command line argument to dev-runner to use in-memory database
  _scripts/dev-runner.js
  src/datastores/index.js
Due: eslint

Use Desktop Chrome instead of Desktop Firefox for viewport config
  tests/playwright/helpers.mjs
Due: none

change order of imports in eslint config, update clean script to delete test-results directory
  _scripts/clean.mjs
  eslint.config.mjs
Due: none

Undo change to dev-runner
  _scripts/dev-runner.js
Due: eslint

Adjust margin on routerView for desktop
  src/renderer/App.css
Due: stylelint

Remove style which is being overridden anyway
  src/renderer/App.css
Due: stylelint

Adjust margin when there are two banners
  src/renderer/App.css
Due: stylelint

Adjust margin of routerView on mobile
  src/renderer/App.css
Due: stylelint

Change margins
  src/renderer/App.css
Due: stylelint

Add back margin at the bottom of the page
  src/renderer/App.css
Due: stylelint

Create a dependabot group for webpack dependencies (#8760)
  .github/dependabot.yml
Due: none

Fix build script not failing on error (#8761)
  _scripts/build.mjs
Due: none

enhance issue templates
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Due: none

Adjust margins on desktop resolutions
  src/renderer/App.css
Due: stylelint

enhance issue templates (#8770)
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Due: none

fixed bug where metadata missing in next up in video player
  src/renderer/helpers/api/local.js
Due: eslint

Fixed issue with duration badge not showing
  src/renderer/helpers/api/local.js
Due: eslint

Applied changes requested
  src/renderer/helpers/api/local.js
Due: eslint

Translated using Weblate (Tamil)
  static/locales/ta.yaml
Due: none

Trim video titles with the local API to avoid breaking the databases (#8354)
  src/renderer/helpers/api/local.js
  src/renderer/views/Watch/Watch.js
Due: eslint

! Fix items moving back and forth if video dragged to a certain position
  src/renderer/views/Playlist/Playlist.vue
Due: eslint

! Fix incorrect behabiour when dragging playlist item with duplicate video in the same playlist
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/components/FtListVideoNumbered/FtListVideoNumbered.vue
  src/renderer/helpers/dragAndDrop.js
Due: eslint

Translated using Weblate (Japanese)
  static/locales/ja.yaml
Due: none

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none

fix: improve Catppuccin Mocha owner comment contrast (fixes #6597)
  src/renderer/themes.css
Due: stylelint

Update src/renderer/store/modules/settings.js
  src/renderer/store/modules/settings.js
Due: eslint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
