Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Switch the auto-merge workflow back to the PUSH_TOKEN
  .github/workflows/autoMerge.yml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Slovak)
  static/locales/sk.yaml
Due: none

Translated using Weblate (English (United Kingdom))
  static/locales/en-GB.yaml
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Fix eslint after eslint-plugin-yml update
  .github/dependabot.yml
  eslint.config.mjs
  package.json
Due: none

Translated using Weblate (Russian)
  static/locales/ru.yaml
Due: none

Translated using Weblate (Kurdish (Central))
  static/locales/ckb.yaml
Due: none

Switch the auto-merge workflow back to the PUSH_TOKEN (#8560)
  .github/workflows/autoMerge.yml
Due: none

Translated using Weblate (Basque)
  static/locales/eu.yaml
Due: none

Add support for Wayland Virtual Keyboard IMEs
  src/main/index.js
Due: eslint

Remove stale workflow for issues
  .github/workflows/stale.yml
Due: none

Delete autoLabelDuplicate.yml
  .github/workflows/autoLabelDuplicate.yml
Due: none

use ubuntu-slim on workflow runners
  .github/workflows/autoMerge.yml
  .github/workflows/conflicts.yml
  .github/workflows/label-issue.yml
  .github/workflows/label-pr.yml
  .github/workflows/no-response.yml
  .github/workflows/remove-outdated-labels.yml
  .github/workflows/stale.yml
Due: none

~ Add comments to disable rule selector-no-qualifying-type in neccessary places
  src/renderer/themes.css
Due: stylelint

Minor tweaks
  src/renderer/components/WatchVideoLiveChat/WatchVideoLiveChat.css
  src/renderer/components/WatchVideoLiveChat/WatchVideoLiveChat.vue
Due: eslint, stylelint

Add button to open live chat popup in browser (#8278)
  src/renderer/App.vue
  src/renderer/components/WatchVideoLiveChat/WatchVideoLiveChat.css
  src/renderer/components/WatchVideoLiveChat/WatchVideoLiveChat.vue
  src/renderer/main.js
  static/locales/en-US.yaml
Due: eslint, stylelint

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

Prompt for default screenshot folder when it is unset
  src/constants.js
  src/main/index.js
  src/preload/interface.js
  src/renderer/components/PlayerSettings/PlayerSettings.vue
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Decipher the live HLS manifest URL too
  src/renderer/helpers/api/local.js
Due: eslint

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Fix cross channel videos link sometimes broken (#8276)
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/api/local.js
Due: eslint

Decipher the live HLS manifest URL too (#8582)
  src/renderer/helpers/api/local.js
Due: eslint

Translated using Weblate (Indonesian)
  static/locales/id.yaml
Due: none

Workflow changes (#8572)
  .github/workflows/autoLabelDuplicate.yml
  .github/workflows/autoMerge.yml
  .github/workflows/conflicts.yml
  .github/workflows/label-issue.yml
  .github/workflows/label-pr.yml
  .github/workflows/no-response.yml
  .github/workflows/remove-outdated-labels.yml
  .github/workflows/stale.yml
Due: none
