Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Translated using Weblate (Breton)
  static/locales/br.yaml
Due: none

Fix subscriptions double loading on launch
  src/renderer/components/subscriptions-community/subscriptions-community.js
  src/renderer/components/subscriptions-live/subscriptions-live.js
  src/renderer/components/subscriptions-shorts/subscriptions-shorts.js
  src/renderer/components/subscriptions-videos/subscriptions-videos.js
Due: eslint

Implement minimum width and height for window
  src/main/index.js
Due: eslint

Translated using Weblate (Croatian)
  static/locales/hr.yaml
Due: none

Add Gruvbox Light accent colors
  src/renderer/helpers/colors.js
  src/renderer/themes.css
  static/locales/en-US.yaml
Due: eslint, stylelint

Fix subscriptions double loading on launch (#5930)
  src/renderer/components/subscriptions-community/subscriptions-community.js
  src/renderer/components/subscriptions-live/subscriptions-live.js
  src/renderer/components/subscriptions-shorts/subscriptions-shorts.js
  src/renderer/components/subscriptions-videos/subscriptions-videos.js
Due: eslint

Temp
  src/renderer/App.js
  src/renderer/components/FtKeyboardShortcutPrompt/FtKeyboardShortcutPrompt.css
  src/renderer/components/FtKeyboardShortcutPrompt/FtKeyboardShortcutPrompt.vue
  src/renderer/views/Settings/Settings.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

Update to use the NavigationHistory API
  src/constants.js
  src/main/index.js
  src/renderer/components/ft-icon-button/ft-icon-button.js
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/top-nav/top-nav.scss
  src/renderer/components/top-nav/top-nav.vue
Due: eslint, stylelint

Implement workaround for updating the current page title in the dropdown list
  src/renderer/components/top-nav/top-nav.js
Due: eslint

Have document title update properly
  src/main/index.js
  src/renderer/App.js
  src/renderer/components/top-nav/top-nav.js
  src/renderer/store/modules/utils.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Hashtag/Hashtag.js
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Watch/Watch.js
Due: eslint

Assign authorId to posts in the parsing functions
  src/renderer/components/subscriptions-community/subscriptions-community.js
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/api/local.js
  src/renderer/views/Channel/Channel.js
Due: eslint

Fix seek bar thumbnail overflowing when exiting full screen
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
Due: stylelint

Implement minimum width and height for window (#5931)
  src/main/index.js
Due: eslint

Fix seek bar thumbnail overflowing when exiting full screen (#5929)
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
Due: stylelint

Fix webpack build issue
  src/renderer/components/top-nav/top-nav.js
Due: eslint

Migrate FtCommunityPost and FtCommunityPoll to the composition API
  src/renderer/components/FtCommunityPoll/FtCommunityPoll.css
  src/renderer/components/FtCommunityPoll/FtCommunityPoll.vue
  src/renderer/components/FtCommunityPost/FtCommunityPost.scss
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/components/ft-community-poll/ft-community-poll.js
  src/renderer/components/ft-community-post/ft-community-post.js
  src/renderer/components/ft-community-post/ft-community-post.vue
  src/renderer/views/Post/Post.js
Due: eslint, stylelint

Remove colors with insufficient contrast
  src/renderer/helpers/colors.js
  src/renderer/themes.css
Due: eslint, stylelint

Remove unused translations
  static/locales/en-US.yaml
Due: none

voteCount and commentCount don't need to be reactive
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
Due: eslint

Assign authorId to posts in the parsing functions (#5936)
  src/renderer/components/subscriptions-community/subscriptions-community.js
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/api/local.js
  src/renderer/views/Channel/Channel.js
Due: eslint

^ Update electron 32.x
  package.json
  yarn.lock
Due: none

Bump shaka-player from 4.11.9 to 4.11.10 (#5939)
  package.json
  yarn.lock
Due: none

^ Update electron 32.x (#5941)
  package.json
  yarn.lock
Due: none

Translated using Weblate (Belarusian)
  static/locales/be.yaml
Due: none

Fix name conflict between swiper-container element and swiperContainer ref
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
Due: eslint

Migrate FtListChannel and FtListHashtag to the composition API
  src/renderer/components/FtListChannel/FtListChannel.scss
  src/renderer/components/FtListChannel/FtListChannel.vue
  src/renderer/components/FtListHashtag/FtListHashtag.scss
  src/renderer/components/FtListHashtag/FtListHashtag.vue
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/components/ft-list-channel/ft-list-channel.js
  src/renderer/components/ft-list-channel/ft-list-channel.vue
  src/renderer/components/ft-list-hashtag/ft-list-hashtag.js
  src/renderer/components/ft-list-hashtag/ft-list-hashtag.vue
  src/renderer/helpers/api/local.js
Due: eslint, stylelint

Remove unused css colors
  src/renderer/themes.css
Due: stylelint

Bump version number to v0.22.0
  package.json
Due: none

Add Unlisted badge on watch page for unlisted videos (#5856)
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/components/watch-video-info/watch-video-info.scss
  src/renderer/components/watch-video-info/watch-video-info.vue
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Translated using Weblate (Japanese)
  static/locales/ja.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Fix some undesired attributes being saved to playlists.db (#5601)
  src/renderer/store/modules/playlists.js
Due: eslint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
