Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Translated using Weblate (Basque)
  static/locales/eu.yaml
Due: none

switch to a property for the playlist icon
  src/renderer/components/FtListPlaylist/FtListPlaylist.vue
Due: eslint

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Use `list` icon instead of `bookmark` to represent Playlists (#9797)
  src/renderer/components/SideNav/SideNav.vue
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Due: eslint

* Remove usage of removed `experiments.outputModule` and use `output.module`
  _scripts/webpack.botGuardScript.config.js
Due: eslint

Add isAlbum check for GridPlaylist
  src/renderer/helpers/api/local.js
Due: eslint

change computed var name
  src/renderer/components/FtListVideo/FtListVideo.vue
Due: eslint

Inline the "Video" node members only check
  src/renderer/helpers/api/local.js
Due: eslint

Inline "LockupView" view count parsing
  src/renderer/helpers/api/local.js
Due: eslint

Create the Session instance directly when an Innertube instance is not needed
  _scripts/getRegions.mjs
  src/renderer/helpers/api/local.js
Due: eslint

Update shaka-player error URL and add JSON.stringify to objects
  src/renderer/helpers/player/utils.js
Due: eslint

Remove babel build dependency
  .babelrc
  .github/dependabot.yml
  _scripts/webpack.main.config.js
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
  package.json
  pnpm-lock.yaml
Due: eslint

URL encode the colon in the URL
  src/renderer/helpers/player/utils.js
Due: eslint

Remove babel build dependency (#9829)
  .babelrc
  .github/dependabot.yml
  _scripts/webpack.main.config.js
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
  package.json
  pnpm-lock.yaml
Due: eslint

Translated using Weblate (Ukrainian)
  static/locales/uk.yaml
Due: none

replace matrix room address with space address
  CONTRIBUTING.md
  README.md
  src/renderer/views/About/About.vue
Due: eslint

missed one
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Translated using Weblate (Portuguese)
  static/locales/pt.yaml
Due: none

Reworked the settings. Download buttons into icon links, Choose buttons into folder icon buttons. Version check automatic on path change, throttled. Redone layout to make compact.
  src/renderer/components/ExternalDownloaderSettings.vue
  src/renderer/components/WatchVideoInfo/WatchVideoInfo.vue
  src/renderer/main.js
Due: eslint

fixed linux terminal open on fedora flex width and separator for custom argument fields.
  src/main/download.js
  src/renderer/components/ExternalDownloaderSettings.vue
Due: eslint

[Feature Request]: Add yt-dlp intergration
  src/constants.js
  src/main/download.js
  src/main/index.js
  src/preload/interface.js
  src/renderer/components/ExternalDownloaderSettings.vue
  src/renderer/components/WatchVideoInfo/WatchVideoInfo.css
  src/renderer/components/WatchVideoInfo/WatchVideoInfo.vue
  src/renderer/main.js
  src/renderer/store/modules/settings.js
  src/renderer/views/Settings/Settings.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

Output directory auto-populated with Downloads folder Timestamp fields now visibly look like inputs Toast is clickable, no forced navigation
  src/constants.js
  src/main/download.js
  src/main/index.js
  src/preload/interface.js
  src/renderer/components/ExternalDownloaderSettings.vue
  src/renderer/components/WatchVideoInfo/WatchVideoInfo.css
  src/renderer/components/WatchVideoInfo/WatchVideoInfo.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

Fix the shaka-player CSS font patch not being applied
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
Due: eslint

Rebase and clean up
  src/constants.js
  src/main/download.js
  src/main/index.js
  src/preload/interface.js
  src/renderer/components/ExternalDownloaderSettings.vue
  src/renderer/components/WatchVideoInfo/WatchVideoInfo.css
  src/renderer/components/WatchVideoInfo/WatchVideoInfo.vue
Due: eslint, stylelint

Various minor performance improvements (#9826)
  _scripts/getRegions.mjs
  src/renderer/helpers/api/local.js
Due: eslint

Remove outdated comment
  src/renderer/helpers/player/utils.js
Due: eslint

Replace Matrix Room address with Space address (#9838)
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  README.md
  src/renderer/views/About/About.vue
Due: eslint

Translated using Weblate (Swedish)
  static/locales/sv.yaml
Due: none

Feat: Add SponsorBlock channels exclusion list (#9508)
  src/renderer/components/FtListVideo/FtListVideo.vue
  src/renderer/components/SponsorBlockSettings.vue
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/store/modules/settings.js
  src/renderer/views/Watch/Watch.vue
  static/locales/en-US.yaml
Due: eslint

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Breton)
  static/locales/br.yaml
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none
