Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Include `VL` in regex for show urls
  src/renderer/store/modules/utils.js
Due: eslint

Feat: Improve messaging when all channel videos are filtered out
  src/renderer/views/Channel/Channel.vue
  static/locales/en-US.yaml
Due: eslint

cleanup leftover from workflow removal
  .github/workflows/build.yml
Due: none

cleanup leftover from workflow removal (#9792)
  .github/workflows/build.yml
Due: none

Show 'Premiere' instead of 'Live' for premieres
  src/renderer/components/FtListVideo/FtListVideo.vue
  src/renderer/helpers/api/local.js
  static/locales/en-US.yaml
Due: eslint

Feature/drag drop improve (#9591)
  src/renderer/components/AutoScrollWrapper/AutoScrollWrapper.css
  src/renderer/components/AutoScrollWrapper/AutoScrollWrapper.vue
  src/renderer/components/FtListVideo/FtListVideo.scss
  src/renderer/views/Playlist/Playlist.vue
Due: eslint, stylelint

fix(build): resolve Android packaging warnings
  _scripts/webpack.web.config.js
  docker-compose.yml
  static/locales-android/activeLocales.json
  static/locales-android/en-US.yaml
  static/locales-android/nb_NO.yaml
  static/locales-android/pt_BR.yaml
  static/locales/ar.yaml
  static/locales/bn.yaml
  static/locales/en-US.yaml
  static/locales/hi.yaml
  static/locales/ka.yaml
  static/locales/ti.yaml
Due: eslint

build(android): add Docker toolchain
  Dockerfile
  docker-compose.yml
Due: none

fix(android): validate fullscreen fit orientation
  _scripts/android-smoke-test.sh
  android/app/src/main/java/io/freetubeapp/freetubeandroid/AndroidBridge.kt
  src/renderer/components/PlayerSettings/PlayerSettings.vue
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.vue
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint, stylelint

docs(android): document build and device workflow
  AGENTS.md
  docs/ANDROID_BUILD.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
Due: none

chore(content): remove donation links
  README.md
  src/constants.js
  src/main/index.js
  src/renderer/main.js
  src/renderer/views/About/About.vue
Due: eslint

chore(build): ignore Android build artifacts
  .dockerignore
  .gitignore
  android/.gitignore
Due: none

chore: upgrade pnpm and dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  stylelint.config.mjs
Due: none

test(android): add safe Android smoke baseline
  _scripts/android-smoke-test.sh
Due: none

ci: sync development with upstream and disable auto-merge
  .github/workflows/autoMerge.yml
  .github/workflows/build.yml
  .github/workflows/buildCordova.yml
  .github/workflows/linter.yml
  .github/workflows/remove-outdated-labels.yml
  .github/workflows/sync-development.yml
  .github/workflows/testAndroid.yml
Due: none

Update unofficial build note
  _scripts/ebuilder.config.mjs
Due: none

Use ternary for Premiere vs Live label
  src/renderer/components/FtListVideo/FtListVideo.vue
Due: eslint

Show premiere in search results too
  src/renderer/helpers/api/local.js
Due: eslint

Normalize all locale fallback value and fix calls to DateTimeFormat
  src/renderer/components/ChannelAbout/ChannelAbout.vue
  src/renderer/components/WatchVideoInfo/WatchVideoInfo.vue
  src/renderer/helpers/utils.js
  src/renderer/views/Watch/Watch.js
Due: eslint

use list icon instead of bookmark for playlist
  src/renderer/components/SideNav/SideNav.vue
Due: eslint

Add show lockup view parsing
  src/renderer/helpers/api/local.js
Due: eslint

Display a different icon for courses, releases, podcasts
  src/renderer/components/FtListPlaylist/FtListPlaylist.vue
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/api/local.js
  src/renderer/main.js
Due: eslint

Move shows before podcasts tab to match youtube
  src/renderer/components/ChannelDetails/ChannelDetails.vue
Due: eslint

fix(android): support long-press playback speed
  _scripts/android-smoke-test.sh
  _scripts/test-long-press-playback.mjs
  package.json
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

feat(android): add pull-to-refresh
  _scripts/android-smoke-test.sh
  _scripts/findMissingTemplates.mjs
  android/app/build.gradle.kts
  android/app/src/main/java/io/freetubeapp/freetubeandroid/MainActivity.kt
  android/app/src/main/res/layout/activity_main.xml
  src/renderer/App.vue
  src/renderer/components/DataSettings/DataSettings.vue
  src/renderer/components/SideNav/SideNav.vue
  src/renderer/helpers/strings.js
  src/renderer/i18n/index.js
  src/renderer/main.js
  src/renderer/store/modules/settings.js
  src/renderer/views/Subscriptions/Subscriptions.vue
  static/locales/af.yaml
  static/locales/el.yaml
  static/locales/es-AR.yaml
  static/locales/es-MX.yaml
  static/locales/gsw.yaml
  static/locales/hi.yaml
  static/locales/ja.yaml
  static/locales/ka.yaml
  static/locales/ko.yaml
  static/locales/ku.yaml
  static/locales/lt.yaml
  static/locales/nl.yaml
  static/locales/nn.yaml
  static/locales/pl.yaml
  static/locales/tok.yaml
Due: eslint

feat(android): rotate fullscreen video to landscape
  _scripts/android-smoke-test.sh
  android/app/src/main/java/io/freetubeapp/freetubeandroid/MainActivity.kt
Due: none

feat(android): add proxy settings support
  _scripts/android-smoke-test.sh
  _scripts/android-test-http-proxy.py
  android/app/src/main/java/io/freetubeapp/freetubeandroid/AndroidBridge.kt
  src/renderer/App.vue
  src/renderer/components/ProxySettings/ProxySettings.vue
  src/renderer/views/Settings/Settings.vue
Due: eslint

fix(android): isolate proxy smoke test cleanup
  .github/workflows/build.yml
  .github/workflows/buildCordova.yml
  .github/workflows/linter.yml
  .github/workflows/testAndroid.yml
  AGENTS.md
  Dockerfile
  _scripts/android-smoke-test.sh
  android/app/build.gradle.kts
  docker-compose.yml
  docs/ANDROID_BUILD.md
  docs/DEVELOPMENT.md
  package.json
  pnpm-lock.yaml
Due: none

fix(android): keep WebView playback in background
  android/app/src/main/java/io/freetubeapp/freetubeandroid/BackgroundPlayWebView.kt
  android/app/src/main/res/layout/activity_main.xml
Due: none

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Add handling for `/show/` urls (#9788)
  src/renderer/components/FtInput/FtInput.vue
  src/renderer/store/modules/utils.js
Due: eslint

* Run on slimer VM, add concurrency and remove useless comments
  .github/workflows/compress-images.yml
Due: none

* Update build action config to exclude new workflow file
  .github/workflows/build.yml
Due: none

Reduce allocations
  src/renderer/helpers/utils.js
Due: eslint

* Update stylelint rule at-rule-prelude-no-invalid to make it ignore @mixin
  stylelint.config.mjs
Due: none

* Add back recursive to svgo
  .github/workflows/compress-images.yml
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
