Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Localize proxy test info when possible
  src/renderer/components/proxy-settings/proxy-settings.js
Due: eslint

Use a second find in-case a locale with the same language is added in the future
  src/renderer/components/proxy-settings/proxy-settings.js
Due: eslint

Added translation using Weblate (Belarusian)
  static/locales/be.yaml
Due: none

remove some dynamic keys
  .eslintrc.js
  src/renderer/App.js
  src/renderer/components/data-settings/data-settings.js
  src/renderer/helpers/utils.js
  src/renderer/store/modules/utils.js
Due: eslint

Update .eslintrc.js
  .eslintrc.js
Due: eslint

ignore '-' and '•'
  .eslintrc.js
  src/renderer/components/ft-list-channel/ft-list-channel.vue
  src/renderer/components/ft-list-hashtag/ft-list-hashtag.vue
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/components/watch-video-chapters/watch-video-chapters.vue
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
  static/locales/en-US.yaml
Due: eslint

Fix syntax error
  src/renderer/components/proxy-settings/proxy-settings.js
Due: eslint

Chores: move 'blur' to be thumbnailPreference, move 1 dep to devDependencies (#4218)
  package.json
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/distraction-settings/distraction-settings.vue
  src/renderer/components/general-settings/general-settings.js
  src/renderer/components/general-settings/general-settings.vue
  static/locales/en-US.yaml
Due: eslint

Handle channel URL resolve redirects in the local API (#4205)
  src/renderer/helpers/api/local.js
Due: eslint

use fetchWithTimeout for piped instances
  src/renderer/App.js
  src/renderer/store/modules/piped.js
  static/piped-instances.json
Due: eslint

Translated using Weblate (Chinese (Simplified))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Translated using Weblate (Catalan)
  static/locales/ca.yaml
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Fix search suggestions for Invidious
  src/renderer/components/top-nav/top-nav.js
  src/renderer/helpers/utils.js
Due: eslint

Localize proxy test info when possible (#4255)
  src/renderer/components/proxy-settings/proxy-settings.js
Due: eslint

Added light and dark grey to en-US.yalm.
  static/locales/en-US.yaml
Due: none

Work around context menus in the devtools being displayed behind the window
  src/main/index.js
Due: eslint

Comments: populate isOwner field, add authorId
  src/renderer/helpers/api/piped.js
Due: eslint

Translated using Weblate (Serbian)
  static/locales/sr.yaml
Due: none

filter > find
  src/renderer/store/modules/playlists.js
Due: eslint

avoid importing `crypto` from NodeJS
  src/renderer/store/modules/playlists.js
Due: eslint

Compress CSS ruleset
  src/renderer/scss-partials/_ft-list-item.scss
Due: stylelint

$ Remove useless prefix from key
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
Due: eslint

Use template for element with v-if only
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
Due: eslint

Make playlist selector look more selectable (cursor: pointer)
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.css
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.vue
Due: eslint, stylelint

Translated using Weblate (Chinese (Traditional))
  static/locales/zh-TW.yaml
Due: none

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

Translated using Weblate (Ukrainian)
  static/locales/uk.yaml
Due: none

Translate toast messages and fix remove watched videos from playlist
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.js
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.js
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/privacy-settings/privacy-settings.js
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/views/Playlist/Playlist.js
  static/locales/en-US.yaml
Due: eslint

Update README.md
  README.md
Due: none

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none
