Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Fix hide channel for next recommended video
  src/renderer/views/Watch/Watch.js
Due: eslint

Fix hide channel for trending page
  src/renderer/helpers/api/local.js
Due: eslint

Fix exceptions when using Invidious API
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/components/FtListVideoLazy.vue
  src/renderer/views/Watch/Watch.js
Due: eslint

Code clean-up
  src/renderer/helpers/api/local.js
Due: eslint

Fix hide channel for search results
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/helpers/api/local.js
Due: eslint

Update to latest vesion of ytjs mr
  src/renderer/helpers/api/local.js
Due: eslint

Code -clean-up
  src/renderer/helpers/api/local.js
Due: eslint

Add possibility to hide/unhide channel from collab videos
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/components/FtListVideo/FtListVideo.vue
  src/renderer/components/FtListVideoLazy.vue
  src/renderer/helpers/api/local.js
  src/renderer/views/Watch/Watch.js
Due: eslint

Area label, move description, delete unused translation
  src/renderer/components/DistractionSettings/DistractionSettings.vue
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.vue
  src/renderer/components/WatchVideoInfo/WatchVideoInfo.vue
  src/renderer/helpers/api/local.js
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

Use pipe in showAiBadge
  src/renderer/components/WatchVideoInfo/WatchVideoInfo.vue
Due: eslint

Use hasAI
  src/renderer/components/WatchVideoInfo/WatchVideoInfo.vue
Due: eslint

Add translations for headers and descriptions
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.vue
  src/renderer/helpers/api/local.js
  static/locales/en-US.yaml
Due: eslint

Remove extractAiBadgeTooltip function and use localized version
  src/renderer/components/WatchVideoInfo/WatchVideoInfo.vue
  src/renderer/helpers/api/local.js
  static/locales/en-US.yaml
Due: eslint

Show message for turned off comments
  src/renderer/components/CommentSection/CommentSection.vue
  static/locales/en-US.yaml
Due: eslint

Delete comment
  src/renderer/components/CommentSection/CommentSection.vue
Due: eslint

Make SabrSchemePlugin more robust
  src/renderer/helpers/player/SabrSchemePlugin.js
Due: eslint

Translated using Weblate (Breton)
  static/locales/br.yaml
Due: none

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Inline string
  src/renderer/components/WatchVideoInfo/WatchVideoInfo.vue
Due: eslint

Remove variable and overly defensive code
  src/renderer/components/CommentSection/CommentSection.vue
Due: eslint

Reduce code diff
  src/renderer/components/CommentSection/CommentSection.vue
Due: eslint

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Refactor content disclosure extraction
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.vue
  src/renderer/components/WatchVideoInfo/WatchVideoInfo.vue
  src/renderer/helpers/api/local.js
Due: eslint

Translated using Weblate (Japanese)
  static/locales/ja.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Update src/renderer/components/WatchVideoInfo/WatchVideoInfo.vue
  src/renderer/components/WatchVideoInfo/WatchVideoInfo.vue
Due: eslint

Update src/renderer/components/WatchVideoDescription/WatchVideoDescription.css
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.css
Due: stylelint

remove faRobot icon
  src/renderer/main.js
Due: eslint

onManualReloadReloadRequested -> onManualReloadRequested
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
Due: eslint

throttle onManualReloadRequested
  src/renderer/views/Watch/Watch.js
Due: eslint

Translated using Weblate (Azerbaijani)
  static/locales/az.yaml
Due: none

move hide comments to general
  src/renderer/components/DistractionSettings/DistractionSettings.vue
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
  src/renderer/store/modules/settings.js
  src/renderer/views/Post.vue
  static/locales/en-US.yaml
Due: eslint
