Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Feature search bug fix
  src/renderer/components/ft-checkbox-list/ft-checkbox-list.vue
  src/renderer/components/ft-search-filters/ft-search-filters.js
Due: eslint

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Consolidate clear subscriptions cache into one mutation
  src/renderer/store/modules/subscriptions.js
Due: eslint

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Fix shuffle prevVideo issue
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
Due: eslint

Hide recommendations from the Watch component, instead of hiding itself
  src/renderer/components/watch-video-recommendations/watch-video-recommendations.js
  src/renderer/components/watch-video-recommendations/watch-video-recommendations.vue
  src/renderer/views/Watch/Watch.vue
Due: eslint

* Make remove watched videos button visible when any video watched
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/playlist-info/playlist-info.vue
Due: eslint

Update shaka-player to version 4.9.0
  package.json
  yarn.lock
Due: none

Fix wrong variable for reversal bug
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
Due: eslint

Consolidate clear subscriptions cache into one mutation (#5202)
  src/renderer/store/modules/subscriptions.js
Due: eslint

Hide recommendations from the Watch component, instead of hiding itself (#5203)
  src/renderer/components/watch-video-recommendations/watch-video-recommendations.js
  src/renderer/components/watch-video-recommendations/watch-video-recommendations.vue
  src/renderer/views/Watch/Watch.vue
Due: eslint

Translated using Weblate (Serbian)
  static/locales/sr.yaml
Due: none

Cleanup unused channel hiding code in ft-list-video-numbered
  src/renderer/components/ft-list-video-numbered/ft-list-video-numbered.js
  src/renderer/components/ft-list-video-numbered/ft-list-video-numbered.vue
Due: eslint

fixed contrast issue with #fb4934 and #1d2021
  src/renderer/themes.css
Due: stylelint

Update src/renderer/themes.css
  src/renderer/themes.css
Due: stylelint

inserted Gruvbox below dracula (both)
  src/renderer/components/theme-settings/theme-settings.js
Due: eslint

moved gruvbox below dracula
  src/renderer/helpers/colors.js
Due: eslint

Cleanup unused channel hiding code in ft-list-video-numbered (#5208)
  src/renderer/components/ft-list-video-numbered/ft-list-video-numbered.js
  src/renderer/components/ft-list-video-numbered/ft-list-video-numbered.vue
Due: eslint

Compressed Images
  _icons/.icon-set/icon_16x16.png
Due: none

Translated using Weblate (Finnish)
  static/locales/fi.yaml
Due: none

Remove unused database compacting IPC channel
  src/constants.js
  src/datastores/handlers/base.js
  src/datastores/handlers/electron.js
  src/datastores/handlers/web.js
  src/main/index.js
Due: eslint

Fixed requested changes for fiter reset
  src/renderer/components/ft-radio-button/ft-radio-button.js
  src/renderer/components/ft-search-filters/ft-search-filters.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/store/modules/utils.js
Due: eslint

Translated using Weblate (Portuguese)
  static/locales/pt.yaml
Due: none

Limit which URLs FreeTube will open externally
  src/constants.js
  src/main/index.js
  src/renderer/views/About/About.js
Due: eslint

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Add missing IPC channel constants
  src/constants.js
  src/main/index.js
  src/renderer/App.js
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/components/theme-settings/theme-settings.js
  src/renderer/main.js
Due: eslint

Remove unused database compacting IPC channel (#5212)
  src/constants.js
  src/datastores/handlers/base.js
  src/datastores/handlers/electron.js
  src/datastores/handlers/web.js
  src/main/index.js
Due: eslint

Supplant mousedown handler for ft-icon-button
  src/renderer/components/ft-icon-button/ft-icon-button.js
  src/renderer/components/ft-icon-button/ft-icon-button.vue
Due: eslint

Implement navigation history dropdowns
  src/renderer/App.js
  src/renderer/components/ft-icon-button/ft-icon-button.js
  src/renderer/components/ft-icon-button/ft-icon-button.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/top-nav/top-nav.scss
  src/renderer/components/top-nav/top-nav.vue
  src/renderer/store/modules/utils.js
Due: eslint, stylelint

$ Simplify boolean assignment, rename session storage key
  src/renderer/views/History/History.js
Due: eslint

Update top nav to handle icon button styling
  src/renderer/components/ft-icon-button/ft-icon-button.js
  src/renderer/components/ft-icon-button/ft-icon-button.scss
  src/renderer/components/ft-icon-button/ft-icon-button.vue
  src/renderer/components/top-nav/top-nav.scss
  src/renderer/components/top-nav/top-nav.vue
Due: eslint, stylelint

* Make history page remember last query string & search limit only when going back
  src/renderer/views/History/History.js
  src/renderer/views/History/History.vue
Due: eslint

Add missing IPC channel constants (#5216)
  src/constants.js
  src/main/index.js
  src/renderer/App.js
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/components/theme-settings/theme-settings.js
  src/renderer/main.js
Due: eslint

Update shaka-player to version 4.9.1
  package.json
  yarn.lock
Due: none

Minor performance improvements
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Switch settings sections and form elements to created lifecycle hook
  src/renderer/components/external-player-settings/external-player-settings.js
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/ft-slider/ft-slider.js
  src/renderer/components/ft-toggle-switch/ft-toggle-switch.js
  src/renderer/components/general-settings/general-settings.js
  src/renderer/components/theme-settings/theme-settings.js
Due: eslint

Implement long-press handling & adjust arrow logic
  src/renderer/components/ft-icon-button/ft-icon-button.js
  src/renderer/components/ft-icon-button/ft-icon-button.scss
  src/renderer/components/ft-icon-button/ft-icon-button.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/top-nav/top-nav.scss
  src/renderer/components/top-nav/top-nav.vue
  src/renderer/store/modules/utils.js
Due: eslint, stylelint

Prevent context menu from appearing in dev
  src/renderer/components/ft-icon-button/ft-icon-button.vue
Due: eslint
