Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

! Fix style of playlist cards
  src/renderer/components/ft-list-video/ft-list-video.scss
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/scss-partials/_ft-list-item.scss
Due: eslint, stylelint

$ Call store.dispatch once per move
  src/renderer/views/Playlist/Playlist.vue
Due: eslint

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

$ Remove unused range function
  src/renderer/helpers/utils.js
  src/renderer/views/Playlist/Playlist.vue
Due: eslint

Fix style of playlist cards~~
  src/renderer/components/ft-list-video/ft-list-video.scss
Due: stylelint

Reuse a single PO-token session with data cleanup (#8669)
  src/main/poTokenGenerator.js
Due: eslint

Fix playing wrong item after deleting first item in playlist (#8612)
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
Due: eslint

! Fix link dragging
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.css
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/components/FtListVideoNumbered/FtListVideoNumbered.css
  src/renderer/components/FtListVideoNumbered/FtListVideoNumbered.vue
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
Due: eslint, stylelint

Translated using Weblate (Basque)
  static/locales/eu.yaml
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

First implementation
  src/constants.js
  src/datastores/handlers/base.js
  src/datastores/handlers/electron.js
  src/datastores/handlers/index.js
  src/datastores/handlers/web.js
  src/datastores/index.js
  src/main/index.js
  src/preload/interface.js
  src/renderer/components/FtSubscribeListButton/FtSubscribeListButton.css
  src/renderer/components/FtSubscribeListButton/FtSubscribeListButton.vue
  src/renderer/components/PlaylistInfo/PlaylistInfo.vue
  src/renderer/components/SideNav/SideNav.vue
  src/renderer/components/SubscriptionsLive.vue
  src/renderer/components/SubscriptionsShorts.vue
  src/renderer/components/SubscriptionsVideos.vue
  src/renderer/helpers/subscriptions.js
  src/renderer/store/modules/profiles.js
  src/renderer/store/modules/settings.js
  src/renderer/store/modules/subscription-cache.js
  static/locales/fr-FR.yaml
Due: eslint, stylelint

Added filter of duplicates
  src/renderer/components/SubscriptionsVideos.vue
Due: eslint

! Fix being able to drag vidoes via dragging non grab area
  src/renderer/components/FtListVideoNumbered/FtListVideoNumbered.vue
Due: eslint

Translated using Weblate (Russian)
  static/locales/ru.yaml
Due: none

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Improve cache handling in GitHub Actions workflows
  .github/workflows/build.yml
  .github/workflows/linter.yml
  .github/workflows/release.yml
Due: none

! Fix switching from legacy to audio format doesn't select correct audio track by default (#8674)
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

$ Fix lint warnings
  src/renderer/components/FtListVideoNumbered/FtListVideoNumbered.vue
  src/renderer/components/ft-list-video/ft-list-video.vue
Due: eslint

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Improve cache handling in GitHub Actions workflows (#8682)
  .github/workflows/build.yml
  .github/workflows/linter.yml
  .github/workflows/release.yml
Due: none

Translated using Weblate (Swedish)
  static/locales/sv.yaml
Due: none

! Fix videos kept being moved when hovered over certain item
  src/renderer/views/Playlist/Playlist.vue
Due: eslint

Added Correct channel display in subscription page
  src/renderer/components/SubscriptionsVideos.vue
  src/renderer/helpers/subscriptions.js
Due: eslint

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Translated using Weblate (Slovak)
  static/locales/sk.yaml
Due: none

Added translation using Weblate (Xhosa)
  static/locales/xh.yaml
Due: none

Translated using Weblate (Afrikaans)
  static/locales/af.yaml
Due: none

Translated using Weblate (Welsh)
  static/locales/cy.yaml
Due: none

Translated using Weblate (Indonesian)
  static/locales/id.yaml
Due: none

Move shaka-player font patching into a webpack loader
  _scripts/patch-shaka-player-loader.js
  _scripts/patchShaka.mjs
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
  package.json
Due: eslint

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Fix the proxy test by stripping the request headers
  src/main/index.js
Due: eslint
