Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

hide channels by default, remove toggle
  src/renderer/components/DistractionSettings/DistractionSettings.css
  src/renderer/components/DistractionSettings/DistractionSettings.vue
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/store/modules/settings.js
  src/renderer/views/Watch/Watch.js
  static/locales/en-US.yaml
Due: eslint, stylelint

* Update preview box box-shadow, remove arrow below & "ticks"
  src/renderer/components/watch-video-playlist/watch-video-playlist.css
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
Due: eslint, stylelint

Translated using Weblate (Swedish)
  static/locales/sv.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none

Migrate the SearchPage component to the composition API
  src/renderer/views/SearchPage/SearchPage.js
  src/renderer/views/SearchPage/SearchPage.vue
Due: eslint

Hide webpack-dev-server error overlay for application errors
  _scripts/dev-runner.js
Due: eslint

Hide webpack-dev-server error overlay for application errors (#8087)
  _scripts/dev-runner.js
Due: eslint

Remove n argument in sed (#8033)
  .github/workflows/updateSite.yml
Due: none

Bump package version from 0.23.9 to 0.23.10
  package.json
Due: none

Migrate the SearchPage component to the composition API (#8086)
  src/renderer/views/SearchPage/SearchPage.js
  src/renderer/views/SearchPage/SearchPage.vue
Due: eslint

Translated using Weblate (English (United Kingdom))
  static/locales/en-GB.yaml
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

* Use Math.round instead of Math.trunc for start time / duration like googlevideo repo
  src/renderer/helpers/player/Mp4SegmentIndexParser.js
  src/renderer/helpers/player/SabrSchemePlugin.js
  src/renderer/helpers/player/WebmSegmentIndexParser.js
Due: eslint

* Add requestNumber to SABR URL
  src/renderer/helpers/player/SabrSchemePlugin.js
Due: eslint

! Fix SABR redirect handling
  src/renderer/helpers/player/SabrSchemePlugin.js
Due: eslint

! Fix reload sometimes not working
  src/renderer/views/Watch/Watch.js
Due: eslint

* Reload with less cumulative backoff requested (5 > 3)
  src/renderer/helpers/player/SabrSchemePlugin.js
Due: eslint

* Implement poToken fallback (visitorData bind > videoID bind
  src/renderer/helpers/api/local.js
  src/renderer/helpers/player/SabrSchemePlugin.js
  src/renderer/views/Watch/Watch.js
Due: eslint

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

! Fix progress saving run for video reloading in the middle
  src/renderer/views/Watch/Watch.js
Due: eslint

Embed update information in x64 AppImage
  .github/workflows/build.yml
Due: none

remove player icon
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

move icon into overflow menu beneath loop
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

remove popup message
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

remove unused translation
  static/locales/en-US.yaml
Due: none

alter button for overflow menu
  src/renderer/components/ft-shaka-video-player/player-components/SkipSilenceButton.js
Due: eslint

cancelTrickPlay does not stop trickPlay anymore? setting explicit to speed 1 instead
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

bugfix, prevent fast forward when player is paused or playback ended
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Move toggle to the left side
  src/renderer/components/PlayerSettings/PlayerSettings.vue
Due: eslint

bugfix, prevent skipSilence() speed multiplier if arrow keys are used to skip forward/backward
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Serialize search and playlist continuations in the store
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/helpers/api/local.js
  src/renderer/views/Playlist/Playlist.vue
  src/renderer/views/SearchPage/SearchPage.vue
Due: eslint

Serialize search and playlist continuations in the store (#8092)
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/helpers/api/local.js
  src/renderer/views/Playlist/Playlist.vue
  src/renderer/views/SearchPage/SearchPage.vue
Due: eslint

Finalize icon selection
  src/constants.js
  src/renderer/components/ft-shaka-video-player/player-components/AudioTrackSelection.js
  src/renderer/components/ft-shaka-video-player/player-components/TheatreModeButton.js
Due: eslint

Change Player icons (#8057)
  src/constants.js
  src/renderer/components/ft-shaka-video-player/player-components/AudioTrackSelection.js
  src/renderer/components/ft-shaka-video-player/player-components/TheatreModeButton.js
Due: eslint

Fix toasts and removing videos from playlists
  src/renderer/components/FtToast/FtToast.vue
  src/renderer/views/Playlist/Playlist.vue
Due: eslint

Translated using Weblate (Welsh)
  static/locales/cy.yaml
Due: none

Fix duplicate app ID
  src/renderer/App.vue
Due: eslint

Simplify aria-selected handling now that false doesn't remove attributes
  src/renderer/components/ChannelDetails/ChannelDetails.vue
  src/renderer/views/Subscriptions/Subscriptions.vue
  src/renderer/views/Trending/Trending.vue
Due: eslint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
