Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Implement suggested changes
  src/renderer/components/download-settings/download-settings.vue
  src/renderer/components/player-settings/player-settings.vue
  src/renderer/components/proxy-settings/proxy-settings.vue
  src/renderer/components/sponsor-block-settings/sponsor-block-settings.vue
  src/renderer/components/top-nav/top-nav.vue
Due: eslint

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Translated using Weblate (Chinese (Simplified))
  static/locales/zh-CN.yaml
Due: none

* Implement persistent subscription cache
  src/constants.js
  src/datastores/handlers/base.js
  src/datastores/handlers/electron.js
  src/datastores/handlers/index.js
  src/datastores/handlers/web.js
  src/datastores/index.js
  src/main/index.js
  src/renderer/App.js
  src/renderer/components/subscriptions-community/subscriptions-community.js
  src/renderer/components/subscriptions-live/subscriptions-live.js
  src/renderer/components/subscriptions-shorts/subscriptions-shorts.js
  src/renderer/components/subscriptions-videos/subscriptions-videos.js
  src/renderer/store/modules/profiles.js
  src/renderer/store/modules/settings.js
  src/renderer/store/modules/subscriptions.js
Due: eslint

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

! Fix method used in community tab component
  src/renderer/components/subscriptions-community/subscriptions-community.js
Due: eslint

! Fix community post vote count displayed differently in other windows/app restart
  src/renderer/helpers/api/local.js
Due: eslint

* Implement persistence for `updateSubscriptionShortsCacheWithChannelPageShorts`
  src/constants.js
  src/datastores/handlers/base.js
  src/datastores/handlers/electron.js
  src/datastores/handlers/web.js
  src/main/index.js
  src/renderer/store/modules/settings.js
  src/renderer/store/modules/subscriptions.js
Due: eslint

Switch from unmaintained npm-run-all to npm-run-all2 (#5184)
  package.json
  yarn.lock
Due: none

Update shaka-player to version 4.8.8
  package.json
  yarn.lock
Due: none

Store comment reply tokens separately to avoid reactivity
  src/renderer/components/watch-video-comments/watch-video-comments.js
  src/renderer/components/watch-video-comments/watch-video-comments.vue
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/api/local.js
Due: eslint

Translated using Weblate (Dutch)
  static/locales/nl.yaml
Due: none

Set a max length for many inputs (#5156)
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.vue
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/ft-input/ft-input.vue
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.vue
  src/renderer/components/ft-profile-edit/ft-profile-edit.vue
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/components/proxy-settings/proxy-settings.vue
  src/renderer/views/Channel/Channel.vue
  src/renderer/views/SubscribedChannels/SubscribedChannels.vue
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Due: eslint

Display Subtitles/CC and 4k tag - #917 (#5119)
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.scss
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/helpers/api/local.js
  static/locales/en-US.yaml
Due: eslint, stylelint

Fix issue where first video is skipped when current video after removal is zeroth & loop is enabled
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
Due: eslint

$ Remove duplicate line in a method setting a property to the same value
  src/renderer/components/playlist-info/playlist-info.js
Due: eslint

Change Playlist.js logic to cache user playlists, and pass the sorted user playlist
  src/renderer/views/Playlist/Playlist.js
Due: eslint

* Update playlist page to add remove duplicate videos button for user playlists
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/main.js
  static/locales/en-US.yaml
Due: eslint

* Move toggles to the left
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.css
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.vue
Due: eslint, stylelint

Update settings menu link sizing to be dynamic to better accommodate mobile/tablet devices
  src/renderer/components/ft-settings-menu/ft-settings-menu.css
Due: stylelint

Translated using Weblate (Chinese (Traditional))
  static/locales/zh-TW.yaml
Due: none

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Translated using Weblate (Croatian)
  static/locales/hr.yaml
Due: none

Store comment reply tokens separately to avoid reactivity (#5190)
  src/renderer/components/watch-video-comments/watch-video-comments.js
  src/renderer/components/watch-video-comments/watch-video-comments.vue
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/api/local.js
Due: eslint

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Handle first video in playlist being removed
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
Due: eslint

Focus active menu on mobile close
  src/renderer/views/Settings/Settings.js
  src/renderer/views/Settings/Settings.vue
Due: eslint

fix comment replies
  src/renderer/components/watch-video-comments/watch-video-comments.js
  src/renderer/helpers/api/piped.js
Due: eslint
