Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Update index.js
  src/main/index.js
Due: eslint

Update ebuilder.config.js
  _scripts/ebuilder.config.js
Due: eslint

Update index.js, use more specific app.setUserTasks() API
  src/main/index.js
Due: eslint

move mac dock inside the existing event handler for the ready event instead of adding anew
  src/main/index.js
Due: eslint

Translated using Weblate (Norwegian Bokmål)
  static/locales/nb-NO.yaml
Due: none

^ Update youtubei.js to latest
  package.json
  yarn.lock
Due: none

Bump package version from 0.23.3 to 0.23.4
  package.json
Due: none

Fix user-agent and referer for Innertube requests (#7213)
  src/main/index.js
  src/renderer/helpers/api/local.js
Due: eslint

[Dev] Bump package version from 0.23.3 to 0.23.4
  package.json
Due: none

Translated using Weblate (Bulgarian)
  static/locales/bg.yaml
Due: none

Disable extra request for config fetching
  src/renderer/helpers/api/local.js
Due: eslint

Update youtubei.js to latest (#7252)
  package.json
  src/renderer/helpers/api/local.js
  yarn.lock
Due: eslint

[Dev] Bump package version from 0.23.3 to 0.23.4 (#7255)
  package.json
Due: none

use default sort by for community comments
  src/renderer/components/CommentSection/CommentSection.vue
  src/renderer/helpers/api/local.js
Due: eslint

Translated using Weblate (Greek)
  static/locales/el.yaml
Due: none

Migrate the FtButton component to the composition API
  src/renderer/App.js
  src/renderer/components/DataSettings.vue
  src/renderer/components/FtButton/FtButton.css
  src/renderer/components/FtButton/FtButton.vue
  src/renderer/components/FtProfileChannelList/FtProfileChannelList.vue
  src/renderer/components/FtProfileEdit/FtProfileEdit.vue
  src/renderer/components/FtProfileFilterChannelsList/FtProfileFilterChannelsList.vue
  src/renderer/components/FtPrompt/FtPrompt.vue
  src/renderer/components/FtSearchFilters/FtSearchFilters.vue
  src/renderer/components/FtShareButton/FtShareButton.vue
  src/renderer/components/FtSubscribeButton/FtSubscribeButton.vue
  src/renderer/components/PasswordSettings/PasswordSettings.vue
  src/renderer/components/ProxySettings/ProxySettings.vue
  src/renderer/components/SubscriptionsTabUi/SubscriptionsTabUi.vue
  src/renderer/components/download-settings/download-settings.js
  src/renderer/components/ft-button/ft-button.js
  src/renderer/components/ft-button/ft-button.vue
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.js
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.js
  src/renderer/components/general-settings/general-settings.js
  src/renderer/components/player-settings/player-settings.js
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/privacy-settings/privacy-settings.js
  src/renderer/components/watch-video-live-chat/watch-video-live-chat.js
  src/renderer/views/History/History.js
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/ProfileSettings/ProfileSettings.vue
  src/renderer/views/Settings/Settings.js
  src/renderer/views/UserPlaylists/UserPlaylists.js
Due: eslint, stylelint

Migrate ExternalPlayerSettings and SponsorBlockSettings to the composition API
  src/renderer/components/ExternalPlayerSettings.vue
  src/renderer/components/SponsorBlockSettings.vue
  src/renderer/components/external-player-settings/external-player-settings.js
  src/renderer/components/external-player-settings/external-player-settings.vue
  src/renderer/components/sponsor-block-settings/sponsor-block-settings.js
  src/renderer/components/sponsor-block-settings/sponsor-block-settings.vue
  src/renderer/views/Settings/Settings.js
Due: eslint

Cleanup event listener pass-through inline handlers
  src/renderer/components/FtShareButton/FtShareButton.vue
  src/renderer/components/watch-video-info/watch-video-info.vue
  src/renderer/components/watch-video-live-chat/watch-video-live-chat.vue
  src/renderer/views/History/History.vue
  src/renderer/views/SubscribedChannels/SubscribedChannels.vue
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Due: eslint

Translated using Weblate (Hebrew)
  static/locales/he.yaml
Due: none

add indents
  CODE_OF_CONDUCT.md
Due: none

add back comment
  src/renderer/components/DataSettings.vue
Due: eslint

Feature/add Windows/MacOS Taskbar dock/jumplist task 'New Window' (#7049)
  src/main/index.js
Due: eslint

Cleanup event listener pass-through inline handlers (#7268)
  src/renderer/components/FtShareButton/FtShareButton.vue
  src/renderer/components/watch-video-info/watch-video-info.vue
  src/renderer/components/watch-video-live-chat/watch-video-live-chat.vue
  src/renderer/views/History/History.vue
  src/renderer/views/SubscribedChannels/SubscribedChannels.vue
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Due: eslint

Migrate the FtButton component to the composition API (#7266)
  src/renderer/App.js
  src/renderer/components/DataSettings.vue
  src/renderer/components/FtButton/FtButton.css
  src/renderer/components/FtButton/FtButton.vue
  src/renderer/components/FtProfileChannelList/FtProfileChannelList.vue
  src/renderer/components/FtProfileEdit/FtProfileEdit.vue
  src/renderer/components/FtProfileFilterChannelsList/FtProfileFilterChannelsList.vue
  src/renderer/components/FtPrompt/FtPrompt.vue
  src/renderer/components/FtSearchFilters/FtSearchFilters.vue
  src/renderer/components/FtShareButton/FtShareButton.vue
  src/renderer/components/FtSubscribeButton/FtSubscribeButton.vue
  src/renderer/components/PasswordSettings/PasswordSettings.vue
  src/renderer/components/ProxySettings/ProxySettings.vue
  src/renderer/components/SubscriptionsTabUi/SubscriptionsTabUi.vue
  src/renderer/components/download-settings/download-settings.js
  src/renderer/components/ft-button/ft-button.js
  src/renderer/components/ft-button/ft-button.vue
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.js
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.js
  src/renderer/components/general-settings/general-settings.js
  src/renderer/components/player-settings/player-settings.js
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/privacy-settings/privacy-settings.js
  src/renderer/components/watch-video-live-chat/watch-video-live-chat.js
  src/renderer/views/History/History.js
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/ProfileSettings/ProfileSettings.vue
  src/renderer/views/Settings/Settings.js
  src/renderer/views/UserPlaylists/UserPlaylists.js
Due: eslint, stylelint

Migrate ExternalPlayerSettings and SponsorBlockSettings to the composition API (#7267)
  src/renderer/components/ExternalPlayerSettings.vue
  src/renderer/components/SponsorBlockSettings.vue
  src/renderer/components/external-player-settings/external-player-settings.js
  src/renderer/components/external-player-settings/external-player-settings.vue
  src/renderer/components/sponsor-block-settings/sponsor-block-settings.js
  src/renderer/components/sponsor-block-settings/sponsor-block-settings.vue
  src/renderer/views/Settings/Settings.js
Due: eslint

Change author name (#7216)
  package.json
Due: none

Ensure there is at most one power save blocker per open window (#7247)
  src/main/index.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

! Fix incorrect code, use #reduce instead
  src/renderer/views/Channel/Channel.vue
  src/renderer/views/Hashtag/Hashtag.vue
Due: eslint

* Remove unnecessary changes
  src/renderer/helpers/api/local.js
  src/renderer/helpers/subscriptions.js
  src/renderer/views/Channel/Channel.vue
  src/renderer/views/Hashtag/Hashtag.vue
  src/renderer/views/Watch/Watch.js
Due: eslint

Update history page layout and styles
  src/renderer/views/History/History.css
  src/renderer/views/History/History.js
  src/renderer/views/History/History.vue
Due: eslint, stylelint

update wording
  CODE_OF_CONDUCT.md
Due: none

Update settings files (js, vue, css)
  src/renderer/views/Settings/Settings.css
  src/renderer/views/Settings/Settings.js
  src/renderer/views/Settings/Settings.vue
Due: eslint, stylelint

Refactor Settings page into multiple categories
  src/renderer/views/Settings/Settings.css
  src/renderer/views/Settings/Settings.js
  src/renderer/views/Settings/Settings.vue
Due: eslint, stylelint
