Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Use a better name for the timeout parameter
  src/renderer/helpers/utils.js
Due: eslint

Fix docs
  src/renderer/helpers/utils.js
Due: eslint

Add a 15 second timeout for fetching the Invidious instances at startup (#4233)
  src/renderer/helpers/utils.js
  src/renderer/store/modules/invidious.js
  static/invidious-instances.json
Due: eslint

! Fix reverse condition
  src/renderer/components/watch-video-info/watch-video-info.js
Due: eslint

$ Just use ?.
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.js
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.js
  src/renderer/components/ft-prompt/ft-prompt.js
Due: eslint

Implement dropdown element and styling
  src/renderer/components/ft-profile-selector/ft-profile-selector.js
  src/renderer/components/ft-profile-selector/ft-profile-selector.vue
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.css
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.js
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.vue
Due: eslint, stylelint

Implements remaining styling and logic
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.css
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.js
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.scss
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.vue
  src/renderer/views/Channel/Channel.css
Due: eslint, stylelint

adding new branch for integrated autoplay
  src/renderer/components/ft-video-player/ft-video-player.js
Due: eslint

autoplaybutton added in ft-video-player.js. 'spinner' icon is used as placeholder
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/videoJS.css
Due: eslint, stylelint

Correct use of aria-selected in FT
  src/renderer/components/ft-icon-button/ft-icon-button.vue
  src/renderer/components/ft-profile-selector/ft-profile-selector.vue
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.scss
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.vue
Due: eslint, stylelint

new
  jsconfig.json
Due: none

Refactor into a for-loop
  src/renderer/helpers/api/local.js
Due: eslint

homewoooork
  jsconfig.json
Due: none

Update en-US.yaml
  static/locales/en-US.yaml
Due: none

add i18n-eslint-plugin
  .eslintrc.js
  package.json
  src/renderer/components/data-settings/data-settings.js
  src/renderer/components/ft-list-channel/ft-list-channel.vue
  src/renderer/components/ft-list-hashtag/ft-list-hashtag.vue
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/ft-share-button/ft-share-button.vue
  src/renderer/components/ft-slider/ft-slider.vue
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/components/proxy-settings/proxy-settings.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/watch-video-chapters/watch-video-chapters.vue
  src/renderer/components/watch-video-comments/watch-video-comments.js
  src/renderer/components/watch-video-comments/watch-video-comments.vue
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
  src/renderer/store/modules/utils.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Hashtag/Hashtag.js
  src/renderer/views/Search/Search.js
  src/renderer/views/Trending/Trending.js
  src/renderer/views/Watch/Watch.js
  static/locales/en-US.yaml
  static/locales/fr-FR.yaml
  yarn.lock
Due: eslint

Resolve subscribe button staying upon bug
  src/renderer/views/SubscribedChannels/SubscribedChannels.vue
Due: eslint

Code review changes
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.js
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.css
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.js
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.vue
  src/renderer/components/ft-playlist-selector/ft-playlist-selector.js
  src/renderer/components/ft-share-button/ft-share-button.js
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Watch/Watch.js
Due: eslint, stylelint

Spaces
  src/renderer/components/ft-playlist-selector/ft-playlist-selector.scss
Due: stylelint

beforeDestroy
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.js
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.js
  src/renderer/components/ft-prompt/ft-prompt.js
Due: eslint

Remove unused methods
  src/renderer/components/watch-video-info/watch-video-info.js
Due: eslint

Remove infoData
  src/renderer/views/Playlist/Playlist.js
Due: eslint

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

replace secondaryName with preferredName for tags
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/distraction-settings/distraction-settings.vue
  src/renderer/components/ft-input-tags/ft-input-tags.js
  src/renderer/components/ft-input-tags/ft-input-tags.vue
  src/renderer/components/ft-list-lazy-wrapper/ft-list-lazy-wrapper.js
  src/renderer/components/ft-list-video-lazy/ft-list-video-lazy.js
Due: eslint

unify hidden channel name/icon retrieval function
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/distraction-settings/distraction-settings.vue
  src/renderer/components/ft-input-tags/ft-input-tags.js
  src/renderer/helpers/channels.js
Due: eslint

remove tooltip from ft-input-tags
  src/renderer/components/ft-input-tags/ft-input-tags.js
Due: eslint

auto update hidden channel if ID was used
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/distraction-settings/distraction-settings.vue
  src/renderer/components/ft-input-tags/ft-input-tags.css
  src/renderer/components/ft-input-tags/ft-input-tags.js
  src/renderer/components/ft-input-tags/ft-input-tags.vue
  src/renderer/helpers/channels.js
Due: eslint, stylelint

remove hiding channel by name
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/distraction-settings/distraction-settings.vue
  src/renderer/components/ft-input-tags/ft-input-tags.css
  src/renderer/components/ft-input-tags/ft-input-tags.js
  static/locales/en-US.yaml
Due: eslint, stylelint

i18n channels hidden disabled message
  src/renderer/components/distraction-settings/distraction-settings.vue
  src/renderer/components/ft-input-tags/ft-input-tags.js
  src/renderer/components/ft-input-tags/ft-input-tags.vue
  static/locales/en-US.yaml
Due: eslint

run auto hidden channel id update once
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/helpers/channels.js
Due: eslint

Translated using Weblate (Swedish)
  static/locales/sv.yaml
Due: none

Move hideOutlines to the utils store instead of using provide/inject
  src/constants.js
  src/renderer/App.js
  src/renderer/App.vue
  src/renderer/components/ft-prompt/ft-prompt.js
  src/renderer/store/modules/utils.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Subscriptions/Subscriptions.js
  src/renderer/views/Trending/Trending.js
Due: eslint

look for raw text in attributes
  .eslintrc.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/ft-share-button/ft-share-button.vue
  static/locales/en-US.yaml
Due: eslint

Remove unneeded vendor-specific transition prefixes
  src/renderer/components/ft-channel-bubble/ft-channel-bubble.css
  src/renderer/components/ft-input/ft-input.css
  src/renderer/components/ft-profile-bubble/ft-profile-bubble.css
  src/renderer/components/ft-profile-selector/ft-profile-selector.css
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.js
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.scss
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.vue
  src/renderer/components/side-nav-more-options/side-nav-more-options.css
  src/renderer/components/side-nav/side-nav.css
Due: eslint, stylelint

Move settings expansion toggle on top (& shorten label)
  src/renderer/components/ft-settings-section/ft-settings-section.js
  src/renderer/components/ft-settings-section/ft-settings-section.vue
  src/renderer/components/theme-settings/theme-settings.js
  src/renderer/components/theme-settings/theme-settings.vue
  src/renderer/views/Settings/Settings.css
  src/renderer/views/Settings/Settings.js
  src/renderer/views/Settings/Settings.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

Hide by channelId rather than name
  src/renderer/components/ft-list-video/ft-list-video.js
Due: eslint

Translated using Weblate (Korean)
  static/locales/ko.yaml
Due: none

Translated using Weblate (Dutch)
  static/locales/nl.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none
