Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Update to use listType setting for user playlist display type
  src/renderer/components/general-settings/general-settings.js
  src/renderer/components/general-settings/general-settings.vue
  src/renderer/store/modules/settings.js
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Playlist/Playlist.vue
Due: eslint

Send sorted user playlist to watch-video-playlist
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/helpers/playlists.js
  src/renderer/views/Playlist/Playlist.js
Due: eslint

Translated using Weblate (Basque)
  static/locales/eu.yaml
Due: none

Add accidental popup setting
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.js
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.vue
  src/renderer/components/subscription-settings/subscription-settings.js
  src/renderer/components/subscription-settings/subscription-settings.vue
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint

Remove extra parameter from handleSubscription function
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.js
Due: eslint

Go directly to full screen from PIP
  src/renderer/components/ft-video-player/ft-video-player.js
Due: eslint

Directly switch from PIP to full screen mode
  src/renderer/components/ft-video-player/ft-video-player.js
Due: eslint

Resolve styling discrepancies introduced with ft-list-channel and ft-tooltip
  src/renderer/components/ft-list-channel/ft-list-channel.scss
  src/renderer/components/ft-select/ft-select.css
  src/renderer/components/ft-tooltip/ft-tooltip.css
Due: stylelint

Add aria-pressed attribute to playlist icon button
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
Due: eslint

Improve accessibility by adjusting stroke thickness of playlist icon
  src/renderer/components/watch-video-playlist/watch-video-playlist.css
Due: stylelint

Fix to keep the inactive hover state the same
  src/renderer/components/watch-video-playlist/watch-video-playlist.css
Due: stylelint

Translated using Weblate (Esperanto)
  static/locales/eo.yaml
Due: none

Update playlist icon active hover style
  src/renderer/components/watch-video-playlist/watch-video-playlist.css
Due: stylelint

Translated using Weblate (Croatian)
  static/locales/hr.yaml
Due: none

Fix user playlist reversal failing after user playlist information is updated
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
Due: eslint

Update playlist icon active hover color to --accent-color-hover
  src/renderer/components/watch-video-playlist/watch-video-playlist.css
Due: stylelint

Fix imports of the "electron" module that are missing an Electron guard (#4935)
  _scripts/webpack.web.config.js
  src/renderer/components/download-settings/download-settings.js
  src/renderer/components/proxy-settings/proxy-settings.js
  src/renderer/components/theme-settings/theme-settings.js
  src/renderer/store/modules/settings.js
  src/renderer/store/modules/utils.js
Due: eslint

Local API: Fix extracting the published date and view count in playlists (#4936)
  src/renderer/helpers/api/local.js
Due: eslint

Fix/ Improve accessibility of playlist icon buttons (#4943)
  src/renderer/components/watch-video-playlist/watch-video-playlist.css
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
Due: eslint, stylelint

Relocate share button to other label-less icons
  src/renderer/components/ft-icon-button/ft-icon-button.vue
  src/renderer/components/watch-video-info/watch-video-info.vue
Due: eslint

Implement styling improvements
  src/renderer/components/ft-icon-button/ft-icon-button.scss
  src/renderer/components/playlist-info/playlist-info.scss
  src/renderer/components/watch-video-info/watch-video-info.scss
  src/renderer/components/watch-video-info/watch-video-info.vue
Due: eslint, stylelint

Rectify Case 3 (see https://github.com/FreeTubeApp/FreeTube/pull/3668)
  src/renderer/components/subscriptions-community/subscriptions-community.js
  src/renderer/components/subscriptions-live/subscriptions-live.js
  src/renderer/components/subscriptions-shorts/subscriptions-shorts.js
  src/renderer/components/subscriptions-videos/subscriptions-videos.js
Due: eslint

Fix styling issue
  src/renderer/components/playlist-info/playlist-info.scss
Due: stylelint

Show error message when search is over 100 characters
  src/renderer/helpers/api/local.js
  src/renderer/store/modules/settings.js
  src/renderer/views/Search/Search.js
  static/locales/en-US.yaml
Due: eslint

Resolve unsubscription problem in case of mutiple profiles
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.js
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.vue
Due: eslint

Add back missing line in Popular.js
  src/renderer/views/Popular/Popular.js
Due: eslint

* Update tooltip text
  static/locales/en-US.yaml
Due: none

Address review comments
  src/renderer/helpers/api/local.js
  src/renderer/views/Search/Search.js
Due: eslint

Fix type check failed for prop `searchQueryText`
  src/renderer/views/Playlist/Playlist.js
Due: eslint

Fix type check failed for prop `searchQueryText` (#4962)
  src/renderer/views/Playlist/Playlist.js
Due: eslint

Fix user playlist reversal failing after user playlist information is updated (#4947)
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
Due: eslint

Improve video playlist search UX (#4929)
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/playlist-info/playlist-info.scss
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/components/subscriptions-tab-ui/subscriptions-tab-ui.js
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Playlist/Playlist.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

Translated using Weblate (Japanese)
  static/locales/ja.yaml
Due: none

Translated using Weblate (Romanian)
  static/locales/ro.yaml
Due: none

Bundle datastores as ES modules instead of commonjs
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
  jsconfig.json
  src/datastores/handlers/base.js
  src/datastores/handlers/electron.js
  src/datastores/handlers/index.js
  src/datastores/handlers/web.js
  src/datastores/index.js
  src/main/index.js
Due: eslint

add index to videoId for playlist video list
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
Due: eslint

fix bug in translating window titles
  src/renderer/helpers/strings.js
Due: eslint
