Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Add missing Invidious / YT logo theme overrides
  src/renderer/themes.css
Due: stylelint

About page: Add hyperlink to licence name
  src/renderer/views/About/About.js
Due: eslint

Fix lint
  src/renderer/views/About/About.js
Due: eslint

Fix localization
  static/locales/en-US.yaml
Due: none

Fix legacy formats exception
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Translated using Weblate (Portuguese)
  static/locales/pt.yaml
Due: none

+ yarn add @fortawesome/free-regular-svg-icons
  package.json
  yarn.lock
Due: none

! Fix inconsistent code
  src/renderer/components/ft-list-lazy-wrapper/ft-list-lazy-wrapper.vue
Due: eslint

* Update quick bookmark button icons
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/main.js
Due: eslint

* Make disabling quick bookmark feature requires a confirmation
  src/renderer/components/playlist-info/playlist-info.js
  static/locales/en-US.yaml
Due: eslint

* Disable deleting playlist used for quick bookmark
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/playlist-info/playlist-info.vue
  static/locales/en-US.yaml
Due: eslint

* Allow user to attempt quick bookmark without target set
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  static/locales/en-US.yaml
Due: eslint

* Update user playlists view to show quick bookmark button + state
  src/renderer/components/ft-list-playlist/ft-list-playlist.js
  src/renderer/components/ft-list-playlist/ft-list-playlist.vue
Due: eslint

fix: 🐛 improve color contrast/readability
  src/renderer/themes.css
Due: stylelint

fix: :bug: improve color contrast/readability for main colors
  src/renderer/themes.css
Due: stylelint

refactor: :recycle: group primary and secondary theme colors by light/dark
  src/renderer/themes.css
Due: stylelint

fix: :bug: remove difference between main/sec grouping
  src/renderer/themes.css
Due: stylelint

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

fix: :bug: add missing mainSolarizedYellow styling
  src/renderer/themes.css
Due: stylelint

+ Add pick quick bookmark target prompt and use it on quick bookmark button
  src/renderer/App.js
  src/renderer/App.vue
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-playlist-select-quick-bookmark-target-prompt/ft-playlist-select-quick-bookmark-target-prompt.css
  src/renderer/components/ft-playlist-select-quick-bookmark-target-prompt/ft-playlist-select-quick-bookmark-target-prompt.js
  src/renderer/components/ft-playlist-select-quick-bookmark-target-prompt/ft-playlist-select-quick-bookmark-target-prompt.vue
  src/renderer/store/modules/utils.js
  static/locales/en-US.yaml
Due: eslint, stylelint

* Prompt user to select a new target when quick bookmark playlist target deleted
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/playlist-info/playlist-info.vue
Due: eslint

! Fix icon title missing
  src/renderer/components/ft-list-video/ft-list-video.js
Due: eslint

$ Refactor 2 prompts to use shared component code
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.js
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.vue
  src/renderer/components/ft-playlist-select-quick-bookmark-target-prompt/ft-playlist-select-quick-bookmark-target-prompt.css
  src/renderer/components/ft-playlist-select-quick-bookmark-target-prompt/ft-playlist-select-quick-bookmark-target-prompt.js
  src/renderer/components/ft-playlist-select-quick-bookmark-target-prompt/ft-playlist-select-quick-bookmark-target-prompt.vue
  src/renderer/components/ft-playlist-selection-prompt/ft-playlist-selection-prompt.css
  src/renderer/components/ft-playlist-selection-prompt/ft-playlist-selection-prompt.js
  src/renderer/components/ft-playlist-selection-prompt/ft-playlist-selection-prompt.vue
Due: eslint, stylelint

Add Solarized dark and Solarized light color scheme (#5066)
  _icons/iconSolarizedDarkSmall.svg
  _icons/iconSolarizedLightSmall.svg
  _icons/textSolarizedDarkSmall.svg
  _icons/textSolarizedLightSmall.svg
  src/main/index.js
  src/renderer/components/ft-share-button/ft-share-button.scss
  src/renderer/components/theme-settings/theme-settings.js
  src/renderer/helpers/colors.js
  src/renderer/themes.css
  static/locales/en-US.yaml
Due: eslint, stylelint

About page: Add hyperlink to license name (#5081)
  src/renderer/views/About/About.js
  static/locales/en-US.yaml
Due: eslint

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Update shaka-player to version 4.8.3
  package.json
  yarn.lock
Due: none

Sort default quality values the same as in the player
  src/renderer/components/player-settings/player-settings.js
Due: eslint

Move observe-visibility directive registration to main.js
  src/renderer/App.js
  src/renderer/main.js
Due: eslint

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Clean up unused "search" ref in the Channel and Search components
  src/renderer/views/Channel/Channel.vue
  src/renderer/views/Search/Search.vue
Due: eslint

Clean up unused "search" ref in the Channel and Search components (#5089)
  src/renderer/views/Channel/Channel.vue
  src/renderer/views/Search/Search.vue
Due: eslint

Update translation text
  static/locales/en-US.yaml
Due: none

Move observe-visibility directive registration to main.js (#5088)
  src/renderer/App.js
  src/renderer/main.js
Due: eslint

Translated using Weblate (Chinese (Simplified))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Chinese (Traditional))
  static/locales/zh-TW.yaml
Due: none
