Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Use Shaka chapter tracks for seek preview
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint, stylelint

Keep chapter markers crisp with Shaka chapters
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint, stylelint

Improve chapter error handling and live stream guard
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Translated using Weblate (Swedish)
  static/locales/sv.yaml
Due: none

Rename screenshot mode enum names
  src/renderer/components/PlayerSettings/PlayerSettings.vue
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/store/modules/settings.js
Due: eslint

Remove unused var in loca text
  static/locales/en-US.yaml
Due: none

Improve copyToClipboard error message with blobs
  src/renderer/helpers/utils.js
Due: eslint

Remove punctuation for single sentence
  static/locales/en-US.yaml
Due: none

Add migration script
  src/datastores/handlers/base.js
Due: eslint

Remove unused import
  src/datastores/handlers/base.js
Due: eslint

Fix wrong remove key in migration script
  src/datastores/handlers/base.js
Due: eslint

Set Innertube session lang to be the current locale to have titles and description in the current locale
  src/renderer/helpers/api/local.js
Due: eslint

Translated using Weblate (Bosnian)
  static/locales/bs.yaml
Due: none

fix(watch): clear stale video data on route change
  src/renderer/views/Watch/Watch.js
Due: eslint

Translated using Weblate (Greek)
  static/locales/el.yaml
Due: none

Fix mime-db trimming after switching to pnpm
  _scripts/image-extensions-only-mime-db.json
  _scripts/mime-db-shrinking-loader.js
  _scripts/webpack.main.config.js
Due: eslint

Fix imagecache URL scheme
  src/main/index.js
Due: eslint

Apply code style format request
  src/datastores/handlers/base.js
Due: eslint

Move 'filename' and 'filenameWithExtension' inside non-clipboard screenshot mode conditional branch
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Only create one blob now that only one screenshot mode can be selected
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

! Fix lint error
  _scripts/getRegions.mjs
Due: none

* Update workflows to remove no longer necessary `ELECTRON_SKIP_BINARY_DOWNLOAD`
  .github/workflows/build.yml
  .github/workflows/linter.yml
  .github/workflows/release.yml
Due: none

* Update pnpm setting to remove electron from allowBuilds
  pnpm-workspace.yaml
Due: none

Move the screenshot mode dropdown right below the Enable Screenshot toggle
  src/renderer/components/PlayerSettings/PlayerSettings.vue
Due: eslint

Hide screenshot save options when clipboard mode is selected
  src/renderer/components/PlayerSettings/PlayerSettings.vue
Due: eslint

clean-up code
  src/renderer/components/PlayerSettings/PlayerSettings.vue
Due: eslint

clean-up code
  src/datastores/handlers/base.js
  src/renderer/components/PlayerSettings/PlayerSettings.vue
Due: eslint

blur active element on shortcut to prevent 'focus-visible' property from staying true
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Add subtitle style controls
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Fix caption position JSDoc type
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Use querySelector instead of blurring whole body
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Fix tooltips staying visible if another shortcut is used while hovering a button
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Fix unwanted change
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint
