Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

use nextTick to show overlay controls
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Fix window title
  src/renderer/views/Playlist/Playlist.vue
Due: eslint

Clean up upstreamed big play button opacity
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
Due: stylelint

Move loop to overflow (#8049)
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Translated using Weblate (Portuguese)
  static/locales/pt.yaml
Due: none

Migrate the Playlist view to the composition API (#8029)
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/api/local.js
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Playlist/Playlist.vue
Due: eslint

! Fix access from nullable object
  src/renderer/views/Watch/Watch.js
Due: eslint

* Remove code for debug only
  src/renderer/helpers/player/SabrSchemePlugin.js
Due: eslint

Translated using Weblate (Indonesian)
  static/locales/id.yaml
Due: none

added mediabunny dependency
  package.json
  yarn.lock
Due: none

added Downloads entry
  src/renderer/components/SideNav/SideNav.vue
Due: eslint

added handling of multiple selection in dropdown
  src/renderer/components/ft-icon-button/ft-icon-button.js
Due: eslint

added optional checkbox for multiple selection
  src/renderer/components/ft-icon-button/ft-icon-button.vue
Due: eslint

added handling of multi-item downloading
  src/renderer/components/watch-video-info/watch-video-info.js
Due: eslint

added link to downloads component
  src/renderer/router/index.js
Due: eslint

added link to downloads module
  src/renderer/store/index.js
Due: eslint

added multi-item download selection
  src/renderer/views/Watch/Watch.js
Due: eslint

added chapters field
  src/renderer/views/Watch/Watch.vue
Due: eslint

added localization labels for Downloads
  static/locales/en-US.yaml
Due: none

Support exporting single playlists as a list of video URLs
  src/renderer/components/PlaylistInfo/PlaylistInfo.vue
  src/renderer/views/Playlist/Playlist.vue
  static/locales/en-US.yaml
Due: eslint

remove file if download is failed or aborted
  src/renderer/store/modules/downloads-worker.js
  src/renderer/store/modules/downloads.js
  src/renderer/views/Downloads/Downloads.css
  src/renderer/views/Downloads/Downloads.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

remove duplicate value
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

use new icon format
  src/constants.js
  src/renderer/components/ft-shaka-video-player/player-components/SkipSilenceButton.js
Due: eslint

Change player icons
  src/constants.js
Due: eslint

Support exporting single playlists as a list of video URLs (#8054)
  src/renderer/components/PlaylistInfo/PlaylistInfo.vue
  src/renderer/views/Playlist/Playlist.vue
  static/locales/en-US.yaml
Due: eslint

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Breton)
  static/locales/br.yaml
Due: none

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Translated using Weblate (Dutch)
  static/locales/nl.yaml
Due: none

Create named function for eventListeners
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Feat: Display player overlay controls on keyboard interaction (#7757)
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Improve playlist import performance
  src/renderer/components/DataSettings.vue
  src/renderer/helpers/playlists.js
  src/renderer/store/modules/playlists.js
Due: eslint

Skip Electron binary download in CI as we do not run it
  .github/workflows/build.yml
  .github/workflows/linter.yml
  .github/workflows/release.yml
Due: none

Migrate the History view to the composition API
  src/renderer/views/History/History.js
  src/renderer/views/History/History.vue
Due: eslint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
