Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Translated using Weblate (Azerbaijani)
  static/locales/az.yaml
Due: none

Fix distraction settings and subscribe button CSS not being scoped
  src/renderer/components/distraction-settings/distraction-settings.vue
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.vue
Due: eslint

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none

Move the channel details into their own component (#5455)
  src/renderer/components/ChannelDetails/ChannelDetails.css
  src/renderer/components/ChannelDetails/ChannelDetails.vue
  src/renderer/views/Channel/Channel.css
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Channel/Channel.vue
Due: eslint, stylelint

FreeTube update Main Change: Support for youtube playlist imports in cvs
  src/renderer/components/data-settings/data-settings.js
  src/renderer/helpers/api/preference.js
  src/renderer/helpers/utils.js
  src/renderer/store/modules/playlists.js
  static/locales/en-US.yaml
Due: eslint

Fix duplicate qualities with the Invidious API
  src/renderer/helpers/api/invidious.js
Due: eslint

Use vp9 streams if the Invidious instance is running a new enough version
  src/renderer/helpers/api/invidious.js
  src/renderer/views/Watch/Watch.js
Due: eslint

Fix distraction settings and subscribe button CSS not being scoped (#5486)
  src/renderer/components/distraction-settings/distraction-settings.vue
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.vue
Due: eslint

Translated using Weblate (Croatian)
  static/locales/hr.yaml
Due: none

Translated using Weblate (Russian)
  static/locales/ru.yaml
Due: none

^ Update youtubei.js
  package.json
  yarn.lock
Due: none

Use streams from the iOS client to workaround playback issues (#5472)
  src/main/index.js
  src/renderer/helpers/api/local.js
  src/renderer/helpers/colors.js
  src/renderer/helpers/utils.js
  src/renderer/views/Watch/Watch.js
Due: eslint

^ Update youtubei.js (#5507)
  package.json
  yarn.lock
Due: none

(Master) Update YouTube.js 10.3.0 & Use streams from the iOS client to workaround playback issues (#5508)
  package.json
  src/main/index.js
  src/renderer/helpers/api/local.js
  src/renderer/helpers/colors.js
  src/renderer/helpers/utils.js
  src/renderer/views/Watch/Watch.js
  yarn.lock
Due: eslint

Bump version number to v0.21.3
  package.json
Due: none

Small cleanup after the YouTube.js update
  src/main/index.js
  src/renderer/helpers/api/local.js
Due: eslint

When an error occurs with the thumbnails just log it
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Include the video ID in the error logs
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/helpers/player/utils.js
Due: eslint

Various performance improvements to the store
  src/renderer/store/modules/profiles.js
  src/renderer/store/modules/settings.js
  src/renderer/store/modules/utils.js
Due: eslint

Translated using Weblate (Finnish)
  static/locales/fi.yaml
Due: none

Small cleanup after the YouTube.js update (#5520)
  src/main/index.js
  src/renderer/helpers/api/local.js
Due: eslint

Various performance improvements to the store (#5522)
  src/renderer/store/modules/profiles.js
  src/renderer/store/modules/settings.js
  src/renderer/store/modules/utils.js
Due: eslint

* Replace deprecated babel package @babel/plugin-proposal-class-properties w/ @babel/plugin-transform-class-properties
  .babelrc
  package.json
  yarn.lock
Due: none

* Replace deprecated babel package @babel/plugin-proposal-class-properties w/ @babel/plugin-transform-class-properties (#5535)
  .babelrc
  package.json
  yarn.lock
Due: none

Add support for copying hashtag links
  src/main/index.js
Due: eslint

* Update top nav to move query text to new window instead of remaining in old window
  src/renderer/components/top-nav/top-nav.js
Due: eslint

Translated using Weblate (Japanese)
  static/locales/ja.yaml
Due: none

Update top-nav.scss
  src/renderer/components/top-nav/top-nav.scss
Due: stylelint

Properly handle Arabic hashtags
  src/renderer/views/Hashtag/Hashtag.js
Due: eslint

Migrate FtAutoGrid to the composition API
  src/renderer/components/FtAutoGrid/FtAutoGrid.css
  src/renderer/components/FtAutoGrid/FtAutoGrid.vue
  src/renderer/components/ft-auto-grid/ft-auto-grid.js
  src/renderer/components/ft-auto-grid/ft-auto-grid.vue
  src/renderer/components/ft-element-list/ft-element-list.js
Due: eslint, stylelint

Migrate FtListLazyWrapper to the composition API
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.css
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
  src/renderer/components/ft-element-list/ft-element-list.js
  src/renderer/components/ft-list-lazy-wrapper/ft-list-lazy-wrapper.js
  src/renderer/components/ft-list-lazy-wrapper/ft-list-lazy-wrapper.vue
Due: eslint, stylelint
