Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Migrate Trending to the composition API
  src/renderer/helpers/api/local.js
  src/renderer/views/Trending/Trending.js
  src/renderer/views/Trending/Trending.vue
Due: eslint

Pass arguments to data stores normally to avoid extra objects
  src/datastores/handlers/base.js
  src/datastores/handlers/electron.js
  src/datastores/handlers/web.js
  src/main/index.js
  src/renderer/store/modules/playlists.js
  src/renderer/store/modules/subscription-cache.js
Due: eslint

improve jsdoc comments for invidious calls (#6339)
  src/renderer/components/SideNav/SideNav.vue
  src/renderer/helpers/api/invidious.js
Due: eslint

Add code comment clarifying where parallel change to shortcut documentation should be
  src/constants.js
  src/renderer/helpers/utils.js
Due: eslint

Pass arguments to data stores normally to avoid extra objects (#6398)
  src/datastores/handlers/base.js
  src/datastores/handlers/electron.js
  src/datastores/handlers/web.js
  src/main/index.js
  src/renderer/store/modules/playlists.js
  src/renderer/store/modules/subscription-cache.js
Due: eslint

Translated using Weblate (Persian)
  static/locales/fa.yaml
Due: none

* Update play next recommended video setting to be "by default"
  src/renderer/components/WatchVideoRecommendations/WatchVideoRecommendations.vue
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
  static/locales/en-GB.yaml
  static/locales/en-US.yaml
Due: eslint

Update Browser Extensions
  README.md
Due: none

Update README.md
  README.md
Due: none

Fix bug when parsing home page
  src/renderer/helpers/api/local.js
Due: eslint

Migrate Trending to the composition API (#6397)
  src/renderer/helpers/api/local.js
  src/renderer/views/Trending/Trending.js
  src/renderer/views/Trending/Trending.vue
Due: eslint

apply overflow menu text color change only to overflow menu (not to stats button)
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
Due: stylelint

Fix bug when parsing home page (#6403)
  src/renderer/helpers/api/local.js
Due: eslint

Add a new extension to the extensions list and small fixes (#6396)
  README.md
Due: none

Translated using Weblate (Ukrainian)
  static/locales/uk.yaml
Due: none

Add search history DB integration
  src/constants.js
  src/datastores/handlers/base.js
  src/datastores/handlers/electron.js
  src/datastores/handlers/index.js
  src/datastores/handlers/web.js
  src/datastores/index.js
  src/main/index.js
  src/renderer/store/modules/index.js
  src/renderer/store/modules/search-history.js
  src/renderer/store/modules/settings.js
Due: eslint

add missing release builds
  .github/workflows/release.yml
Due: none

Translated using Weblate (Afrikaans)
  static/locales/af.yaml
Due: none

Translated using Weblate (Vietnamese)
  static/locales/vi.yaml
Due: none

Implement search history display logic and UI
  src/datastores/handlers/base.js
  src/renderer/App.js
  src/renderer/components/ft-input/ft-input.css
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/ft-input/ft-input.vue
  src/renderer/components/general-settings/general-settings.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/top-nav/top-nav.vue
  src/renderer/main.js
  src/renderer/store/modules/search-history.js
  src/renderer/views/Search/Search.js
Due: eslint, stylelint

Modify search cache removal setting to remove search history as well
  src/renderer/components/general-settings/general-settings.vue
  src/renderer/components/privacy-settings/privacy-settings.js
  src/renderer/components/privacy-settings/privacy-settings.vue
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint

Exclude current search route from history suggestions and populate input with matching query
  src/main/index.js
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/top-nav/top-nav.js
  src/renderer/store/modules/search-history.js
Due: eslint

Translated using Weblate (Serbian)
  static/locales/sr.yaml
Due: none

Added buttons to hide hidden channels/text (#6156)
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/distraction-settings/distraction-settings.vue
  src/renderer/components/ft-input-tags/ft-input-tags.css
  src/renderer/components/ft-input-tags/ft-input-tags.js
  src/renderer/components/ft-input-tags/ft-input-tags.vue
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint, stylelint

Modify new labels for clarity
  src/renderer/components/privacy-settings/privacy-settings.js
  src/renderer/components/privacy-settings/privacy-settings.vue
  static/locales/en-US.yaml
Due: eslint

Fix issues detected during review
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/top-nav/top-nav.vue
Due: eslint

Make a single IPC call for the navigation history (#6366)
  src/constants.js
  src/main/index.js
  src/renderer/App.js
  src/renderer/components/top-nav/top-nav.js
  src/renderer/store/modules/utils.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Hashtag/Hashtag.vue
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Post.vue
  src/renderer/views/Search/Search.js
  src/renderer/views/Watch/Watch.js
Due: eslint

apply overflow menu text color change only to overflow menu (not to stats button) (#6406)
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
Due: stylelint

Implement fixes from code review
  src/renderer/components/ft-input/ft-input.css
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/ft-input/ft-input.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/store/modules/search-history.js
Due: eslint, stylelint

Update logic to allowing storing and searching by name rather than by route
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/ft-input/ft-input.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/top-nav/top-nav.vue
  src/renderer/store/modules/search-history.js
  src/renderer/views/Search/Search.js
Due: eslint

Translated using Weblate (Chinese (Traditional Han script))
  static/locales/zh-TW.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none
