Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Improve stay-in-mode handling to save state values on player destroy
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
Due: eslint

Fix linting
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/player-settings/player-settings.js
Due: eslint

Update values to check IS_ELECTRON
  src/renderer/components/player-settings/player-settings.js
Due: eslint

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none

Translated using Weblate (Toki Pona)
  static/locales/tok.yaml
Due: none

Translated using Weblate (Latvian)
  static/locales/lv.yaml
Due: none

Invidious API: Extract streaming data expiry date from URL
  src/renderer/views/Watch/Watch.js
Due: eslint

Invidious API: Add support for auto-dubbed audio tracks
  src/renderer/helpers/player/utils.js
  src/renderer/views/Watch/Watch.js
Due: eslint

Translated using Weblate (Breton)
  static/locales/br.yaml
Due: none

Use the standard display name format
  src/renderer/helpers/player/utils.js
  src/renderer/views/Watch/Watch.js
Due: eslint

Translated using Weblate (Serbian)
  static/locales/sr.yaml
Due: none

Fix settings password handling (#5988)
  src/renderer/views/Settings/Settings.js
  src/renderer/views/Settings/Settings.vue
Due: eslint

Invidious API: Add support for auto-dubbed audio tracks (#5943)
  src/renderer/helpers/player/utils.js
  src/renderer/views/Watch/Watch.js
Due: eslint

* Make button hidden for online playlist, local playlist w/o video, move it before "remove duplicate" button
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/playlist-info/playlist-info.vue
Due: eslint

Invidious API: Extract streaming data expiry date from URL (#5997)
  src/renderer/views/Watch/Watch.js
Due: eslint

show more and show less buttons are now tabbed to first before description links
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.css
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.vue
Due: eslint, stylelint

Change default value of display big video play button to false
  src/renderer/store/modules/settings.js
Due: eslint

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Translated using Weblate (Russian)
  static/locales/ru.yaml
Due: none

Change default value of display big video play button to false (#6005)
  src/renderer/store/modules/settings.js
Due: eslint

Fix some undesired attributes being saved to playlists.db (#5601) (#5900)
  src/renderer/store/modules/playlists.js
Due: eslint

Add support for hms timestamp in query string
  src/main/index.js
  src/renderer/helpers/utils.js
Due: eslint

Translated using Weblate (Afrikaans)
  static/locales/af.yaml
Due: none

undo change in index.js
  src/main/index.js
Due: eslint

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Japanese)
  static/locales/ja.yaml
Due: none

Fix live streams endlessly buffering
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Update index.js
  src/main/index.js
Due: eslint
