Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Local API: Extract releases on auto-generated artist topic channels (#5241)
  src/renderer/helpers/api/local.js
  src/renderer/views/Channel/Channel.js
Due: eslint

Add search history sync logic
  src/renderer/components/page-bookmark-prompt/page-bookmark-prompt.js
  src/renderer/store/modules/search-history.js
  src/renderer/store/modules/settings.js
Due: eslint

Have 'Cancel' button appear for already bookmarked page case
  src/renderer/components/page-bookmark-prompt/page-bookmark-prompt.vue
Due: eslint

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Update to show the proper page bookmark name upon deletion
  src/renderer/components/page-bookmark-prompt/page-bookmark-prompt.js
Due: eslint

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Translated using Weblate (Dutch)
  static/locales/nl.yaml
Due: none

Translated using Weblate (Croatian)
  static/locales/hr.yaml
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Delete page bookmarks to user playlists when those user playlists are deleted
  src/datastores/handlers/base.js
  src/datastores/handlers/electron.js
  src/datastores/handlers/web.js
  src/main/index.js
  src/renderer/store/modules/playlists.js
  src/renderer/store/modules/search-history.js
  src/renderer/store/modules/settings.js
Due: eslint

Add icons corresponding to bookmarked page route
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/ft-input/ft-input.vue
  src/renderer/helpers/strings.js
Due: eslint

Prevent search results from wrapping across to multiple rows
  src/renderer/components/ft-input/ft-input.css
Due: stylelint

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Constrain visible ft-input results list length to 15
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/ft-input/ft-input.vue
  src/renderer/store/modules/playlists.js
Due: eslint

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Add message when there are other page bookmarks with the same name
  src/renderer/components/page-bookmark-prompt/page-bookmark-prompt.js
  src/renderer/components/page-bookmark-prompt/page-bookmark-prompt.vue
  src/renderer/store/modules/search-history.js
  static/locales/en-US.yaml
Due: eslint

! Fix able to create playlist with invalid playlist names
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.js
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.vue
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/playlist-info/playlist-info.vue
Due: eslint

! Fix error when fetching deleted comment replies in local API
  src/renderer/components/watch-video-comments/watch-video-comments.js
Due: eslint

Update playlist route icons
  src/renderer/components/ft-input/ft-input.js
  src/renderer/helpers/strings.js
Due: eslint

Translated using Weblate (Chinese (Traditional))
  static/locales/zh-TW.yaml
Due: none

Translated using Weblate (Chinese (Simplified))
  static/locales/zh-CN.yaml
Due: none

Update About.css
  src/renderer/views/About/About.css
Due: stylelint

reset filters on route change
  src/renderer/components/ft-radio-button/ft-radio-button.js
  src/renderer/components/top-nav/top-nav.js
Due: eslint

Translated using Weblate (Serbian)
  static/locales/sr.yaml
Due: none

Respect playlist sort order in `watch-video-playlist` (#5013)
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/helpers/playlists.js
  src/renderer/views/Playlist/Playlist.js
Due: eslint

Update playlist page to add remove duplicate videos button for user playlists (#5191)
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/main.js
  static/locales/en-US.yaml
Due: eslint

setting better default logo color variables for themes with single color logo
  src/renderer/themes.css
Due: stylelint

Optical enhancement - Improved spacing on the about page #5210 (#5257)
  src/renderer/views/About/About.css
Due: stylelint

! Fix error when fetching deleted comment replies in local API (#5255)
  src/renderer/components/watch-video-comments/watch-video-comments.js
Due: eslint

check for 204 error
  src/renderer/helpers/sponsorblock.js
Due: eslint
