Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Translated using Weblate (Indonesian)
  static/locales/id.yaml
Due: none

Fix video pausing when saving a screenshot to the default folder
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Cleanup Gray theme (#6674)
  src/renderer/themes.css
Due: stylelint

add name for english string for sort by date in history
  src/renderer/views/History/History.vue
Due: eslint

add a simple toggle switch to change search history from descending to ascending
  src/renderer/views/History/History.js
  src/renderer/views/History/History.vue
Due: eslint

add the en-US locale string so that it can be used for translations
  static/locales/en-US.yaml
Due: none

switch to using ft-select, updated store, now it's easier to expand to more sort types
  src/renderer/store/modules/history.js
  src/renderer/views/History/History.js
  src/renderer/views/History/History.vue
  static/locales/en-US.yaml
Due: eslint

add renderers helper with map of sort by options
  src/renderer/helpers/history.js
Due: eslint

update vuex to use mutations over action wrapper, fix css, add code review suggestions and fixes
  src/constants.js
  src/renderer/helpers/history.js
  src/renderer/store/modules/history.js
  src/renderer/views/History/History.css
  src/renderer/views/History/History.js
  src/renderer/views/History/History.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

Allow comments to be sorted when using local api
  src/renderer/helpers/api/local.js
  src/renderer/views/Post.vue
Due: eslint

Add local api support for viewing community posts
  src/renderer/components/CommentSection/CommentSection.vue
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
  src/renderer/helpers/api/local.js
  src/renderer/views/Post.vue
Due: eslint

add 'local' to function name to get post comments, update innertube methods to reflect naming changes made in the youtube.js PR
  src/renderer/components/CommentSection/CommentSection.vue
  src/renderer/helpers/api/local.js
  src/renderer/views/Post.vue
Due: eslint

remove unused translation strings
  static/locales/af.yaml
  static/locales/ar.yaml
  static/locales/be.yaml
  static/locales/bg.yaml
  static/locales/br.yaml
  static/locales/cs.yaml
  static/locales/cy.yaml
  static/locales/de-DE.yaml
  static/locales/en-GB.yaml
  static/locales/en-US.yaml
  static/locales/es.yaml
  static/locales/et.yaml
  static/locales/eu.yaml
  static/locales/fa.yaml
  static/locales/fr-FR.yaml
  static/locales/he.yaml
  static/locales/hr.yaml
  static/locales/hu.yaml
  static/locales/is.yaml
  static/locales/it.yaml
  static/locales/ja.yaml
  static/locales/my.yaml
  static/locales/nl.yaml
  static/locales/pl.yaml
  static/locales/pt-BR.yaml
  static/locales/pt.yaml
  static/locales/ru.yaml
  static/locales/sr.yaml
  static/locales/ta.yaml
  static/locales/tr.yaml
  static/locales/uk.yaml
  static/locales/vls.yaml
  static/locales/zh-CN.yaml
  static/locales/zh-TW.yaml
Due: none

use array index instead of `first()`
  src/renderer/helpers/api/local.js
Due: eslint

remove new translations
  static/locales/id.yaml
  static/locales/pt-PT.yaml
Due: none

Add icons to page headers
  src/renderer/components/FtSettingsMenu/FtSettingsMenu.css
  src/renderer/components/FtSettingsMenu/FtSettingsMenu.vue
  src/renderer/main.js
  src/renderer/views/About/About.css
  src/renderer/views/About/About.vue
  src/renderer/views/History/History.css
  src/renderer/views/History/History.vue
  src/renderer/views/Popular/Popular.css
  src/renderer/views/Popular/Popular.vue
  src/renderer/views/SubscribedChannels/SubscribedChannels.css
  src/renderer/views/SubscribedChannels/SubscribedChannels.vue
  src/renderer/views/Subscriptions/Subscriptions.css
  src/renderer/views/Subscriptions/Subscriptions.vue
  src/renderer/views/UserPlaylists/UserPlaylists.css
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Due: eslint, stylelint

Add icon to search page, hide settings icon on mobile
  src/renderer/components/FtSettingsMenu/FtSettingsMenu.css
  src/renderer/views/Search/Search.css
  src/renderer/views/Search/Search.vue
Due: eslint, stylelint

fix most popular page
  src/renderer/views/Popular/Popular.vue
Due: eslint

fix: search wrapper css
  src/renderer/components/ft-input/ft-input.css
  src/renderer/components/ft-input/ft-input.vue
Due: eslint, stylelint

Re-order Parental Control related settings
  src/renderer/store/modules/settings.js
Due: eslint

Feature: parental control -> hide create new profile button
  src/renderer/components/ParentalControlSettings.vue
  src/renderer/store/modules/settings.js
  src/renderer/views/ProfileSettings/ProfileSettings.vue
  static/locales/en-US.yaml
Due: eslint

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Belarusian)
  static/locales/be.yaml
Due: none

add overflow-wrap on ft-list-item
  src/renderer/scss-partials/_ft-list-item.scss
Due: stylelint

Translated using Weblate (Hebrew)
  static/locales/he.yaml
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Vietnamese)
  static/locales/vi.yaml
Due: none

Migrate ft-slider to the composition api (#6677)
  src/renderer/components/FtSlider/FtSlider.css
  src/renderer/components/FtSlider/FtSlider.vue
  src/renderer/components/ThemeSettings.vue
  src/renderer/components/ft-slider/ft-slider.js
  src/renderer/components/ft-slider/ft-slider.vue
  src/renderer/components/player-settings/player-settings.js
  src/renderer/components/subscription-settings/subscription-settings.js
Due: eslint, stylelint

Translated using Weblate (Portuguese)
  static/locales/pt.yaml
Due: none

fix: prevent prompt scrolling propagation (#6698)
  src/renderer/themes.css
Due: stylelint

use icon for hashtag as well
  src/renderer/views/Hashtag/Hashtag.css
  src/renderer/views/Hashtag/Hashtag.vue
Due: eslint, stylelint

Fix video pausing when saving a screenshot to the default folder (#6721)
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint
