Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Add SVG variants of the logo / icon
  _icons/iconBlack.svg
  _icons/iconColor.svg
  _icons/iconWhite.svg
  _icons/logoBlack.svg
  _icons/logoColor.svg
  _icons/logoWhite.svg
Due: none

Translated using Weblate (Dutch)
  static/locales/nl.yaml
Due: none

Translated using Weblate (Romanian)
  static/locales/ro.yaml
Due: none

fix bug with tabbing into three dots menu #4022 (#4060)
  src/renderer/components/ft-icon-button/ft-icon-button.vue
Due: eslint

Fix buttons intersecting on Subscribed Channels tab (#4058)
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.css
Due: stylelint

Re-introduce channel button clipping fix
  src/renderer/views/Channel/Channel.css
Due: stylelint

Implement updated share button styling
  src/renderer/components/ft-share-button/ft-share-button.scss
Due: stylelint

Fix issue with prompt box shrinking on small enough viewport sizes / overflow
  src/renderer/components/ft-prompt/ft-prompt.css
Due: stylelint

Update share button to work at all sizes'
  src/renderer/components/ft-share-button/ft-share-button.scss
Due: stylelint

Fix pre-existing issue of Channel tabs overflowing on desktop view in some locales
  src/renderer/views/Channel/Channel.css
Due: stylelint

Translated using Weblate (Portuguese)
  static/locales/pt.yaml
Due: none

Simplify returns
  src/renderer/helpers/api/invidious.js
Due: eslint

Translated using Weblate (Finnish)
  static/locales/fi.yaml
Due: none

Translated using Weblate (Chinese (Simplified))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Hebrew)
  static/locales/he.yaml
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

! Fix in sub view, restoring last tab is bugged when visible tabs do not include tab to be restored
  src/renderer/views/Subscriptions/Subscriptions.js
Due: eslint

Translated using Weblate (Ukrainian)
  static/locales/uk.yaml
Due: none

! Fix in sub view, restoring last tab is bugged when visible tabs do not include tab to be restored (#4064)
  src/renderer/views/Subscriptions/Subscriptions.js
Due: eslint

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none

Add ext support for Baka, Celluloid & Haruna
  static/external-player-map.json
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Translated using Weblate (Greek)
  static/locales/el.yaml
Due: none

Translated using Weblate (Chinese (Traditional))
  static/locales/zh-TW.yaml
Due: none

Normalize ft-list-item grid height (#4043)
  src/renderer/scss-partials/_ft-list-item.scss
Due: stylelint

Support multiple audio tracks and AV1 for Invidious by using the local API DASH manifest generator (#3942)
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/helpers/api/invidious.js
  src/renderer/views/Watch/Watch.js
Due: eslint

Mobile/tablet channel page & share button visual improvements (#4061)
  src/renderer/components/ft-prompt/ft-prompt.css
  src/renderer/components/ft-share-button/ft-share-button.scss
  src/renderer/views/Channel/Channel.css
Due: stylelint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
