Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Bump version number to v0.22.0 (#5865)
  package.json
Due: none

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

minor updates to unlistedBadge CSS
  src/renderer/components/watch-video-info/watch-video-info.scss
Due: stylelint

Fix wrong live stream playlist used for subscriptions (#5876)
  src/renderer/helpers/utils.js
Due: eslint

Test lint on RC
  package.json
Due: none

Bump version number to v0.22.0
  package.json
Due: none

Bump version number to v0.22.0 (#5878)
  package.json
Due: none

! Fix no comment detection
  src/renderer/components/watch-video-comments/watch-video-comments.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
Due: eslint

! Fix no comment detection (#5879)
  src/renderer/components/watch-video-comments/watch-video-comments.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
Due: eslint

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

more... button is now accessible by tab; description overlay now ignored when tabbing
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.vue
Due: eslint

Add: Gruvbox color schemes & accent colors
  _icons/iconGruvboxDarkSmall.svg
  _icons/iconGruvboxLightSmall.svg
  _icons/textGruvboxDarkSmall.svg
  _icons/textGruvboxLightSmall.svg
  src/main/index.js
  src/renderer/components/theme-settings/theme-settings.js
  src/renderer/helpers/colors.js
  src/renderer/themes.css
  static/locales/en-US.yaml
Due: eslint, stylelint

Switch from deprecated standard to neostandard in ESLint config
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/conflicts.yml
  .github/workflows/no-response.yml
  .github/workflows/release.yml
  .github/workflows/remove-outdated-labels.yml
  .prettierrc
  _scripts/ProcessLocalesPlugin.js
  _scripts/build.js
  _scripts/dev-runner.js
  _scripts/ebuilder.config.js
  _scripts/getRegions.mjs
  _scripts/injectAllowedPaths.mjs
  _scripts/mime-db-shrinking-loader.js
  _scripts/patchShaka.mjs
  _scripts/webpack.main.config.js
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
  eslint.config.mjs
  package.json
  src/main/index.js
  static/locales/ar.yaml
  static/locales/ja.yaml
  yarn.lock
Due: eslint

Keep A-Z sorted
  src/renderer/components/theme-settings/theme-settings.js
Due: eslint

Keep theme-settings.js sorted
  src/renderer/components/theme-settings/theme-settings.js
Due: eslint

Keep colors.js sorted
  src/renderer/helpers/colors.js
Due: eslint

Add missing commas
  src/renderer/components/theme-settings/theme-settings.js
Due: eslint

Keep sorting in en-US.yaml from A-Z
  static/locales/en-US.yaml
Due: none

Delete duplicate line
  src/renderer/components/theme-settings/theme-settings.js
Due: eslint

Remove trailing comma
  src/renderer/components/theme-settings/theme-settings.js
Due: eslint

readded role=button attributes
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.vue
Due: eslint

Fix playlist view on mobile
  src/renderer/views/Playlist/Playlist.scss
Due: stylelint

Remove the margin-top change
  src/renderer/views/Playlist/Playlist.scss
Due: stylelint

Partial fix for playlist title and description overflow
  src/renderer/components/playlist-info/playlist-info.scss
Due: stylelint

Fix playlist overflow in list view
  src/renderer/components/playlist-info/playlist-info.scss
  src/renderer/views/Playlist/Playlist.scss
Due: stylelint

Fix right panel not fully expanding in list mode
  src/renderer/components/playlist-info/playlist-info.scss
  src/renderer/views/Playlist/Playlist.scss
Due: stylelint

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Portuguese)
  static/locales/pt.yaml
Due: none

MHave fullscreen persist when videos autoplay
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
Due: eslint

Fix some undesired attributes being saved to playlists.db (#5601)
  src/renderer/store/modules/playlists.js
Due: eslint

update onlyShowLatestFromChannel setting to handle a custom amount of videos
  src/renderer/components/subscription-settings/subscription-settings.js
  src/renderer/components/subscription-settings/subscription-settings.vue
  src/renderer/helpers/subscriptions.js
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint

update layout of subscription settings section
  src/renderer/components/subscription-settings/subscription-settings.vue
Due: eslint

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Have fullscreen and PiP be re-requested on autoplay when they are open
  src/constants.js
  src/main/index.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.vue
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
Due: eslint

Implement external player default viewing mode
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/ft-list-playlist/ft-list-playlist.js
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/views/Watch/Watch.js
Due: eslint

Implement Default Viewing Mode setting
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/player-settings/player-settings.js
  src/renderer/components/player-settings/player-settings.vue
  src/renderer/store/modules/settings.js
  src/renderer/views/Watch/Watch.js
  static/locales/en-US.yaml
Due: eslint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
