Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Small ESLint cleanup (#6248)
  eslint.config.mjs
  package.json
  yarn.lock
Due: none

Migrate ThemeSettings and FtSponsorBlockCategory to the composition API (#6245)
  src/renderer/components/FtSponsorBlockCategory/FtSponsorBlockCategory.css
  src/renderer/components/FtSponsorBlockCategory/FtSponsorBlockCategory.vue
  src/renderer/components/ThemeSettings.vue
  src/renderer/components/ft-sponsor-block-category/ft-sponsor-block-category.js
  src/renderer/components/ft-sponsor-block-category/ft-sponsor-block-category.vue
  src/renderer/components/sponsor-block-settings/sponsor-block-settings.js
  src/renderer/components/theme-settings/theme-settings.js
  src/renderer/components/theme-settings/theme-settings.vue
  src/renderer/composables/colors.js
  src/renderer/helpers/colors.js
  src/renderer/views/Settings/Settings.js
Due: eslint, stylelint

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Translated using Weblate (Japanese)
  static/locales/ja.yaml
Due: none

Translated using Weblate (Russian)
  static/locales/ru.yaml
Due: none

Use ft-input-tags for external player custom args (#6221)
  src/datastores/handlers/base.js
  src/renderer/components/external-player-settings/external-player-settings.js
  src/renderer/components/external-player-settings/external-player-settings.vue
  src/renderer/store/modules/settings.js
  src/renderer/store/modules/utils.js
  static/external-player-map.json
  static/locales/af.yaml
  static/locales/be.yaml
  static/locales/bg.yaml
  static/locales/br.yaml
  static/locales/cs.yaml
  static/locales/da.yaml
  static/locales/de-DE.yaml
  static/locales/el.yaml
  static/locales/en-GB.yaml
  static/locales/en-US.yaml
  static/locales/es-MX.yaml
  static/locales/eu.yaml
  static/locales/fi.yaml
  static/locales/fr-FR.yaml
  static/locales/gl.yaml
  static/locales/hr.yaml
  static/locales/id.yaml
  static/locales/is.yaml
  static/locales/it.yaml
  static/locales/lt.yaml
  static/locales/nl.yaml
  static/locales/nn.yaml
  static/locales/pl.yaml
  static/locales/pt-BR.yaml
  static/locales/pt-PT.yaml
  static/locales/pt.yaml
  static/locales/ro.yaml
  static/locales/ru.yaml
  static/locales/sr.yaml
  static/locales/sv.yaml
  static/locales/vi.yaml
Due: eslint

change setting name & add tooltip
  src/renderer/App.js
  src/renderer/components/general-settings/general-settings.js
  src/renderer/components/general-settings/general-settings.vue
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

minor correction
  static/locales/en-US.yaml
Due: none

change tooltip wording
  static/locales/en-US.yaml
Due: none

Add setting for opening URLs passed to FreeTube in a new window (#6242)
  src/main/index.js
  src/renderer/App.js
  src/renderer/components/general-settings/general-settings.js
  src/renderer/components/general-settings/general-settings.vue
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Afrikaans)
  static/locales/af.yaml
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Translated using Weblate (Basque)
  static/locales/eu.yaml
Due: none

Added Button to Show Original Title and Thumbnail for DeArrow (#6164)
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.scss
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/main.js
  src/renderer/scss-partials/_ft-list-item.scss
  static/locales/en-US.yaml
Due: eslint, stylelint

Make history page remember last query string & search limit (#5192)
  src/renderer/components/ChannelDetails/ChannelDetails.vue
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Channel/Channel.vue
  src/renderer/views/History/History.js
  src/renderer/views/History/History.vue
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Playlist/Playlist.vue
  src/renderer/views/SubscribedChannels/SubscribedChannels.vue
  src/renderer/views/UserPlaylists/UserPlaylists.js
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Due: eslint

Move helper function to class for removing '- FreeTube' suffix
  src/renderer/components/page-bookmark-prompt/page-bookmark-prompt.js
  src/renderer/helpers/strings.js
Due: eslint

Add clarifying code comment, update hashtag & post route icons
  src/renderer/helpers/strings.js
  src/renderer/main.js
  src/renderer/router/index.js
Due: eslint

Translated using Weblate (English (United Kingdom))
  static/locales/en-GB.yaml
Due: none

Update variable name and add keyboard handling for ending timeout
  src/renderer/components/player-settings/player-settings.js
  src/renderer/components/player-settings/player-settings.vue
  src/renderer/store/modules/settings.js
  src/renderer/views/Watch/Watch.js
Due: eslint

Navigation history dropdowns (#5227)
  src/constants.js
  src/main/index.js
  src/renderer/App.js
  src/renderer/components/ft-icon-button/ft-icon-button.js
  src/renderer/components/ft-icon-button/ft-icon-button.scss
  src/renderer/components/ft-icon-button/ft-icon-button.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/top-nav/top-nav.scss
  src/renderer/components/top-nav/top-nav.vue
  src/renderer/helpers/strings.js
  src/renderer/store/modules/utils.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Hashtag/Hashtag.vue
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Post.vue
  src/renderer/views/Search/Search.js
  src/renderer/views/Watch/Watch.js
  static/locales/en-US.yaml
Due: eslint, stylelint

! Fix export playlist button visible in edit mode
  src/renderer/components/playlist-info/playlist-info.js
Due: eslint

Translated using Weblate (Chinese (Traditional Han script))
  static/locales/zh-TW.yaml
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
