Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Adjust ordering to maximize chance of content being presented
  src/renderer/helpers/subscriptions.js
Due: eslint

Open/close all settings tabs persistent toggle (#4204)
  src/renderer/components/ft-settings-section/ft-settings-section.js
  src/renderer/components/ft-settings-section/ft-settings-section.vue
  src/renderer/store/modules/settings.js
  src/renderer/views/Settings/Settings.css
  src/renderer/views/Settings/Settings.js
  src/renderer/views/Settings/Settings.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Cleanup SponsorBlock video id hashing
  src/renderer/helpers/sponsorblock.js
Due: eslint

Implement showing least recent cache date per profile
  src/renderer/components/subscriptions-community/subscriptions-community.js
  src/renderer/components/subscriptions-live/subscriptions-live.js
  src/renderer/components/subscriptions-shorts/subscriptions-shorts.js
  src/renderer/components/subscriptions-videos/subscriptions-videos.js
  src/renderer/store/modules/subscriptions.js
  src/renderer/store/modules/utils.js
Due: eslint

Local API: Support the author-less auto-generated album playlists in video lists (#4371)
  src/renderer/helpers/api/local.js
Due: eslint

Update app menu to add items for profile list page (#4333)
  src/main/index.js
Due: eslint

Show latest from channel (#4352)
  src/renderer/components/subscription-settings/subscription-settings.js
  src/renderer/components/subscription-settings/subscription-settings.vue
  src/renderer/helpers/subscriptions.js
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint

Cleanup SponsorBlock video id hashing (#4384)
  src/renderer/helpers/sponsorblock.js
Due: eslint

Update styling property placement & match top nav box shadow on ft-refresh-widget
  src/renderer/components/ft-refresh-widget/ft-refresh-widget.css
Due: stylelint

Update to not clear if duplicate tag is entered for Hide Forbidden feature
  src/renderer/components/ft-input-tags/ft-input-tags.js
Due: eslint

Implement showing timestamp for profile only if all channel subscriptions can be found in cache
  src/renderer/components/subscriptions-community/subscriptions-community.js
  src/renderer/components/subscriptions-live/subscriptions-live.js
  src/renderer/components/subscriptions-shorts/subscriptions-shorts.js
  src/renderer/components/subscriptions-videos/subscriptions-videos.js
Due: eslint

Implement change
  src/renderer/views/Watch/Watch.js
Due: eslint

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Chinese (Simplified))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Serbian)
  static/locales/sr.yaml
Due: none

Translated using Weblate (Chinese (Traditional))
  static/locales/zh-TW.yaml
Due: none

separate caption functions to helper file
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/helpers/captions.js
Due: eslint

Revert some files back to CSS
  src/renderer/components/ft-profile-channel-list/ft-profile-channel-list.css
  src/renderer/components/ft-profile-channel-list/ft-profile-channel-list.vue
  src/renderer/components/ft-profile-edit/ft-profile-edit.css
  src/renderer/components/ft-profile-edit/ft-profile-edit.vue
  src/renderer/components/ft-profile-filter-channels-list/ft-profile-filter-channels-list.css
  src/renderer/components/ft-profile-filter-channels-list/ft-profile-filter-channels-list.vue
  src/renderer/components/password-dialog/password-dialog.css
  src/renderer/components/password-dialog/password-dialog.vue
  src/renderer/views/Hashtag/Hashtag.css
  src/renderer/views/Hashtag/Hashtag.vue
  src/renderer/views/History/History.css
  src/renderer/views/History/History.vue
  src/renderer/views/ProfileSettings/ProfileSettings.css
  src/renderer/views/ProfileSettings/ProfileSettings.vue
  src/renderer/views/Search/Search.css
  src/renderer/views/Search/Search.vue
  src/renderer/views/SubscribedChannels/SubscribedChannels.css
  src/renderer/views/SubscribedChannels/SubscribedChannels.vue
  src/renderer/views/Subscriptions/Subscriptions.css
  src/renderer/views/Subscriptions/Subscriptions.vue
  src/renderer/views/Trending/Trending.css
  src/renderer/views/Trending/Trending.vue
  src/renderer/views/UserPlaylists/UserPlaylists.css
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Due: eslint, stylelint

Disable refresh button instead of removing it or the widget from the DOM
  src/renderer/components/ft-icon-button/ft-icon-button.js
  src/renderer/components/ft-icon-button/ft-icon-button.scss
  src/renderer/components/ft-icon-button/ft-icon-button.vue
  src/renderer/components/ft-refresh-widget/ft-refresh-widget.js
  src/renderer/components/ft-refresh-widget/ft-refresh-widget.vue
  src/renderer/components/subscriptions-tab-ui/subscriptions-tab-ui.vue
  src/renderer/views/Popular/Popular.vue
  src/renderer/views/Trending/Trending.vue
Due: eslint, stylelint

Add support for viewing movie trailers with local api
  src/renderer/helpers/api/local.js
  src/renderer/views/Watch/Watch.js
Due: eslint

Fix bug
  src/renderer/components/ft-settings-section/ft-settings-section.js
  src/renderer/components/ft-settings-section/ft-settings-section.vue
Due: eslint

Fix bug (#4392)
  src/renderer/components/ft-settings-section/ft-settings-section.js
  src/renderer/components/ft-settings-section/ft-settings-section.vue
Due: eslint

Fix previous video button logic for first video in playlist
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
Due: eslint

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Portuguese)
  static/locales/pt.yaml
Due: none

add show transcript button to video description
  src/renderer/components/watch-video-description/watch-video-description.js
  src/renderer/components/watch-video-description/watch-video-description.scss
  src/renderer/components/watch-video-description/watch-video-description.vue
  src/renderer/components/watch-video-transcript/watch-video-transcript.js
  src/renderer/components/watch-video-transcript/watch-video-transcript.scss
  src/renderer/components/watch-video-transcript/watch-video-transcript.vue
  src/renderer/helpers/captions.js
  src/renderer/helpers/strings.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

removed unrequired methods
  src/renderer/views/Watch/Watch.js
Due: eslint

add plain transcript window
  src/renderer/components/watch-video-transcript/watch-video-transcript.js
  src/renderer/components/watch-video-transcript/watch-video-transcript.scss
  src/renderer/components/watch-video-transcript/watch-video-transcript.vue
  src/renderer/views/Watch/Watch.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

add transcript selection
  src/renderer/components/watch-video-transcript/watch-video-transcript.js
  src/renderer/components/watch-video-transcript/watch-video-transcript.scss
  src/renderer/components/watch-video-transcript/watch-video-transcript.vue
  src/renderer/views/Watch/Watch.js
  static/locales/en-US.yaml
Due: eslint, stylelint

populate transcript card
  package.json
  src/renderer/components/watch-video-transcript/watch-video-transcript.js
  src/renderer/components/watch-video-transcript/watch-video-transcript.scss
  src/renderer/components/watch-video-transcript/watch-video-transcript.vue
  src/renderer/helpers/captions.js
Due: eslint, stylelint

Apply suggestions from code review
  yarn.lock
Due: none

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

Translated using Weblate (Swedish)
  static/locales/sv.yaml
Due: none

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none

add support for age restricted trailers
  src/renderer/views/Watch/Watch.js
Due: eslint

remove unused changes
  src/renderer/views/Watch/Watch.js
Due: eslint

PR suggestions
  src/renderer/components/data-settings/data-settings.vue
  src/renderer/components/distraction-settings/distraction-settings.css
  src/renderer/components/ft-settings-section/ft-settings-section.scss
Due: eslint, stylelint
