Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Add plural labels & top nav select mode state variable integration
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/top-nav/top-nav.vue
  static/locales/en-US.yaml
Due: eslint

Implement & update ft-list-video selectMode state update & dropdown logic
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.scss
  src/renderer/components/ft-list-video/ft-list-video.vue
Due: eslint, stylelint

Translated using Weblate (Hebrew)
  static/locales/he.yaml
Due: none

Update favorites icon watch styling with select mode enabled
  src/renderer/components/ft-list-video/ft-list-video.scss
  src/renderer/scss-partials/_ft-list-item.scss
Due: stylelint

Update Select Mode to include save/unsave and count
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/helpers/utils.js
  src/renderer/scss-partials/_ft-list-item.scss
Due: eslint, stylelint

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Translated using Weblate (Persian)
  static/locales/fa.yaml
Due: none

Include count in most labels when possible
  src/renderer/helpers/utils.js
  static/locales/en-US.yaml
Due: eslint

Update label and add back ft-video-list needed functions
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/top-nav/top-nav.vue
  static/locales/en-US.yaml
Due: eslint

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Apply suggestions from code review
  src/renderer/components/ft-list-video/ft-list-video.vue
Due: eslint

Sort list of external players
  src/renderer/components/external-player-settings/external-player-settings.js
Due: eslint

Condense sorting logic
  src/renderer/components/external-player-settings/external-player-settings.js
Due: eslint

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Rework sorting in utils.js
  src/renderer/components/external-player-settings/external-player-settings.js
  src/renderer/store/modules/utils.js
Due: eslint

Translated using Weblate (Ukrainian)
  static/locales/uk.yaml
Due: none

Implement Favorites icon persisting for favorited videos (#4012)
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/scss-partials/_ft-list-item.scss
Due: eslint, stylelint

! Fix removing video from local playlist remove all entries with same video ID
  src/datastores/handlers/base.js
  src/datastores/handlers/electron.js
  src/datastores/handlers/web.js
  src/main/index.js
  src/renderer/store/modules/playlists.js
  src/renderer/views/Playlist/Playlist.js
Due: eslint

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

! Fix adding video does not have uniqueID & timeAdded set
  src/renderer/store/modules/playlists.js
Due: eslint

! Fix navigation in user playlist between entries of same video
  src/renderer/components/ft-list-video-lazy/ft-list-video-lazy.js
  src/renderer/components/ft-list-video-lazy/ft-list-video-lazy.vue
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
  src/renderer/store/modules/playlists.js
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Playlist/Playlist.vue
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
Due: eslint

* Reflect playlist updates on watch page playlist panel
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
Due: eslint

Translated using Weblate (Chinese (Traditional))
  static/locales/zh-TW.yaml
Due: none

Implement Select Mode set to disabled on route change
  src/renderer/components/top-nav/top-nav.js
  src/renderer/helpers/utils.js
  src/renderer/scss-partials/_ft-list-item.scss
  src/renderer/store/modules/utils.js
Due: eslint, stylelint

Update additional video dropdown labels to include count
  static/locales/en-US.yaml
Due: none

Update ft-video-player.css to disable use of logical property linter
  .stylelintignore
  src/renderer/components/ft-video-player/ft-video-player.css
Due: stylelint

$- Remove outdated incorrect prompt style fix
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.scss
Due: stylelint

Simplify sorting logic
  src/renderer/store/modules/utils.js
Due: eslint

! Fix add video to playlist prompt too high when there are too many playlists
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.scss
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.vue
Due: eslint, stylelint

! Fix watch page play next/prev video in local playlist
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
  src/renderer/views/Watch/Watch.js
Due: eslint

! Fix error in online playlist playing
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
Due: eslint

Update certain toasts to use
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/scss-partials/_ft-list-item.scss
Due: eslint, stylelint

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Implement settings navIcon styling improvement
  src/renderer/components/ft-icon-button/ft-icon-button.scss
  src/renderer/components/ft-icon-button/ft-icon-button.vue
  src/renderer/components/top-nav/top-nav.scss
  src/renderer/components/top-nav/top-nav.vue
Due: eslint, stylelint

Fix selection addition/removal logic
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/store/modules/utils.js
Due: eslint

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none

Put .stop modifier on FtIconButton click/keydown events
  src/renderer/components/ft-icon-button/ft-icon-button.vue
Due: eslint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
