Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

split electron-builder config to a separate file from build script
  _scripts/build.js
  _scripts/ebuilder.js
Due: eslint

Make fetching more data optional when importing subscriptions
  src/renderer/components/data-settings/data-settings.js
  src/renderer/components/data-settings/data-settings.vue
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.js
  src/renderer/components/side-nav/side-nav.js
  src/renderer/components/side-nav/side-nav.vue
  src/renderer/components/subscriptions-tab-ui/subscriptions-tab-ui.vue
  src/renderer/helpers/api/invidious.js
  src/renderer/views/SubscribedChannels/SubscribedChannels.js
  src/renderer/views/SubscribedChannels/SubscribedChannels.vue
  static/locales/en-US.yaml
Due: eslint

fix lint errors, hide prompt once import starts
  src/renderer/components/data-settings/data-settings.js
  src/renderer/components/data-settings/data-settings.vue
Due: eslint

remove unused locale message
  static/locales/en-US.yaml
Due: none

use default icon if channel icon doesn't exist
  src/renderer/components/ft-channel-bubble/ft-channel-bubble.vue
  src/renderer/components/side-nav/side-nav.js
Due: eslint

improve logic for updating missing thumbnails
  src/renderer/components/side-nav/side-nav.js
  src/renderer/components/side-nav/side-nav.vue
  src/renderer/views/SubscribedChannels/SubscribedChannels.js
  src/renderer/views/SubscribedChannels/SubscribedChannels.vue
Due: eslint

review changes
  _scripts/build.js
  _scripts/ebuilder.config.js
Due: eslint

Translated using Weblate (Ukrainian)
  static/locales/uk.yaml
Due: none

split electron-builder config to a separate file from build script (#4431)
  _scripts/build.js
  _scripts/ebuilder.config.js
Due: eslint

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Remove CSS top comments absent in other CSS files
  src/renderer/components/ft-create-playlist-prompt/ft-create-playlist-prompt.css
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.css
Due: stylelint

Remove not useful comment for CSS
  src/renderer/components/ft-playlist-selector/ft-playlist-selector.scss
Due: stylelint

Search input keyboard focus enhancements (#4282)
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/top-nav/top-nav.js
Due: eslint

Work around context menus in the devtools being displayed behind the window (#4264)
  src/main/index.js
Due: eslint

Float with variable
  src/renderer/components/ft-playlist-selector/ft-playlist-selector.scss
Due: stylelint

handle route changes properly, fix formatNumber, don't use vueSet and vueDelete
  src/renderer/helpers/utils.js
  src/renderer/store/modules/history.js
  src/renderer/store/modules/utils.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Hashtag/Hashtag.js
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Search/Search.js
  src/renderer/views/Watch/Watch.js
Due: eslint

Translated using Weblate (Lithuanian)
  static/locales/lt.yaml
Due: none

translate checkmark as many languages use a different character for this
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.vue
Due: eslint

enable no-dynamic-keys rule
  .eslintrc.js
  src/renderer/App.js
  src/renderer/components/external-player-settings/external-player-settings.js
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.vue
  src/renderer/components/general-settings/general-settings.js
  src/renderer/components/top-nav/top-nav.js
  src/renderer/helpers/strings.js
  src/renderer/router/index.js
  src/renderer/store/modules/utils.js
  static/locales/en-US.yaml
Due: eslint

! Fix ft-input style
  src/renderer/components/ft-input/ft-input.css
Due: stylelint

! Fix ft-input style (#4437)
  src/renderer/components/ft-input/ft-input.css
Due: stylelint

Revert "! Fix clear text button style"
  src/renderer/components/ft-input/ft-input.css
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/ft-input/ft-input.vue
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Due: eslint, stylelint

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Fix pr-labeler.yml
  .github/pr-labeler.yml
Due: none

Fix pr-labeler.yml (#4449)
  .github/pr-labeler.yml
Due: none

Add back 'Turn on Subtitles by Default'
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/components/player-settings/player-settings.js
  src/renderer/components/player-settings/player-settings.vue
  src/renderer/store/modules/settings.js
Due: eslint

Fix issue with subscribe button styling in specific views
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.scss
Due: stylelint

Hide playlists in channel search results if "hide channel playlist" preference selected.
  src/renderer/views/Channel/Channel.js
Due: eslint

Only bundle the Swiper modules that we use
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
  src/renderer/components/ft-community-post/ft-community-post.js
  src/renderer/components/ft-community-post/ft-community-post.vue
  src/renderer/main.js
Due: eslint

Apply filtering to invidious api response.
  src/renderer/views/Channel/Channel.js
Due: eslint

Correct playlist filtering predicate for invidious API.
  src/renderer/views/Channel/Channel.js
Due: eslint

Update variable name
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/components/player-settings/player-settings.js
  src/renderer/components/player-settings/player-settings.vue
  src/renderer/store/modules/settings.js
Due: eslint

Missing change for Revert "! Fix clear text button style"
  src/renderer/components/ft-playlist-add-video-prompt/ft-playlist-add-video-prompt.vue
Due: eslint

$ Remove unused style for ft-playlist-selector
  src/renderer/components/ft-playlist-selector/ft-playlist-selector.scss
  src/renderer/components/ft-playlist-selector/ft-playlist-selector.vue
Due: eslint, stylelint

Fix issue with subscribe button styling in specific views (#4451)
  src/renderer/components/ft-subscribe-button/ft-subscribe-button.scss
Due: stylelint

Hide playlists in channel search results if "hide channel playlist" preference selected. (#4454)
  src/renderer/views/Channel/Channel.js
Due: eslint

Fix double-selection issue when auto-generated & native tracks exist, & fix similar pre-existing bug
  src/renderer/components/ft-video-player/ft-video-player.js
Due: eslint
