Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Translated using Weblate (Japanese)
  static/locales/ja.yaml
Due: none

fix icon link
  src/renderer/components/ft-input-tags/ft-input-tags.vue
Due: eslint

Add identifiers to channels hidden by ID (#4230)
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/distraction-settings/distraction-settings.vue
  src/renderer/components/ft-input-tags/ft-input-tags.css
  src/renderer/components/ft-input-tags/ft-input-tags.js
  src/renderer/components/ft-input-tags/ft-input-tags.vue
  src/renderer/components/ft-list-lazy-wrapper/ft-list-lazy-wrapper.js
  src/renderer/components/ft-list-video-lazy/ft-list-video-lazy.js
  src/renderer/helpers/channels.js
  static/locales/en-US.yaml
Due: eslint, stylelint

Translated using Weblate (Chinese (Simplified))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Translated using Weblate (Serbian)
  static/locales/sr.yaml
Due: none

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Display currently watching viewer count on live streams
  src/renderer/components/watch-video-live-chat/watch-video-live-chat.css
  src/renderer/components/watch-video-live-chat/watch-video-live-chat.js
  src/renderer/components/watch-video-live-chat/watch-video-live-chat.vue
Due: eslint, stylelint

Add missing Electron guards after #4230
  src/renderer/helpers/channels.js
Due: eslint

update 2ndfeat
  src/renderer/App.js
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/components/player-settings/player-settings.js
  src/renderer/components/player-settings/player-settings.vue
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint

removed excess code and changed 'grey' in en-US.yelm it 'gray'
  src/renderer/themes.css
  static/locales/en-US.yaml
Due: stylelint

update 2ndfeat 1
  src/renderer/App.js
Due: eslint

video id hash length to 4
  src/renderer/helpers/sponsorblock.js
Due: eslint

video id hash length to 4 (#4313)
  src/renderer/helpers/sponsorblock.js
Due: eslint

Translated using Weblate (Croatian)
  static/locales/hr.yaml
Due: none

Translated using Weblate (Portuguese)
  static/locales/pt.yaml
Due: none

Translated using Weblate (Chinese (Traditional))
  static/locales/zh-TW.yaml
Due: none

Update ft-video-player.js
  src/renderer/components/ft-video-player/ft-video-player.js
Due: eslint

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Fix logic issue
  src/renderer/helpers/channels.js
Due: eslint

Add missing Electron guards after #4230 (#4311)
  src/renderer/helpers/channels.js
Due: eslint

allow displaying the playlist page for invidious playlists
  src/renderer/helpers/api/invidious.js
  src/renderer/store/modules/utils.js
  src/renderer/views/Playlist/Playlist.js
Due: eslint

Fix share button and load thumbnail
  src/renderer/components/ft-share-button/ft-share-button.js
  src/renderer/components/ft-share-button/ft-share-button.vue
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/views/Playlist/Playlist.js
Due: eslint

Translated using Weblate (Russian)
  static/locales/ru.yaml
Due: none

add image to poll & updated quiz style
  src/renderer/components/ft-community-poll/ft-community-poll.css
  src/renderer/components/ft-community-poll/ft-community-poll.js
  src/renderer/components/ft-community-poll/ft-community-poll.vue
Due: eslint, stylelint

Translated using Weblate (Greek)
  static/locales/el.yaml
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Translated using Weblate (Ukrainian)
  static/locales/uk.yaml
Due: none

Fix DeArrow votes threshold too high
  src/renderer/components/ft-list-video/ft-list-video.js
Due: eslint

Translated using Weblate (Arabic)
  static/locales/ar.yaml
Due: none

Fix DeArrow votes threshold too high (#4321)
  src/renderer/components/ft-list-video/ft-list-video.js
Due: eslint

Highlights comments. #783
  src/constants.js
  src/datastores/handlers/base.js
  src/datastores/handlers/electron.js
  src/datastores/handlers/index.js
  src/datastores/index.js
  src/main/index.js
  src/renderer/App.js
  src/renderer/components/watch-video-comments/watch-video-comments.css
  src/renderer/components/watch-video-comments/watch-video-comments.js
  src/renderer/components/watch-video-comments/watch-video-comments.vue
  src/renderer/helpers/api/local.js
  src/renderer/store/modules/highlighted-comments.js
  src/renderer/store/modules/index.js
  static/locales/en-US.yaml
Due: eslint, stylelint

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Update app menu to add items for profile list page
  src/main/index.js
Due: eslint

Fixes relevant changes for en-US.yaml #783
  src/renderer/components/watch-video-comments/watch-video-comments.vue
  static/locales/en-US.yaml
Due: eslint

changed size of spinner icon experimented with hue-rotate for spinner
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/videoJS.css
Due: eslint, stylelint

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
