Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Add --new-window command line flag
  src/main/index.js
Due: eslint

Fix --version flag
  src/main/index.js
Due: eslint

Add --help command line flag
  src/main/index.js
Due: eslint

refactor: update playback rate handling in ft-shaka-video-player and Watch components
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
Due: eslint

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Re-export unchanged datastore classes instead of wrapping them
  src/datastores/handlers/web.js
Due: eslint

Implement changes from review
  src/renderer/components/FtKeyboardShortcutPrompt/FtKeyboardShortcutPrompt.vue
Due: eslint

refactor: simplify playback rate initialization in ft-shaka-video-player and Watch components
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/views/Watch/Watch.js
Due: eslint

feat: add catppuccin frappe color theme
  _icons/iconCatppuccinFrappeDarkSmall.svg
  _icons/iconCatppuccinFrappeLightSmall.svg
  _icons/textCatppuccinFrappeDarkSmall.svg
  _icons/textCatppuccinFrappeLightSmall.svg
  src/main/index.js
  src/renderer/components/ThemeSettings.vue
  src/renderer/composables/colors.js
  src/renderer/helpers/colors.js
  src/renderer/themes.css
  static/locales/en-US.yaml
Due: eslint, stylelint

Translated using Weblate (Afrikaans)
  static/locales/af.yaml
Due: none

Translated using Weblate (Tamil)
  static/locales/ta.yaml
Due: none

! Fix a few issues with collapsable video description
  src/renderer/components/FtTimestampCatcher.vue
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.css
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.vue
Due: eslint, stylelint

Re-export unchanged datastore classes instead of wrapping them (#6456)
  src/datastores/handlers/web.js
Due: eslint

Fix clear text button not working or appearing as active when arrowing through search history results
  src/renderer/components/ft-input/ft-input.js
Due: eslint

Switch back to the WEB client for the local API with potokens (#6436)
  _scripts/dev-runner.js
  _scripts/injectAllowedPaths.mjs
  _scripts/webpack.botGuardScript.config.js
  package.json
  src/botGuardScript.js
  src/constants.js
  src/main/index.js
  src/main/poTokenGenerator.js
  src/renderer/helpers/api/local.js
  src/renderer/views/Watch/Watch.js
  yarn.lock
Due: eslint

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

FtRadioButton and FtCheckboxList v-model and composition API
  src/renderer/components/FtCheckboxList/FtCheckboxList.css
  src/renderer/components/FtCheckboxList/FtCheckboxList.vue
  src/renderer/components/FtRadioButton/FtRadioButton.css
  src/renderer/components/FtRadioButton/FtRadioButton.vue
  src/renderer/components/FtSearchFilters/FtSearchFilters.vue
  src/renderer/components/ft-checkbox-list/ft-checkbox-list.js
  src/renderer/components/ft-checkbox-list/ft-checkbox-list.vue
  src/renderer/components/ft-radio-button/ft-radio-button.js
  src/renderer/components/ft-radio-button/ft-radio-button.vue
  src/renderer/composables/use-id-polyfill.js
Due: eslint, stylelint

Feature: remember playback rate in watch session (#6449)
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
Due: eslint

Keyboard shortcut modal (#6306)
  src/constants.js
  src/renderer/App.js
  src/renderer/App.vue
  src/renderer/components/FtKeyboardShortcutPrompt/FtKeyboardShortcutPrompt.css
  src/renderer/components/FtKeyboardShortcutPrompt/FtKeyboardShortcutPrompt.vue
  src/renderer/components/ft-prompt/ft-prompt.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/helpers/utils.js
  src/renderer/main.js
  src/renderer/store/modules/utils.js
  src/renderer/views/Settings/Settings.css
  src/renderer/views/Settings/Settings.js
  src/renderer/views/Settings/Settings.vue
  static/locales/en-US.yaml
Due: eslint, stylelint

refactor: move frappe above mocha
  src/renderer/components/ThemeSettings.vue
  src/renderer/composables/colors.js
  src/renderer/helpers/colors.js
  static/locales/en-US.yaml
Due: eslint

A few minor performance improvements
  eslint.config.mjs
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-prompt/ft-prompt.js
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/subscriptions.js
  src/renderer/helpers/utils.js
  src/renderer/store/modules/playlists.js
  src/renderer/views/Watch/Watch.js
Due: eslint

Add 'Remove' option
  src/renderer/components/ft-input/ft-input.css
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/ft-input/ft-input.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/top-nav/top-nav.vue
  src/renderer/store/modules/search-history.js
  src/renderer/store/modules/utils.js
  static/locales/en-US.yaml
Due: eslint, stylelint

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

include portable in name for 7z and zip builds
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

* Make Cmd left/right go back/forward
  src/constants.js
  src/main/index.js
  src/renderer/components/FtKeyboardShortcutPrompt/FtKeyboardShortcutPrompt.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/helpers/utils.js
  static/locales/en-US.yaml
Due: eslint

A few minor performance improvements (#6465)
  eslint.config.mjs
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-prompt/ft-prompt.js
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/subscriptions.js
  src/renderer/helpers/utils.js
  src/renderer/store/modules/playlists.js
  src/renderer/views/Watch/Watch.js
Due: eslint

! Fix more button cannot be clicked on to expand
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.vue
Due: eslint

* Update description links to not be tabbed into when description box collapsed
  src/renderer/components/FtTimestampCatcher.vue
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.vue
Due: eslint

* Update less button to be after description stuff when tabbing
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.css
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.vue
Due: eslint, stylelint

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Implement search history entries showing up alongside YT search suggestions as queries are being typed
  src/constants.js
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/ft-input/ft-input.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/top-nav/top-nav.vue
  src/renderer/store/modules/search-history.js
Due: eslint

Improve code commenting
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/top-nav/top-nav.js
  src/renderer/store/modules/search-history.js
Due: eslint

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

fix: move from mochalight icon to frappelight
  src/renderer/themes.css
Due: stylelint

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none
