Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      # Only runs when any file with filename
      # matching the glob is being committed
      glob: "*.{js,vue}"
      run: yarn run eslint --no-color {staged_files}
      skip:
        - rebase
    stylelint:
      glob: "*.{css,scss}"
      run: yarn stylelint --no-color --allow-empty-input {staged_files}
      skip:
        - rebase

# EXAMPLE USAGE
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

Update ft-shaka-video-player.css
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
Due: stylelint

Translated using Weblate (Spanish)
  static/locales/es.yaml
Due: none

Move Invidious API calls into Invidious file (#6313)
  src/renderer/components/subscriptions-live/subscriptions-live.js
  src/renderer/components/subscriptions-videos/subscriptions-videos.js
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/utils.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Hashtag/Hashtag.vue
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Popular/Popular.vue
  src/renderer/views/Search/Search.js
  src/renderer/views/Trending/Trending.js
Due: eslint

Update src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
Due: stylelint

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Japanese)
  static/locales/ja.yaml
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  static/locales/zh-TW.yaml
Due: none

improve jsdoc comments for invidious
  src/renderer/components/SideNav/SideNav.vue
  src/renderer/helpers/api/invidious.js
  src/renderer/views/Channel/Channel.js
Due: eslint

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Translated using Weblate (Icelandic)
  static/locales/is.yaml
Due: none

Fix incompatibility with upcoming YouTube.js version (#6233)
  src/renderer/helpers/api/local.js
Due: eslint

Bump version number to v0.22.1
  package.json
Due: none

Translated using Weblate (Serbian)
  static/locales/sr.yaml
Due: none

Translated using Weblate (Vietnamese)
  static/locales/vi.yaml
Due: none

Translated using Weblate (Ukrainian)
  static/locales/uk.yaml
Due: none

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

add some missing format properties and add musicTracks
  src/renderer/helpers/api/invidious.js
  src/renderer/views/Channel/Channel.js
Due: eslint

Translated using Weblate (English (United Kingdom))
  static/locales/en-GB.yaml
Due: none

Use native Shaka functions for toggling FS and PiP
  src/main/index.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.vue
Due: eslint

Make a single IPC call for the navigation history
  src/constants.js
  src/main/index.js
  src/renderer/components/top-nav/top-nav.js
Due: eslint

Bump youtubei.js from 10.5.0 to 12.2.0 + Bump version number to from v022.0 to v0.22.1 + Fix incompatibility with upcoming YouTube.js version (#6343)
  package.json
  src/renderer/helpers/api/local.js
  yarn.lock
Due: eslint

Bump version number to v0.22.1 (#6344)
  package.json
Due: none

Add support for upcoming livestream trailers
  src/renderer/helpers/api/local.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.scss
  src/renderer/views/Watch/Watch.vue
Due: eslint, stylelint

Add live chat support for upcoming videos
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
Due: eslint

Remove settings page as bookmarkable, remove unnecessary async & null access operators
  src/renderer/App.js
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/page-bookmark-prompt/page-bookmark-prompt.js
  src/renderer/components/top-nav/top-nav.js
Due: eslint

Migrate PageBookmarkPrompt to Composition API
  src/renderer/App.js
  src/renderer/components/PageBookmarkPrompt/PageBookmarkPrompt.css
  src/renderer/components/PageBookmarkPrompt/PageBookmarkPrompt.vue
  src/renderer/components/page-bookmark-prompt/page-bookmark-prompt.js
  src/renderer/components/page-bookmark-prompt/page-bookmark-prompt.vue
Due: eslint, stylelint

fix(subscription-settings.vue) Better description for hiding watched videos
  src/renderer/components/subscription-settings/subscription-settings.vue
Due: eslint

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Translated using Weblate (Portuguese)
  static/locales/pt.yaml
Due: none

Translated using Weblate (Bulgarian)
  static/locales/bg.yaml
Due: none

Fix search title not updating
  src/renderer/App.js
  src/renderer/components/top-nav/top-nav.js
  src/renderer/store/modules/utils.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Hashtag/Hashtag.vue
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Post.vue
  src/renderer/views/Search/Search.js
  src/renderer/views/Watch/Watch.js
Due: eslint

Browser Extensions
  README.md
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Add live chat support for upcoming videos (#6376)
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
Due: eslint
