Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Translated using Weblate (Bulgarian)
  static/locales/bg.yaml
Due: none

! Fix watch page playlist component not scrolled to current video on load (#8239)
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
Due: eslint

Validate sender in all IPC event handlers
  src/main/index.js
Due: eslint

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Invidious API: Fix published dates on recommended videos
  src/renderer/views/Watch/Watch.js
Due: eslint

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

change profile icon
  src/renderer/components/CommentSection/CommentSection.css
  src/renderer/components/FtProfileBubble/FtProfileBubble.vue
  src/renderer/components/FtProfileEdit/FtProfileEdit.vue
  src/renderer/components/FtProfileSelector/FtProfileSelector.vue
Due: eslint, stylelint

Translated using Weblate (Norwegian Bokmål)
  static/locales/nb-NO.yaml
Due: none

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Validate sender in all IPC event handlers (#8248)
  src/main/index.js
Due: eslint

Add Catpuccin Latte Theme (#7943)
  _icons/iconCatppuccinLatteDarkSmall.svg
  _icons/iconCatppuccinLatteLightSmall.svg
  _icons/textCatppuccinLatteDarkSmall.svg
  _icons/textCatppuccinLatteLightSmall.svg
  src/main/index.js
  src/renderer/components/ThemeSettings.vue
  src/renderer/composables/colors.js
  src/renderer/helpers/colors.js
  src/renderer/themes.css
  static/locales/en-US.yaml
Due: eslint, stylelint

Wrap interactive FontAwesomeIcons in actual buttons (#8206)
  src/renderer/components/FtInputTags/FtInputTags.css
  src/renderer/components/FtInputTags/FtInputTags.vue
  src/renderer/components/FtNotificationBanner/FtNotificationBanner.css
  src/renderer/components/FtNotificationBanner/FtNotificationBanner.vue
  src/renderer/components/TopNav/TopNav.scss
  src/renderer/components/TopNav/TopNav.vue
  src/renderer/components/ft-icon-button/ft-icon-button.scss
  src/renderer/components/ft-icon-button/ft-icon-button.vue
  src/renderer/components/ft-list-video/ft-list-video.scss
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/watch-video-playlist/watch-video-playlist.css
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
  src/renderer/views/Settings/Settings.css
  src/renderer/views/Settings/Settings.vue
Due: eslint, stylelint

! Fix top nav cannot search in new window
  src/renderer/components/TopNav/TopNav.vue
Due: eslint

! Fix playlist progress bar preview broken in IV API (#8245)
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
Due: eslint

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

Invidious API: Fix published dates on recommended videos (#8251)
  src/renderer/views/Watch/Watch.js
Due: eslint

fix subscribe button
  src/renderer/components/FtSubscribeButton/FtSubscribeButton.vue
Due: eslint

! Fix subscription count display on watch page with IV API
  src/renderer/views/Watch/Watch.js
Due: eslint

Add support for importing and exporting search history (#8237)
  src/constants.js
  src/datastores/handlers/base.js
  src/datastores/handlers/electron.js
  src/main/index.js
  src/renderer/components/DataSettings.vue
  src/renderer/store/modules/search-history.js
  src/renderer/store/modules/settings.js
  static/locales/en-US.yaml
Due: eslint

Translated using Weblate (Breton)
  static/locales/br.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

! Fix top nav cannot search in new window (#8254)
  src/renderer/components/TopNav/TopNav.vue
Due: eslint

change toast popup var
  src/renderer/components/FtPlaylistAddVideoPrompt/FtPlaylistAddVideoPrompt.vue
Due: eslint

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

* Use same subscription count handling as local API
  src/renderer/views/Watch/Watch.js
Due: eslint

~ Fix type definition
  src/renderer/helpers/player/SabrSchemePlugin.js
Due: eslint

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  static/locales/zh-TW.yaml
Due: none

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Change profile icon to include lowercase letters (#8253)
  src/renderer/components/CommentSection/CommentSection.css
  src/renderer/components/FtProfileBubble/FtProfileBubble.vue
  src/renderer/components/FtProfileEdit/FtProfileEdit.vue
  src/renderer/components/FtProfileSelector/FtProfileSelector.vue
  src/renderer/components/FtSubscribeButton/FtSubscribeButton.vue
Due: eslint, stylelint

remove uppercase on various places
  src/renderer/components/ChannelDetails/ChannelDetails.vue
  src/renderer/components/FtSubscribeButton/FtSubscribeButton.vue
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/scss-partials/_ft-list-item.scss
  src/renderer/views/Subscriptions/Subscriptions.css
  src/renderer/views/Trending/Trending.vue
Due: eslint, stylelint

Specify window position in constructor for better wayland compatibility (#8238)
  src/main/index.js
Due: eslint

Fix subscription count display on watch page with IV API (#8255)
  src/renderer/views/Watch/Watch.js
Due: eslint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
