Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

* Revert png file changes due to usage of --strip all
  _icons/iconColor.png
  src/renderer/assets/img/defaultBanner.png
  src/renderer/assets/img/yt_logo_mono_dark.png
Due: none

Show 'Premiere' instead of 'Live' for premieres (#9795)
  src/renderer/components/FtListVideo/FtListVideo.vue
  src/renderer/helpers/api/local.js
  static/locales/en-US.yaml
Due: eslint

change userplaylist header icon
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Due: eslint

Fix: playlist info image can be stretched
  src/renderer/components/PlaylistInfo/PlaylistInfo.scss
Due: stylelint

feat: Add initial support for YouTube clip links (#9532)
  src/renderer/App.vue
  src/renderer/components/FtInput/FtInput.vue
  src/renderer/components/TopNav/TopNav.vue
  src/renderer/helpers/api/invidious.js
  src/renderer/helpers/api/local.js
  src/renderer/helpers/api/shared.js
  src/renderer/store/modules/utils.js
Due: eslint

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Translated using Weblate (Czech)
  static/locales/cs.yaml
Due: none

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Translated using Weblate (Japanese)
  static/locales/ja.yaml
Due: none

Translated using Weblate (Azerbaijani)
  static/locales/az.yaml
Due: none

Fix invidious channels not showing correct icon in channel tab
  src/renderer/components/FtListPlaylist/FtListPlaylist.vue
Due: eslint

Fix: 'Hide text' setting with Invidious throwing in various places
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
Due: eslint

* Update auto created PR title in workflow
  .github/workflows/compress-images.yml
Due: none

^ Upgrade electron-context-menu to 5.x
  package.json
  pnpm-lock.yaml
Due: none

* Update main process to use new clipboard API
  src/main/index.js
Due: eslint

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (Slovak)
  static/locales/sk.yaml
Due: none

Fix: Various dates not displayed correctly in Azerbaijani (#9786)
  src/renderer/components/ChannelAbout/ChannelAbout.vue
  src/renderer/components/WatchVideoInfo/WatchVideoInfo.vue
  src/renderer/helpers/utils.js
  src/renderer/views/Watch/Watch.js
Due: eslint

Add local development flatpak target to ebuilder.config.mjs, update linux category metadata (#9524)
  _scripts/ebuilder.config.mjs
Due: none

add case for length 11
  src/renderer/components/FtListVideo/FtListVideo.vue
Due: eslint

Add workflows to optimize PNG & SVG files (#9719)
  .github/workflows/build.yml
  .github/workflows/compress-images.yml
Due: none

Fix: playlist info image can be stretched (#9805)
  src/renderer/components/PlaylistInfo/PlaylistInfo.scss
Due: stylelint

Update to pnpm 11 and enable dedupePeers
  .github/workflows/build.yml
  .github/workflows/compress-images.yml
  .github/workflows/linter.yml
  .github/workflows/release.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Run pnpm install --frozen-lockfile directly
  .github/workflows/build.yml
  .github/workflows/linter.yml
  .github/workflows/release.yml
  package.json
Due: none

Add cache-mode to all GitHub Actions workflows
  .github/workflows/autoMerge.yml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/compress-images.yml
  .github/workflows/conflicts.yml
  .github/workflows/label-issue.yml
  .github/workflows/label-pr.yml
  .github/workflows/linter.yml
  .github/workflows/no-response.yml
  .github/workflows/release.yml
  .github/workflows/remove-outdated-labels.yml
  .github/workflows/stale.yml
  .github/workflows/updateSite.yml
Due: none

Translated using Weblate (Indonesian)
  static/locales/id.yaml
Due: none

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Update to pnpm 11 and enable dedupePeers (#9766)
  .github/workflows/build.yml
  .github/workflows/compress-images.yml
  .github/workflows/linter.yml
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Translated using Weblate (Norwegian Nynorsk)
  static/locales/nn.yaml
Due: none

Add cache-mode to all GitHub Actions workflows (#9809)
  .github/workflows/autoMerge.yml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/compress-images.yml
  .github/workflows/conflicts.yml
  .github/workflows/label-issue.yml
  .github/workflows/label-pr.yml
  .github/workflows/linter.yml
  .github/workflows/no-response.yml
  .github/workflows/release.yml
  .github/workflows/remove-outdated-labels.yml
  .github/workflows/stale.yml
  .github/workflows/updateSite.yml
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  static/locales/zh-TW.yaml
Due: none

Translated using Weblate (Esperanto)
  static/locales/eo.yaml
Due: none

Fix: 'Hide text' setting with Invidious throwing in various places (#9806)
  src/renderer/components/FtListLazyWrapper/FtListLazyWrapper.vue
Due: eslint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
