Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Convert watch-video-info SCSS to CSS
  src/renderer/components/watch-video-info/watch-video-info.css
  src/renderer/components/watch-video-info/watch-video-info.scss
  src/renderer/components/watch-video-info/watch-video-info.vue
Due: eslint, stylelint

Use numbers instead of strings for the DBActions and SyncEvents constants
  src/constants.js
Due: eslint

Fix duplicate number
  src/constants.js
Due: eslint

Direct users to search for open+closed issues (#6810)
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  README.md
Due: none

Local API: Improve audio quality by sorting streams, highest bitrate first (#6807)
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

Migrate DataSettings to the composition API (#6785)
  src/renderer/components/DataSettings.vue
  src/renderer/components/data-settings/data-settings.js
  src/renderer/components/data-settings/data-settings.vue
  src/renderer/views/Settings/Settings.js
Due: eslint

rem --ltr-or-rtl
  src/renderer/themes.css
Due: stylelint

Use logical spec for float (#6783)
  .stylelintrc.json
  src/renderer/components/CommentSection/CommentSection.css
  src/renderer/components/FtCommunityPoll/FtCommunityPoll.css
  src/renderer/components/ft-input-tags/ft-input-tags.css
  src/renderer/components/ft-input/ft-input.css
  src/renderer/components/ft-profile-selector/ft-profile-selector.css
  src/renderer/components/playlist-info/playlist-info.scss
  src/renderer/themes.css
  src/renderer/views/Watch/Watch.scss
Due: stylelint

use hq img
  _icons/icon.icns
Due: none

Set process.platform at build time (#6784)
  _scripts/webpack.main.config.js
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
  src/main/index.js
  src/renderer/components/player-settings/player-settings.js
  src/renderer/components/top-nav/top-nav.js
Due: eslint

Translated using Weblate (Turkish)
  static/locales/tr.yaml
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

fix misalignment
  src/renderer/components/ft-input/ft-input.css
Due: stylelint

Move the choose default folder logic to the main process (#6811)
  src/constants.js
  src/datastores/handlers/base.js
  src/main/index.js
  src/renderer/components/download-settings/download-settings.js
  src/renderer/components/player-settings/player-settings.js
Due: eslint

use hq img (#6826)
  _icons/icon.icns
Due: none

Check if a keyboard composition session is active when pressing 'Enter' on ft-input (#6799)
  src/renderer/components/ft-input/ft-input.js
Due: eslint

Fix CSS formatting
  src/renderer/components/watch-video-info/watch-video-info.css
Due: stylelint

Fix: search history text overflows if search term is long (#6728)
  src/renderer/components/ft-input/ft-input.css
  src/renderer/components/ft-input/ft-input.vue
Due: eslint, stylelint

remove Array.from
  src/renderer/helpers/strings.js
Due: eslint

Translated using Weblate (English (United Kingdom))
  static/locales/en-GB.yaml
Due: none

stop autoplay when it's been disabled
  package.json
Due: none

remove comment
  src/renderer/helpers/strings.js
Due: eslint

Start offset numbers at 20
  src/constants.js
Due: eslint

Use numbers instead of strings for the DBActions and SyncEvents constants (#6815)
  src/constants.js
Due: eslint

Convert FtSubscribeButton and watch-video-info SCSS to CSS (#6814)
  src/renderer/components/FtSubscribeButton/FtSubscribeButton.css
  src/renderer/components/FtSubscribeButton/FtSubscribeButton.scss
  src/renderer/components/FtSubscribeButton/FtSubscribeButton.vue
  src/renderer/components/watch-video-info/watch-video-info.css
  src/renderer/components/watch-video-info/watch-video-info.scss
  src/renderer/components/watch-video-info/watch-video-info.vue
Due: eslint, stylelint

* Use 2 arrays
  src/renderer/components/privacy-settings/privacy-settings.js
  src/renderer/components/privacy-settings/privacy-settings.vue
Due: eslint

* Data
  src/renderer/components/privacy-settings/privacy-settings.js
Due: eslint

fix bug when fetching more hashtag in invidious, use hashtag ref instead of a paremeter
  src/renderer/views/Hashtag/Hashtag.vue
Due: eslint

Fix getting invidious hashtag
  src/renderer/views/Hashtag/Hashtag.vue
Due: eslint

fix most popular page
  src/renderer/views/Popular/Popular.vue
Due: eslint

Add icon to search page, hide settings icon on mobile
  src/renderer/components/FtSettingsMenu/FtSettingsMenu.css
  src/renderer/views/Search/Search.css
  src/renderer/views/Search/Search.vue
Due: eslint, stylelint

Add icons to page headers
  src/renderer/components/FtSettingsMenu/FtSettingsMenu.css
  src/renderer/components/FtSettingsMenu/FtSettingsMenu.vue
  src/renderer/main.js
  src/renderer/views/About/About.css
  src/renderer/views/About/About.vue
  src/renderer/views/History/History.css
  src/renderer/views/History/History.vue
  src/renderer/views/Popular/Popular.css
  src/renderer/views/Popular/Popular.vue
  src/renderer/views/SubscribedChannels/SubscribedChannels.css
  src/renderer/views/SubscribedChannels/SubscribedChannels.vue
  src/renderer/views/Subscriptions/Subscriptions.css
  src/renderer/views/Subscriptions/Subscriptions.vue
  src/renderer/views/UserPlaylists/UserPlaylists.css
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Due: eslint, stylelint

use icon for hashtag as well
  src/renderer/views/Hashtag/Hashtag.css
  src/renderer/views/Hashtag/Hashtag.vue
Due: eslint, stylelint

Add support for channel's `Courses` tab
  src/renderer/components/ChannelDetails/ChannelDetails.vue
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/distraction-settings/distraction-settings.vue
  src/renderer/helpers/api/invidious.js
  src/renderer/store/modules/settings.js
  src/renderer/store/modules/utils.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Channel/Channel.vue
  static/locales/en-US.yaml
Due: eslint

use array index instead of `first()`
  src/renderer/helpers/api/local.js
Due: eslint

Allow comments to be sorted when using local api
  src/renderer/helpers/api/local.js
  src/renderer/views/Post.vue
Due: eslint

Add local api support for viewing community posts
  src/renderer/components/CommentSection/CommentSection.vue
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
  src/renderer/helpers/api/local.js
  src/renderer/views/Post.vue
Due: eslint

remove unused translation strings
  static/locales/af.yaml
  static/locales/ar.yaml
  static/locales/be.yaml
  static/locales/bg.yaml
  static/locales/br.yaml
  static/locales/cs.yaml
  static/locales/cy.yaml
  static/locales/de-DE.yaml
  static/locales/en-GB.yaml
  static/locales/en-US.yaml
  static/locales/es.yaml
  static/locales/et.yaml
  static/locales/eu.yaml
  static/locales/fa.yaml
  static/locales/fr-FR.yaml
  static/locales/he.yaml
  static/locales/hr.yaml
  static/locales/hu.yaml
  static/locales/is.yaml
  static/locales/it.yaml
  static/locales/ja.yaml
  static/locales/my.yaml
  static/locales/nl.yaml
  static/locales/pl.yaml
  static/locales/pt-BR.yaml
  static/locales/pt.yaml
  static/locales/ru.yaml
  static/locales/sr.yaml
  static/locales/ta.yaml
  static/locales/tr.yaml
  static/locales/uk.yaml
  static/locales/vls.yaml
  static/locales/zh-CN.yaml
  static/locales/zh-TW.yaml
Due: none

add 'local' to function name to get post comments, update innertube methods to reflect naming changes made in the youtube.js PR
  src/renderer/components/CommentSection/CommentSection.vue
  src/renderer/helpers/api/local.js
  src/renderer/views/Post.vue
Due: eslint

remove new translations
  static/locales/awa.yaml
  static/locales/vi.yaml
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
