Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Translated using Weblate (Ukrainian)
  static/locales/uk.yaml
Due: none

Fix button alignment in remote playlists
  src/renderer/components/playlist-info/playlist-info.scss
Due: stylelint

Translated using Weblate (Hungarian)
  static/locales/hu.yaml
Due: none

Add Catppuccin Frappe color theme (#6445)
  _icons/iconCatppuccinFrappeDarkSmall.svg
  _icons/iconCatppuccinFrappeLightSmall.svg
  _icons/textCatppuccinFrappeDarkSmall.svg
  _icons/textCatppuccinFrappeLightSmall.svg
  src/main/index.js
  src/renderer/components/ThemeSettings.vue
  src/renderer/composables/colors.js
  src/renderer/helpers/colors.js
  src/renderer/themes.css
  static/locales/en-US.yaml
Due: eslint, stylelint

compress frappe svgs
  _icons/iconCatppuccinFrappeDarkSmall.svg
  _icons/iconCatppuccinFrappeLightSmall.svg
  _icons/textCatppuccinFrappeDarkSmall.svg
  _icons/textCatppuccinFrappeLightSmall.svg
Due: none

revert portable naming for mac builds
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Implement code review changes
  src/constants.js
  src/renderer/components/ft-input/ft-input.css
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/top-nav/top-nav.js
  src/renderer/store/modules/search-history.js
  src/renderer/views/Search/Search.js
Due: eslint, stylelint

feat: add everforest color scheme
  _icons/iconEverforestDarkHardSmall.svg
  _icons/iconEverforestDarkLowSmall.svg
  _icons/iconEverforestDarkMediumSmall.svg
  _icons/iconEverforestLightHardSmall.svg
  _icons/iconEverforestLightLowSmall.svg
  _icons/iconEverforestLightMediumSmall.svg
  _icons/textEverforestDarkHardSmall.svg
  _icons/textEverforestDarkLowSmall.svg
  _icons/textEverforestDarkMediumSmall.svg
  _icons/textEverforestLightHardSmall.svg
  _icons/textEverforestLightLowSmall.svg
  _icons/textEverforestLightMediumSmall.svg
  src/main/index.js
  src/renderer/components/ThemeSettings.vue
  src/renderer/composables/colors.js
  src/renderer/helpers/colors.js
  src/renderer/themes.css
  static/locales/en-US.yaml
Due: eslint, stylelint

perf: compress svg file sizes
  _icons/iconEverforestDarkHardSmall.svg
  _icons/iconEverforestDarkLowSmall.svg
  _icons/iconEverforestDarkMediumSmall.svg
  _icons/iconEverforestLightHardSmall.svg
  _icons/iconEverforestLightLowSmall.svg
  _icons/iconEverforestLightMediumSmall.svg
  _icons/textEverforestDarkHardSmall.svg
  _icons/textEverforestDarkLowSmall.svg
  _icons/textEverforestDarkMediumSmall.svg
  _icons/textEverforestLightHardSmall.svg
  _icons/textEverforestLightLowSmall.svg
  _icons/textEverforestLightMediumSmall.svg
Due: none

fix: fix light secondary accent colors
  src/renderer/themes.css
Due: stylelint

compress frappe svgs (#6467)
  _icons/iconCatppuccinFrappeDarkSmall.svg
  _icons/iconCatppuccinFrappeLightSmall.svg
  _icons/textCatppuccinFrappeDarkSmall.svg
  _icons/textCatppuccinFrappeLightSmall.svg
Due: none

Disable store strict mode, due to performance problems because of the amount of data in the store
  src/renderer/store/index.js
  src/renderer/store/modules/profiles.js
Due: eslint

Migrate ChannelAbout to the composition API
  src/renderer/components/ChannelAbout/ChannelAbout.css
  src/renderer/components/ChannelAbout/ChannelAbout.vue
  src/renderer/components/channel-about/channel-about.js
  src/renderer/views/Channel/Channel.js
Due: eslint, stylelint

Migrate ChannelAbout to the composition API (#6470)
  src/renderer/components/ChannelAbout/ChannelAbout.css
  src/renderer/components/ChannelAbout/ChannelAbout.vue
  src/renderer/components/channel-about/channel-about.js
  src/renderer/views/Channel/Channel.js
Due: eslint, stylelint

[Feature] Playlist: Sort videos by published date (#6280)
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/helpers/playlists.js
  src/renderer/helpers/utils.js
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
  static/locales/en-US.yaml
Due: eslint

Disable store strict mode, due to performance problems because of the amount of data in the store (#6469)
  src/renderer/store/index.js
  src/renderer/store/modules/profiles.js
Due: eslint

! Fix wrong new shortcut
  src/constants.js
  src/main/index.js
Due: eslint

* Allow shortcut label separator to be translated
  src/renderer/helpers/utils.js
  static/locales/en-US.yaml
Due: eslint

refactor: rename turquoise to aqua
  src/renderer/composables/colors.js
  src/renderer/helpers/colors.js
  static/locales/en-US.yaml
Due: eslint

refactor: keep a-z sorting in themesettings
  src/renderer/components/ThemeSettings.vue
Due: eslint

fix: change missing css from turquoise to aqua
  src/renderer/themes.css
Due: stylelint

feat: apply a-z sorting in color.js files
  src/renderer/composables/colors.js
  src/renderer/helpers/colors.js
Due: eslint

Fix text overflow issue with long search history entries
  src/renderer/components/ft-input/ft-input.css
  src/renderer/components/ft-input/ft-input.vue
Due: eslint, stylelint

FtRadioButton and FtCheckboxList v-model and composition API (#6463)
  src/renderer/components/FtCheckboxList/FtCheckboxList.css
  src/renderer/components/FtCheckboxList/FtCheckboxList.vue
  src/renderer/components/FtRadioButton/FtRadioButton.css
  src/renderer/components/FtRadioButton/FtRadioButton.vue
  src/renderer/components/FtSearchFilters/FtSearchFilters.vue
  src/renderer/components/ft-checkbox-list/ft-checkbox-list.js
  src/renderer/components/ft-checkbox-list/ft-checkbox-list.vue
  src/renderer/components/ft-radio-button/ft-radio-button.js
  src/renderer/components/ft-radio-button/ft-radio-button.vue
  src/renderer/composables/use-id-polyfill.js
Due: eslint, stylelint

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (French)
  static/locales/fr-FR.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

$ Remove unnecessary template tag
  src/renderer/components/WatchVideoDescription/WatchVideoDescription.vue
Due: eslint

feat: add volume and playback rate change notification feature to video player
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.vue
  src/renderer/main.js
Due: eslint, stylelint

Translated using Weblate (English (United Kingdom))
  static/locales/en-GB.yaml
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
