Repository FreeTubeApp/FreeTube: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: yarn run eslint --no-color {staged_files}
  skip:
  - rebase

stylelint:
  run: yarn stylelint --no-color --allow-empty-input {staged_files}
  skip:
  - rebase

Use raw query for suggestions
  src/renderer/components/TopNav/TopNav.vue
Due: eslint

Change settings order
  src/renderer/views/Settings/Settings.js
Due: eslint

Translated using Weblate (Portuguese (Brazil))
  static/locales/pt-BR.yaml
Due: none

Fix HTTP 429 errors for auto-translated subtitles (#7711)
  src/main/index.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/views/Watch/Watch.js
Due: eslint

fix: update history when video previously watched
  src/renderer/components/watch-video-info/watch-video-info.js
Due: eslint

Translated using Weblate (Chinese (Simplified Han script))
  static/locales/zh-CN.yaml
Due: none

Translated using Weblate (Italian)
  static/locales/it.yaml
Due: none

Translated using Weblate (German)
  static/locales/de-DE.yaml
Due: none

inline trimmed query
  src/renderer/components/TopNav/TopNav.vue
Due: eslint

delete trimmedQuery const
  src/renderer/components/TopNav/TopNav.vue
Due: eslint

Translated using Weblate (Estonian)
  static/locales/et.yaml
Due: none

Fix 'more' button not closing
  src/renderer/components/SideNavMoreOptions/SideNavMoreOptions.vue
Due: eslint

inline if statement
  src/renderer/components/SideNavMoreOptions/SideNavMoreOptions.vue
Due: eslint

Add z-index to infoArea to fix media formats menu cut off
  src/renderer/views/Watch/Watch.scss
Due: stylelint

fix indent
  src/renderer/components/distraction-settings/distraction-settings.vue
Due: eslint

fix: thumbnail opening external player not updating history
  src/renderer/components/ft-list-video/ft-list-video.js
Due: eslint

fix: only show toast if video is not already in history
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/watch-video-info/watch-video-info.js
Due: eslint

fix going to posts without the channel id in the url
  src/renderer/helpers/api/local.js
Due: eslint

Fix progress bar not staying in video card
  src/renderer/components/ft-list-video/ft-list-video.js
Due: eslint

Add local api support for viewing individual community posts + comments
  src/renderer/components/CommentSection/CommentSection.vue
  src/renderer/components/FtCommunityPost/FtCommunityPost.vue
  src/renderer/helpers/api/local.js
  src/renderer/views/Post.vue
  static/locales/en-US.yaml
Due: eslint

use array index instead of `first()`
  src/renderer/helpers/api/local.js
Due: eslint

fix issue when navigating to a new community post
  src/renderer/views/Post.vue
Due: eslint

adjust comment
  src/renderer/helpers/api/local.js
Due: eslint

Translated using Weblate (Portuguese)
  static/locales/pt.yaml
Due: none

switch password and sponsorblock
  src/renderer/views/Settings/Settings.js
Due: eslint

add seperate class for side bar title
  src/renderer/components/distraction-settings/distraction-settings.css
  src/renderer/components/distraction-settings/distraction-settings.vue
Due: eslint, stylelint

Add fast forward and rewind pop up
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
Due: eslint

fix lint
  src/renderer/components/distraction-settings/distraction-settings.css
Due: stylelint

Hide home channel tab if empty
  src/renderer/views/Channel/Channel.vue
Due: eslint

modify vue template and add functionality to invert icon order
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.vue
Due: eslint

Fix linting error
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.vue
Due: eslint, stylelint

Translated using Weblate (Polish)
  static/locales/pl.yaml
Due: none

Hide home channel tab if empty (#7730)
  src/renderer/views/Channel/Channel.vue
Due: eslint

fix: remove autosave watched progress check
  src/renderer/components/ft-list-video/ft-list-video.js
Due: eslint

Translated using Weblate (Chinese (Traditional Han script))
  static/locales/zh-TW.yaml
Due: none

rename function parameter and document it
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.css
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.js
  src/renderer/components/ft-shaka-video-player/ft-shaka-video-player.vue
Due: eslint, stylelint

Fix suggestion cut off with keyboard selection
  src/renderer/components/ft-input/ft-input.js
Due: eslint

Revert "fix lint"
  src/renderer/components/distraction-settings/distraction-settings.css
Due: stylelint

Revert "add seperate class for side bar title"
  src/renderer/components/distraction-settings/distraction-settings.css
  src/renderer/components/distraction-settings/distraction-settings.vue
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,vue}
  stylelint: any of: *.{css,scss}
